{
  "openapi": "3.0.0",
  "info": {
    "title": "API League",
    "description": "API League is a Hub for World Class APIs.",
    "termsOfService": "https://apileague.com/terms",
    "version": "1.0.0",
    "contact": {
      "name": "David Urbansky",
      "email": "mail@apileague.com"
    }
  },
  "servers": [
    {
      "url": "https://api.apileague.com"
    }
  ],
  "paths": {
    "/search-books": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "available": {
                      "type": "integer"
                    },
                    "number": {
                      "type": "integer"
                    },
                    "offset": {
                      "type": "integer"
                    },
                    "books": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string",
                            "nullable": true
                          },
                          "image": {
                            "type": "string",
                            "nullable": true
                          },
                          "id": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Response": {
                    "value": {
                      "available": 5999,
                      "number": 10,
                      "offset": 0,
                      "books": [
                        {
                          "title": "Journey to Hogwarts",
                          "image": "https://covers.openlibrary.org/b/id/2520429-M.jpg",
                          "id": 17200576
                        },
                        {
                          "image": "https://covers.openlibrary.org/b/id/2520430-M.jpg",
                          "id": 15954006,
                          "title": "Inside Hogwarts",
                          "subtitle": "Magical Paintbook"
                        },
                        {
                          "title": "Harry Potter and the Goblet of Fire",
                          "image": "https://covers.openlibrary.org/b/id/12775900-M.jpg",
                          "id": 16384516
                        },
                        {
                          "title": "Harry Potter and the Order of the Phoenix",
                          "image": "https://covers.openlibrary.org/b/id/11416565-M.jpg",
                          "id": 14296534
                        },
                        {
                          "title": "Great Gatsby (Silver Screen Edition)",
                          "image": "https://covers.openlibrary.org/b/id/12791857-M.jpg",
                          "id": 14530450
                        },
                        {
                          "image": "https://covers.openlibrary.org/b/id/394001-M.jpg",
                          "id": 18810398,
                          "title": "The Hobbit",
                          "subtitle": "or, There and back again"
                        },
                        {
                          "image": "https://covers.openlibrary.org/b/id/6282709-M.jpg",
                          "id": 13597674,
                          "title": "The Name of the Wind",
                          "subtitle": "The Kingkiller Chronicle : day one"
                        },
                        {
                          "image": "https://covers.openlibrary.org/b/id/13220226-M.jpg",
                          "id": 20778556,
                          "title": "Two Towers : The Lord of the Rings",
                          "subtitle": "Part Two"
                        },
                        {
                          "title": "Frankenstein (Silver Screen Edition)",
                          "image": "https://covers.openlibrary.org/b/id/12791860-M.jpg",
                          "id": 20101114
                        },
                        {
                          "title": "Bogar b\u00e1rd mes\u00e9i",
                          "image": "https://covers.openlibrary.org/b/id/9326689-M.jpg",
                          "id": 17798828
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment Required"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "parameters": [
          {
            "name": "query",
            "description": "The search query.",
            "schema": {
              "pattern": ".",
              "maxLength": 300,
              "type": "string",
              "example": "books about wizards"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "earliest-publish-year",
            "description": "The books must have been published after this year.",
            "schema": {
              "format": "int32",
              "minimum": 0,
              "maximum": 9999,
              "type": "integer",
              "example": 2022
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "latest-publish-year",
            "description": "The books must have been published before this year.",
            "schema": {
              "format": "int32",
              "minimum": 0,
              "maximum": 9999,
              "type": "integer",
              "example": 2023
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "min-rating",
            "description": "The minimum rating the book must have gotten in the interval [0,1].",
            "schema": {
              "format": "double",
              "minimum": 0,
              "maximum": 1,
              "type": "number",
              "example": 0.8
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "max-rating",
            "description": "The maximum rating the book must have gotten in the interval [0,1].",
            "schema": {
              "format": "double",
              "minimum": 0,
              "maximum": 1,
              "type": "number",
              "example": 0.99
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "genres",
            "description": "A comma-separated list of genres. Only books from any of the given genres will be returned.",
            "schema": {
              "pattern": ".",
              "maxLength": 1000,
              "type": "string",
              "example": "nonfiction"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "authors",
            "description": "A comma-separated list of author ids or names. Only books from any of the given authors will be returned. You can retrieve author ids from the search authors endpoint. Pass author names is slower and if two authors have the same name you can't disambiguate.",
            "schema": {
              "pattern": ".",
              "maxLength": 1000,
              "type": "string",
              "example": "J.K. Rowling"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "isbn",
            "description": "Only the book matching the ISBN-13 will be returned",
            "schema": {
              "pattern": ".",
              "maxLength": 13,
              "type": "string",
              "example": "9781781257654"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "oclc",
            "description": "Only the book matching the OCLC will be returned",
            "schema": {
              "pattern": ".",
              "maxLength": 100,
              "type": "string",
              "example": "864418200"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "sort",
            "description": "The sorting criteria (publish-date or rating).",
            "schema": {
              "pattern": ".",
              "maxLength": 10000,
              "type": "string",
              "example": "rating"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "sort-direction",
            "description": "Whether to sort ascending or descending (ASC or DESC).",
            "schema": {
              "pattern": ".",
              "maxLength": 4,
              "type": "string",
              "example": "DESC"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "group-results",
            "description": "Whether to group similar editions of the same book.",
            "schema": {
              "type": "boolean",
              "example": false
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "offset",
            "description": "The number of books to skip in range [0,1000]",
            "schema": {
              "format": "int32",
              "minimum": 0,
              "maximum": 1000,
              "type": "integer",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "number",
            "description": "The number of books to return in range [1,100]",
            "schema": {
              "format": "int32",
              "minimum": 1,
              "maximum": 100,
              "type": "integer",
              "example": 10
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          }
        ],
        "externalDocs": {
          "description": "Read entire docs",
          "url": "https://apileague.com/apis/search-books-api/"
        },
        "summary": "Search Books",
        "tags": [
          "Books"
        ],
        "description": "Search and filter books based on matching a query, the ISBN, rating, and more fields. The query is semantically parsed using our own large ontology. That means you can search paranormal books and the ontology knows that Aliens, Werewolves, Ghosts, and Shapeshifters fall into that category.",
        "operationId": "searchBooks",
        "deprecated": false
      }
    },
    "/list-similar-books": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "similar_books": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string",
                            "nullable": true
                          },
                          "image": {
                            "type": "string",
                            "nullable": true
                          },
                          "id": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Response": {
                    "value": {
                      "similar_books": [
                        {
                          "title": "Harry Potter and the Order of the Phoenix",
                          "image": "https://covers.openlibrary.org/b/id/11416565-M.jpg",
                          "id": 14296534
                        },
                        {
                          "title": "Harry Potter and the Half-Blood Prince",
                          "image": "https://covers.openlibrary.org/b/id/8235163-M.jpg",
                          "id": 16499448
                        },
                        {
                          "title": "Blood and Fire",
                          "image": "https://covers.openlibrary.org/b/id/10404497-M.jpg",
                          "id": 18610968
                        },
                        {
                          "image": "https://covers.openlibrary.org/b/id/6657713-M.jpg",
                          "id": 20464852,
                          "title": "Towers of midnight",
                          "subtitle": "Wheel of Time Book 13"
                        },
                        {
                          "image": "https://covers.openlibrary.org/b/id/3027823-M.jpg",
                          "id": 13804028,
                          "title": "Best of Robert Jordan",
                          "subtitle": "The Shadow Rising; The Fires of Heaven; Lord of Chaos; A Crown of Swords (The Wheel of Time Series)"
                        },
                        {
                          "title": "MAR, Volume 7",
                          "image": "https://covers.openlibrary.org/b/id/765103-M.jpg",
                          "id": 14987824
                        },
                        {
                          "title": "The Daysong of the Knightbird",
                          "image": "https://covers.openlibrary.org/b/id/1822804-M.jpg",
                          "id": 19984854
                        },
                        {
                          "title": "The key",
                          "image": "https://covers.openlibrary.org/b/id/8369732-M.jpg",
                          "id": 17174416
                        },
                        {
                          "title": "Bring me the head of Prince Charming",
                          "image": "https://covers.openlibrary.org/b/id/3965371-M.jpg",
                          "id": 20121054
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment Required"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "The id of the book to which similar books should be found.",
            "schema": {
              "format": "int32",
              "minimum": 0,
              "maximum": 999999999,
              "type": "integer",
              "example": 8302059
            },
            "required": true,
            "style": "simple",
            "explode": false,
            "in": "path"
          },
          {
            "name": "number",
            "description": "The number of similar books to return in range [1,100]",
            "schema": {
              "format": "int32",
              "minimum": 1,
              "maximum": 100,
              "type": "integer",
              "example": 10
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          }
        ],
        "externalDocs": {
          "description": "Read entire docs",
          "url": "https://apileague.com/apis/find-similar-books-api/"
        },
        "summary": "Find Similar Books",
        "tags": [
          "Books"
        ],
        "description": "Find books that are similar to the given book. This is useful for recommending books to users based on their reading history or preferences. The response will contain a list of similar books with their title, id, and cover image.",
        "operationId": "findSimilarBooks",
        "deprecated": false
      }
    },
    "/search-news": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "offset": {
                      "type": "integer"
                    },
                    "number": {
                      "type": "integer"
                    },
                    "available": {
                      "type": "integer"
                    },
                    "news": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "summary": {
                            "type": "string",
                            "nullable": true
                          },
                          "image": {
                            "type": "string",
                            "nullable": true
                          },
                          "sentiment": {
                            "type": "number"
                          },
                          "source_country": {
                            "type": "string",
                            "nullable": true
                          },
                          "language": {
                            "type": "string",
                            "nullable": true
                          },
                          "id": {
                            "type": "integer"
                          },
                          "text": {
                            "type": "string",
                            "nullable": true
                          },
                          "title": {
                            "type": "string",
                            "nullable": true
                          },
                          "publish_date": {
                            "type": "string",
                            "nullable": true
                          },
                          "url": {
                            "type": "string",
                            "nullable": true
                          },
                          "authors": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "nullable": true
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Response": {
                    "value": {
                      "offset": 0,
                      "number": 10,
                      "available": 83,
                      "news": [
                        {
                          "summary": "Tesla CEO Elon Musk has revealed new details about the upcoming Cybertruck electric pickup truck. According to Musk, its initial production will begin with a four-motor variant.",
                          "image": "https://internetprotocol.co/content/images/2021/12/Tesla-to-Release-a-Four-Motor-Version-of-Cybertruck.png",
                          "sentiment": 0.712523,
                          "source_country": "co",
                          "language": "en",
                          "id": 28,
                          "text": "Tesla CEO Elon Musk has revealed new details about the upcoming Cybertruck electric pickup truck, the mass production of which was delayed until 2023 because of the lack of components and a lot of complex technologies that need to be scaled up. According to Musk, the initial production of the electric pickup truck will begin with a four-motor variant with \u201cindependent, ultra fast response torque control of each wheel,\u201d the tweet reads. In response, Twitter users asked if the Cybertruck could turn like a tank. Musk said that thanks to both the rear and front wheel steer, the electric truck will not only be able to turn like a tank, but also drive diagonally like a crab. According to Electrek, this change could be Tesla's reaction to what its competitors do. Since the introduction of Tesla\u2019s novelty, the market for electric pickup trucks has significantly evolved. Currently, one electric pickup on the market can turn like a tank \u2013 the Rivian R1T, while GMC's Hummer EV can drive diagonally. Following the announcement of Tesla Cybertruck in 2019, the company announced three configurations of the pickup truck: the entry-level model with one motor, the one with two motors, and the one with three. Rumor has it that the company intends to abandon the single-motor version altogether. In this case, Tesla Cybertruck will be sold with two, three, and four motors. Musk has promised to provide an update on the pickup's roadmap on the next earnings call. The production of Tesla Cybertruck is expected to begin at the end of 2022, and its mass production is slated to start in 2023.",
                          "title": "Tesla to Release a Four-Motor Version of Cybertruck",
                          "publish_date": "2022-09-30 01:07:48",
                          "url": "https://internetprotocol.co/hitech/2021/12/07/tesla-to-release-a-four-motor-cybertruck/",
                          "authors": [
                            "Iwan Stone",
                            "Zahna Eklund"
                          ]
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment Required"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "parameters": [
          {
            "name": "text",
            "description": "The text to match in the news content. By default all query terms are expected, you can use an uppercase OR to search for any terms, e.g. tesla OR ford",
            "schema": {
              "pattern": ".",
              "maxLength": 300,
              "type": "string",
              "example": "tesla"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "source-countries",
            "description": "A comma-separated list of ISO 3166 country codes from which the news should originate.",
            "schema": {
              "pattern": ".",
              "maxLength": 100,
              "type": "string",
              "example": "us,uk"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "language",
            "description": "The ISO 6391 language code of the news.",
            "schema": {
              "pattern": ".",
              "maxLength": 2,
              "type": "string",
              "example": "en"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "min-sentiment",
            "description": "The minimal sentiment of the news in range [-1,1].",
            "schema": {
              "format": "double",
              "minimum": -1,
              "maximum": 1,
              "type": "number",
              "example": -0.8
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "max-sentiment",
            "description": "The maximal sentiment of the news in range [-1,1].",
            "schema": {
              "format": "double",
              "minimum": -1,
              "maximum": 1,
              "type": "number",
              "example": 0.8
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "earliest-publish-date",
            "description": "The news must have been published after this date.",
            "schema": {
              "pattern": ".",
              "maxLength": 100,
              "type": "string",
              "example": "2022-04-22 16:12:35"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "latest-publish-date",
            "description": "The news must have been published before this date.",
            "schema": {
              "pattern": ".",
              "maxLength": 100,
              "type": "string",
              "example": "2022-04-22 16:12:35"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "news-sources",
            "description": "A comma-separated list of news sources from which the news should originate.",
            "schema": {
              "pattern": ".",
              "maxLength": 10000,
              "type": "string",
              "example": "https://www.bbc.co.uk"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "authors",
            "description": "A comma-separated list of author names. Only news from any of the given authors will be returned.",
            "schema": {
              "pattern": ".",
              "maxLength": 300,
              "type": "string",
              "example": "John Doe"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "entities",
            "description": "Filter news by entities (ORG, PER, or LOC).",
            "schema": {
              "pattern": ".",
              "maxLength": 10000,
              "type": "string",
              "example": "ORG:Tesla"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "location-filter",
            "description": "Filter news by radius around a certain location. Format is \"latitude,longitude,radius in kilometers\"",
            "schema": {
              "pattern": ".",
              "maxLength": 100,
              "type": "string",
              "example": "51.050407, 13.737262, 100"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "sort",
            "description": "The sorting criteria (publish-time or sentiment).",
            "schema": {
              "pattern": ".",
              "maxLength": 100,
              "type": "string",
              "example": "publish-time"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "sort-direction",
            "description": "Whether to sort ascending or descending (ASC or DESC).",
            "schema": {
              "pattern": ".",
              "maxLength": 4,
              "type": "string",
              "example": "ASC"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "offset",
            "description": "The number of news to skip in range [0,10000]",
            "schema": {
              "format": "int32",
              "minimum": 0,
              "maximum": 10000,
              "type": "integer",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "number",
            "description": "The number of news to return in range [1,100]",
            "schema": {
              "format": "int32",
              "minimum": 1,
              "maximum": 100,
              "type": "integer",
              "example": 10
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          }
        ],
        "externalDocs": {
          "description": "Read entire docs",
          "url": "https://apileague.com/apis/search-news-api/"
        },
        "summary": "Search News",
        "tags": [
          "News"
        ],
        "description": "Search and filter news by text, date, location, language, and more. The API returns a list of news articles matching the given criteria. You can set as many filtering parameters as you like, but you have to set at least one, e.g. text or language.",
        "operationId": "searchNews",
        "deprecated": false
      }
    },
    "/extract-news": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string",
                      "nullable": true
                    },
                    "text": {
                      "type": "string",
                      "nullable": true
                    },
                    "url": {
                      "type": "string",
                      "nullable": true
                    },
                    "image": {
                      "type": "string",
                      "nullable": true
                    },
                    "publish_date": {
                      "type": "string",
                      "nullable": true
                    },
                    "author": {
                      "type": "string",
                      "nullable": true
                    },
                    "language": {
                      "type": "string",
                      "nullable": true
                    },
                    "source_country": {
                      "type": "string",
                      "nullable": true
                    },
                    "sentiment": {
                      "type": "number"
                    }
                  }
                },
                "examples": {
                  "Response": {
                    "value": {
                      "title": "Tesla to Release a Four-Motor Version of Cybertruck",
                      "text": "Tesla CEO Elon Musk has revealed new details about the upcoming Cybertruck electric pickup truck, the mass production of which was delayed until 2023 because of the lack of components and a lot of complex technologies that need to be scaled up. According to Musk, the initial production of the electric pickup truck will begin with a four-motor variant with \u201cindependent, ultra fast response torque control of each wheel,\u201d the tweet reads. In response, Twitter users asked if the Cybertruck could turn like a tank. Musk said that thanks to both the rear and front wheel steer, the electric truck will not only be able to turn like a tank, but also drive diagonally like a crab. According to Electrek, this change could be Tesla's reaction to what its competitors do. Since the introduction of Tesla\u2019s novelty, the market for electric pickup trucks has significantly evolved. Currently, one electric pickup on the market can turn like a tank \u2013 the Rivian R1T, while GMC's Hummer EV can drive diagonally. Following the announcement of Tesla Cybertruck in 2019, the company announced three configurations of the pickup truck: the entry-level model with one motor, the one with two motors, and the one with three. Rumor has it that the company intends to abandon the single-motor version altogether. In this case, Tesla Cybertruck will be sold with two, three, and four motors. Musk has promised to provide an update on the pickup's roadmap on the next earnings call. The production of Tesla Cybertruck is expected to begin at the end of 2022, and its mass production is slated to start in 2023.",
                      "url": "https://internetprotocol.co/hitech/2021/12/07/tesla-to-release-a-four-motor-cybertruck/",
                      "image": "https://internetprotocol.co/content/images/2021/12/Tesla-to-Release-a-Four-Motor-Version-of-Cybertruck.png",
                      "publish_date": "2022-09-30 01:07:48",
                      "author": "Kay Lee",
                      "language": "en",
                      "source_country": "co",
                      "sentiment": 0.712523
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment Required"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "parameters": [
          {
            "name": "url",
            "description": "The url of the news.",
            "schema": {
              "pattern": ".",
              "maxLength": 1000,
              "type": "string",
              "example": "https://internetprotocol.co/hitech/2021/12/07/tesla-to-release-a-four-motor-cybertruck/"
            },
            "required": true,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "analyze",
            "description": "Whether to analyze the news (extract entities etc.)",
            "schema": {
              "type": "boolean",
              "example": true
            },
            "required": true,
            "style": "form",
            "explode": false,
            "in": "query"
          }
        ],
        "externalDocs": {
          "description": "Read entire docs",
          "url": "https://apileague.com/apis/extract-news-api/"
        },
        "summary": "Extract News",
        "tags": [
          "News"
        ],
        "description": "Extract a news article from a website to a well structure JSON object. The API will return the title, text, URL, image, publish date, author, language, source country, and sentiment of the news article.",
        "operationId": "extractNews",
        "deprecated": false
      }
    },
    "/search-jokes": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jokes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "joke": {
                            "type": "string",
                            "nullable": true
                          }
                        }
                      }
                    },
                    "available": {
                      "type": "integer"
                    }
                  }
                },
                "examples": {
                  "Response": {
                    "value": {
                      "jokes": [
                        {
                          "joke": "A retiring farmer in preparation for selling his land, needed to rid his farm of animals. So he went to every house in his town. \nTo the houses where the man is the boss, he gave a horse. To the houses where the woman is the boss, a chicken was given. \nHe got toward the end of the street and saw a couple outside gardening. \"Who's the boss around here?\" he asked. \n\"I am.\" said the man. \n\"I have a black horse and a brown horse,\" the farmer said, \"which one would you like?\" \nThe man thought for a minute and said, \"The black one.\" \n\"No, no, no, get the brown one.\" the man's wife said. \n\"Here's your chicken.\" said the farmer."
                        },
                        {
                          "joke": "A blonde decides to try horseback riding, even though she has had no\r\nlessons or prior experience. She mounts the horse unassisted and then\r\nhorse immediately springs into motion. It gallops along at a steady and\r\nrhythmic pace, but the blonde begins to slip from the\r\nsaddle. In terror, she grabs for the horse's mane, but cannot seem to get\r\na firm grip.\r\nShe tries to throw her arms around the horse's neck, but she slides down\r\nthe side of the horse anyway. The horse gallops along, seemingly\r\nimpervious to its slipping rider. Finally, giving up her frail grip, she\r\nleaps away from the horse to try and throw herself to safety.\r\nUnfortunately, her foot has become entangled in the stirrup and she is now\r\nat the mercy of the horse's pounding hooves as her head is battered\r\nagainst the ground again and again. She is mere moments away from\r\nunconsciousness when...\r\n ...the Wal-Mart manager runs out to shut the horse off."
                        },
                        {
                          "joke": "Once Chuck Norris met a man on a horse that he did'nt like, now we know him as the headless horseman."
                        }
                      ],
                      "available": 169
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment Required"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "parameters": [
          {
            "name": "keywords",
            "description": "A comma-separated list of words that must occur in the joke.",
            "schema": {
              "pattern": ".",
              "maxLength": 300,
              "type": "string",
              "example": "horse,man"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "include-tags",
            "description": "A comma-separated list of tags the jokes should have.",
            "schema": {
              "pattern": ".",
              "maxLength": 300,
              "type": "string",
              "example": "animal"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "exclude-tags",
            "description": "A comma-separated list of tags the jokes must not have.",
            "schema": {
              "pattern": ".",
              "maxLength": 300,
              "type": "string",
              "example": "nsfw,dark"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "min-rating",
            "description": "The minimum rating in range [0.0,1.0] of the jokes.",
            "schema": {
              "format": "double",
              "minimum": 0,
              "maximum": 1,
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "max-length",
            "description": "The maximum length of the joke in letters.",
            "schema": {
              "format": "double",
              "minimum": 0,
              "maximum": 1,
              "type": "number",
              "example": 140
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "offset",
            "description": "The number of jokes to skip, between 0 and 1000.",
            "schema": {
              "format": "int32",
              "minimum": 0,
              "maximum": 1000,
              "type": "integer",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "number",
            "description": "The number of jokes, between 1 and 10.",
            "schema": {
              "format": "int32",
              "minimum": 1,
              "maximum": 10,
              "type": "integer",
              "example": 3
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          }
        ],
        "externalDocs": {
          "description": "Read entire docs",
          "url": "https://apileague.com/apis/search-jokes-api/"
        },
        "summary": "Search Jokes",
        "tags": [
          "Humor"
        ],
        "description": "With over 50,000 jokes, you should find something for any occasion. There are 27 categories/tags to choose from, but you can also search for very specific words within jokes.",
        "operationId": "searchJokes",
        "deprecated": false
      }
    },
    "/retrieve-random-joke": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "joke": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                },
                "examples": {
                  "Response": {
                    "value": {
                      "joke": "What do you call a boxing match between two aardvarks?\nA snout bout!"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment Required"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "parameters": [
          {
            "name": "include-tags",
            "description": "A comma-separated list of tags the jokes should have.",
            "schema": {
              "pattern": ".",
              "maxLength": 300,
              "type": "string",
              "example": "animal"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "exclude-tags",
            "description": "A comma-separated list of tags the jokes must not have.",
            "schema": {
              "pattern": ".",
              "maxLength": 300,
              "type": "string",
              "example": "nsfw,dark"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "min-rating",
            "description": "The minimum rating in range [0.0,1.0] of the jokes.",
            "schema": {
              "format": "double",
              "minimum": 0,
              "maximum": 1,
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "max-length",
            "description": "The maximum length of the joke in letters.",
            "schema": {
              "format": "int32",
              "minimum": 1,
              "maximum": 10000,
              "type": "integer",
              "example": 140
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          }
        ],
        "externalDocs": {
          "description": "Read entire docs",
          "url": "https://apileague.com/apis/random-joke-api/"
        },
        "summary": "Random Joke",
        "tags": [
          "Humor"
        ],
        "description": "This is a simple API that returns a random joke. You can filter the jokes by tags and keywords. To make sure they are safe for work, you could use the exclude-tags parameter to exclude jokes with certain tags such as \"nsfw\" or \"religious\".",
        "operationId": "randomJoke",
        "deprecated": false
      }
    },
    "/search-memes": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "memes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "nullable": true
                          },
                          "description": {
                            "type": "string",
                            "nullable": true
                          },
                          "url": {
                            "type": "string",
                            "nullable": true
                          }
                        }
                      }
                    },
                    "available": {
                      "type": "integer"
                    }
                  }
                },
                "examples": {
                  "Response": {
                    "value": {
                      "memes": [
                        {
                          "type": "video/mp4",
                          "description": "Hey, you want a light show?: Edit: Thank you for getting the joke. I didn\u2019t think a joke about gloving would land, but I appreciate your sense of humor Imgur. Let me know what shows you are going to or went to this year. DM me if you want to team up on Rocket League.",
                          "url": "https://i.imgur.com/4msjS5E.mp4"
                        },
                        {
                          "type": "image/png",
                          "description": "Rocket Money is a scam.: Prevented a $30 charge of something I don't use anymore. Feels good.",
                          "url": "https://i.imgur.com/q3cZlpv.png"
                        },
                        {
                          "type": "image/jpeg",
                          "description": "Rocket Money is a scam.: Cat tax.",
                          "url": "https://i.imgur.com/yaZoCFP.jpg"
                        }
                      ],
                      "available": 156
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment Required"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "parameters": [
          {
            "name": "keywords",
            "description": "A comma-separated list of words that must occur in the meme.",
            "schema": {
              "pattern": ".",
              "maxLength": 300,
              "type": "string",
              "example": "rocket"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "keywords-in-image",
            "description": "Whether the keywords must occur in the image.",
            "schema": {
              "type": "boolean",
              "example": true
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "media-type",
            "description": "The media type (either 'image', 'video' or even specific format such as 'jpg', 'png', or 'gif').",
            "schema": {
              "pattern": ".",
              "maxLength": 10,
              "type": "string",
              "example": "image"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "min-rating",
            "description": "The minimum rating in range [0.0,1.0] of the meme.",
            "schema": {
              "format": "double",
              "minimum": 0,
              "maximum": 1,
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "max-age-days",
            "description": "The maximum age of the meme in days.",
            "schema": {
              "format": "int32",
              "minimum": 0,
              "maximum": 10000,
              "type": "integer",
              "example": 30
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "offset",
            "description": "The number of memes to skip, between 0 and 1000.",
            "schema": {
              "format": "int32",
              "minimum": 0,
              "maximum": 1000,
              "type": "integer",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "number",
            "description": "The number of memes, between 1 and 10.",
            "schema": {
              "format": "int32",
              "minimum": 1,
              "maximum": 10,
              "type": "integer",
              "example": 3
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          }
        ],
        "externalDocs": {
          "description": "Read entire docs",
          "url": "https://apileague.com/apis/search-memes-api/"
        },
        "summary": "Search Memes",
        "tags": [
          "Humor"
        ],
        "description": "With over 200,000 memes, you'll surely find something funny. You can even search for text within memes and filter by user ratings.",
        "operationId": "searchMemes",
        "deprecated": false
      }
    },
    "/retrieve-random-meme": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "description": {
                      "type": "string",
                      "nullable": true
                    },
                    "url": {
                      "type": "string",
                      "nullable": true
                    },
                    "type": {
                      "type": "string",
                      "nullable": true
                    },
                    "width": {
                      "type": "integer"
                    },
                    "height": {
                      "type": "integer"
                    },
                    "ratio": {
                      "type": "number"
                    }
                  }
                },
                "examples": {
                  "Response": {
                    "value": {
                      "description": "That's totally fine.",
                      "url": "https://preview.redd.it/2wpfufhz8p751.jpg?width=640&crop=smart&auto=webp&s=dab7d5eba791f3a884b0c0614630c99e38c46c4d",
                      "type": "image/jpeg",
                      "width": 640,
                      "height": 702,
                      "ratio": 0.911681
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment Required"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "parameters": [
          {
            "name": "keywords",
            "description": "A comma-separated list of words that must occur in the meme.",
            "schema": {
              "pattern": ".",
              "maxLength": 300,
              "type": "string",
              "example": "airplane"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "keywords-in-image",
            "description": "Whether the keywords must occur in the image.",
            "schema": {
              "type": "boolean",
              "example": true
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "media-type",
            "description": "The media type (either 'image', 'video' or even specific format such as 'jpg', 'png', or 'gif').",
            "schema": {
              "pattern": ".",
              "maxLength": 10,
              "type": "string",
              "example": "image"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "min-rating",
            "description": "The minimum rating in range [0.0,1.0] of the meme.",
            "schema": {
              "format": "double",
              "minimum": 0,
              "maximum": 1,
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "max-age-days",
            "description": "The maximum age of the meme in days.",
            "schema": {
              "format": "int32",
              "minimum": 0,
              "maximum": 1000,
              "type": "integer",
              "example": 30
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          }
        ],
        "externalDocs": {
          "description": "Read entire docs",
          "url": "https://apileague.com/apis/random-meme-api/"
        },
        "summary": "Random Meme",
        "tags": [
          "Humor"
        ],
        "description": "Get a random meme out of over 200,000+ memes. To get the latest memes, you can use the max-age-days parameter.",
        "operationId": "randomMeme",
        "deprecated": false
      }
    },
    "/search-gifs": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "images": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "width": {
                            "type": "integer"
                          },
                          "url": {
                            "type": "string",
                            "nullable": true
                          },
                          "height": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Response": {
                    "value": {
                      "images": [
                        {
                          "width": 362,
                          "url": "https://media.tenor.com/xEf4j9pnMywAAAAC/dog-dogs.gif",
                          "height": 498
                        },
                        {
                          "width": 248,
                          "url": "https://media.tenor.com/U-g_SmVeq40AAAAC/poodle-dancing-dog-poodle.gif",
                          "height": 498
                        },
                        {
                          "width": 498,
                          "url": "https://media.tenor.com/SmFA9ziWpx4AAAAC/dogs-dog.gif",
                          "height": 374
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment Required"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "parameters": [
          {
            "name": "query",
            "description": "The search query.",
            "schema": {
              "pattern": ".",
              "maxLength": 300,
              "type": "string",
              "example": "dogs"
            },
            "required": true,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "number",
            "description": "The number of gifs to return in range [1,10]",
            "schema": {
              "format": "int32",
              "minimum": 1,
              "maximum": 10,
              "type": "integer",
              "example": 5
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          }
        ],
        "externalDocs": {
          "description": "Read entire docs",
          "url": "https://apileague.com/apis/search-gifs-api/"
        },
        "summary": "Search Gifs",
        "tags": [
          "Humor"
        ],
        "description": "Search through hundreds of thousands of gifs to match any reaction you want. The gifs are returned in a list with the URL, width, and height of the gif.",
        "operationId": "searchGifs",
        "deprecated": false
      }
    },
    "/generate-nonsense-word": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "word": {
                      "type": "string",
                      "nullable": true
                    },
                    "rating": {
                      "type": "number"
                    }
                  }
                },
                "examples": {
                  "Response": {
                    "value": {
                      "word": "caboo",
                      "rating": 0.41
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment Required"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "parameters": [],
        "externalDocs": {
          "description": "Read entire docs",
          "url": "https://apileague.com/apis/generate-nonsense-word-api/"
        },
        "summary": "Generate Nonsense Word",
        "tags": [
          "Humor"
        ],
        "description": "Generate a funny sounding nonsense word. This is useful for generating random words for games, naming things, or just for fun. The response will contain the generated word and a rating of how funny it is.",
        "operationId": "generateNonsenseWord",
        "deprecated": false
      }
    },
    "/search-recipes": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "offset": {
                      "type": "integer"
                    },
                    "number": {
                      "type": "integer"
                    },
                    "recipes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "images": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "nullable": true
                            }
                          },
                          "nutrition": {
                            "type": "object",
                            "properties": {
                              "nutrients": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "amount": {
                                      "type": "number"
                                    },
                                    "unit": {
                                      "type": "string",
                                      "nullable": true
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "id": {
                            "type": "integer"
                          },
                          "title": {
                            "type": "string",
                            "nullable": true
                          }
                        }
                      }
                    },
                    "total_results": {
                      "type": "integer"
                    }
                  }
                },
                "examples": {
                  "Response": {
                    "value": {
                      "offset": 0,
                      "number": 3,
                      "recipes": [
                        {
                          "images": [
                            "https://spoonacular.com/recipeImages/654913-312x231.jpg"
                          ],
                          "nutrition": {
                            "nutrients": [
                              {
                                "name": "Protein",
                                "amount": 36.1306,
                                "unit": "g"
                              }
                            ]
                          },
                          "id": 654913,
                          "title": "Pasta With Chicken and Mushrooms"
                        },
                        {
                          "images": [
                            "https://spoonacular.com/recipeImages/655582-312x231.jpg"
                          ],
                          "nutrition": {
                            "nutrients": [
                              {
                                "name": "Protein",
                                "amount": 40.6552,
                                "unit": "g"
                              }
                            ]
                          },
                          "id": 655582,
                          "title": "Penne Pasta With Chicken And Mushrooms"
                        },
                        {
                          "images": [
                            "https://spoonacular.com/recipeImages/1096241-312x231.jpg"
                          ],
                          "nutrition": {
                            "nutrients": [
                              {
                                "name": "Protein",
                                "amount": 39.1976,
                                "unit": "g"
                              }
                            ]
                          },
                          "id": 1096241,
                          "title": "Spaghetti with Peas, Mushrooms, and Tomato Sauce"
                        }
                      ],
                      "total_results": 18
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment Required"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "parameters": [
          {
            "name": "query",
            "description": "The search query.",
            "schema": {
              "pattern": ".",
              "maxLength": 300,
              "type": "string",
              "example": "pasta with mushrooms but without nuts"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "cuisines",
            "description": "The cuisine(s) of the recipes. One or more, comma separated (will be interpreted as 'OR').",
            "schema": {
              "pattern": ".",
              "maxLength": 300,
              "type": "string",
              "example": "mexican"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "exclude-cuisines",
            "description": "The cuisine(s) the recipes must not match. One or more, comma separated (will be interpreted as 'AND').",
            "schema": {
              "pattern": ".",
              "maxLength": 300,
              "type": "string",
              "example": "indian,japanese"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "meal-type",
            "description": "The type of the recipe, one of: main course,side dish,dessert,appetizer,salad,bread,breakfast,soup,beverage,sauce,drink.",
            "schema": {
              "pattern": ".",
              "maxLength": 30,
              "type": "string",
              "example": "dessert"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "diet",
            "description": "The diet the recipes must adhere to. One of the following: paleo,primal,grain-free,pescetarian,lacto vegetarian,ovo vegetarian,vegan,vegetarian.",
            "schema": {
              "pattern": ".",
              "maxLength": 30,
              "type": "string",
              "example": "paleo"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "intolerances",
            "description": "A comma-separated list of intolerances. All recipes returned must not contain ingredients that are not suitable for people with the intolerances entered.",
            "schema": {
              "pattern": ".",
              "maxLength": 300,
              "type": "string",
              "example": "gluten,dairy,shellfish"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "equipment",
            "description": "The equipment required. Multiple values will be interpreted as 'OR'.",
            "schema": {
              "pattern": ".",
              "maxLength": 300,
              "type": "string",
              "example": "blender,frying pan,bowl"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "include-ingredients",
            "description": "A comma-separated list of ingredients that should/must be used in the recipes.",
            "schema": {
              "pattern": ".",
              "maxLength": 300,
              "type": "string",
              "example": "tomato,cheese"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "exclude-ingredients",
            "description": "A comma-separated list of ingredients or ingredient types that the recipes must not contain.",
            "schema": {
              "pattern": ".",
              "maxLength": 300,
              "type": "string",
              "example": "olives,capers"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "fill-ingredients",
            "description": "Add information about the ingredients and whether they are used or missing in relation to the query.",
            "schema": {
              "type": "boolean",
              "example": true
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "add-recipe-information",
            "description": "If set to true, you get more information about the recipes returned.",
            "schema": {
              "type": "boolean",
              "example": true
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "max-time",
            "description": "The maximum time in minutes it should take to prepare and cook the recipe.",
            "schema": {
              "format": "int32",
              "minimum": 0,
              "maximum": 10000,
              "type": "integer",
              "example": 45
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "min-calories",
            "description": "The minimum amount of calories the recipe must have per serving.",
            "schema": {
              "format": "double",
              "minimum": 0,
              "maximum": 99999,
              "type": "number",
              "example": 100
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "max-calories",
            "description": "The maximum amount of calories the recipe can have per serving.",
            "schema": {
              "format": "double",
              "minimum": 0,
              "maximum": 99999,
              "type": "number",
              "example": 655
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "min-carbs",
            "description": "The minimum amount of carbohydrates in grams the recipe must have per serving.",
            "schema": {
              "format": "double",
              "minimum": 0,
              "maximum": 99999,
              "type": "number",
              "example": 10.1
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "max-carbs",
            "description": "The maximum amount of carbohydrates in grams the recipe can have per serving.",
            "schema": {
              "format": "double",
              "minimum": 0,
              "maximum": 99999,
              "type": "number",
              "example": 25.5
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "min-protein",
            "description": "The minimum amount of protein in grams the recipe must have per serving.",
            "schema": {
              "format": "double",
              "minimum": 0,
              "maximum": 99999,
              "type": "number",
              "example": 10.1
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "max-protein",
            "description": "The maximum amount of protein in grams the recipe can have per serving.",
            "schema": {
              "format": "double",
              "minimum": 0,
              "maximum": 99999,
              "type": "number",
              "example": 25.5
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "min-fat",
            "description": "The minimum amount of fat in grams the recipe must have per serving.",
            "schema": {
              "format": "double",
              "minimum": 0,
              "maximum": 99999,
              "type": "number",
              "example": 10.1
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "max-fat",
            "description": "The maximum amount of fat in grams the recipe can have per serving.",
            "schema": {
              "format": "double",
              "minimum": 0,
              "maximum": 99999,
              "type": "number",
              "example": 25.5
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "min-sugar",
            "description": "The minimum amount of sugar in grams the recipe must have per serving.",
            "schema": {
              "format": "double",
              "minimum": 0,
              "maximum": 99999,
              "type": "number",
              "example": 10.1
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "max-sugar",
            "description": "The maximum amount of sugar in grams the recipe can have per serving.",
            "schema": {
              "format": "double",
              "minimum": 0,
              "maximum": 99999,
              "type": "number",
              "example": 25.5
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "min-fiber",
            "description": "The minimum amount of fiber in grams the recipe must have per serving.",
            "schema": {
              "format": "double",
              "minimum": 0,
              "maximum": 99999,
              "type": "number",
              "example": 10.1
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "max-fiber",
            "description": "The maximum amount of fiber in grams the recipe can have per serving.",
            "schema": {
              "format": "double",
              "minimum": 0,
              "maximum": 99999,
              "type": "number",
              "example": 25.5
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "min-folate",
            "description": "The minimum amount of folate in micrograms the recipe must have per serving.",
            "schema": {
              "format": "double",
              "minimum": 0,
              "maximum": 99999,
              "type": "number",
              "example": 30.4
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "max-folate",
            "description": "The maximum amount of folate in micrograms the recipe can have per serving.",
            "schema": {
              "format": "double",
              "minimum": 0,
              "maximum": 99999,
              "type": "number",
              "example": 80.9
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "min-folic-acid",
            "description": "The minimum amount of folic acid in micrograms the recipe must have per serving.",
            "schema": {
              "format": "double",
              "minimum": 0,
              "maximum": 99999,
              "type": "number",
              "example": 30.4
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "max-folic-acid",
            "description": "The maximum amount of folic acid in micrograms the recipe can have per serving.",
            "schema": {
              "format": "double",
              "minimum": 0,
              "maximum": 99999,
              "type": "number",
              "example": 80.9
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "min-iodine",
            "description": "The minimum amount of iodine in micrograms the recipe must have per serving.",
            "schema": {
              "format": "double",
              "minimum": 0,
              "maximum": 99999,
              "type": "number",
              "example": 30.4
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "max-iodine",
            "description": "The maximum amount of iodine in micrograms the recipe can have per serving.",
            "schema": {
              "format": "double",
              "minimum": 0,
              "maximum": 99999,
              "type": "number",
              "example": 80.9
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "min-iron",
            "description": "The minimum amount of iron in milligrams the recipe must have per serving.",
            "schema": {
              "format": "double",
              "minimum": 0,
              "maximum": 99999,
              "type": "number",
              "example": 30.4
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "max-iron",
            "description": "The maximum amount of iron in milligrams the recipe can have per serving.",
            "schema": {
              "format": "double",
              "minimum": 0,
              "maximum": 99999,
              "type": "number",
              "example": 80.9
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "min-zinc",
            "description": "The minimum amount of zinc in milligrams the recipe must have per serving.",
            "schema": {
              "format": "double",
              "minimum": 0,
              "maximum": 99999,
              "type": "number",
              "example": 30.4
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "max-zinc",
            "description": "The maximum amount of zinc in milligrams the recipe can have per serving.",
            "schema": {
              "format": "double",
              "minimum": 0,
              "maximum": 99999,
              "type": "number",
              "example": 80.9
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "min-magnesium",
            "description": "The minimum amount of magnesium in milligrams the recipe must have per serving.",
            "schema": {
              "format": "double",
              "minimum": 0,
              "maximum": 99999,
              "type": "number",
              "example": 30.4
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "max-magnesium",
            "description": "The maximum amount of magnesium in milligrams the recipe can have per serving.",
            "schema": {
              "format": "double",
              "minimum": 0,
              "maximum": 99999,
              "type": "number",
              "example": 80.9
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "min-manganese",
            "description": "The minimum amount of manganese in milligrams the recipe must have per serving.",
            "schema": {
              "format": "double",
              "minimum": 0,
              "maximum": 99999,
              "type": "number",
              "example": 30.4
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "max-manganese",
            "description": "The maximum amount of manganese in milligrams the recipe can have per serving.",
            "schema": {
              "format": "double",
              "minimum": 0,
              "maximum": 99999,
              "type": "number",
              "example": 80.9
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "min-phosphorus",
            "description": "The minimum amount of phosphorus in milligrams the recipe must have per serving.",
            "schema": {
              "format": "double",
              "minimum": 0,
              "maximum": 99999,
              "type": "number",
              "example": 30.4
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "max-phosphorus",
            "description": "The maximum amount of phosphorus in milligrams the recipe can have per serving.",
            "schema": {
              "format": "double",
              "minimum": 0,
              "maximum": 99999,
              "type": "number",
              "example": 80.9
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "min-potassium",
            "description": "The minimum amount of potassium in milligrams the recipe must have per serving.",
            "schema": {
              "format": "double",
              "minimum": 0,
              "maximum": 99999,
              "type": "number",
              "example": 30.4
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "max-potassium",
            "description": "The maximum amount of potassium in milligrams the recipe can have per serving.",
            "schema": {
              "format": "double",
              "minimum": 0,
              "maximum": 99999,
              "type": "number",
              "example": 80.9
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "min-sodium",
            "description": "The minimum amount of sodium in milligrams the recipe must have per serving.",
            "schema": {
              "format": "double",
              "minimum": 0,
              "maximum": 99999,
              "type": "number",
              "example": 30.4
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "max-sodium",
            "description": "The maximum amount of sodium in milligrams the recipe can have per serving.",
            "schema": {
              "format": "double",
              "minimum": 0,
              "maximum": 99999,
              "type": "number",
              "example": 80.9
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "min-selenium",
            "description": "The minimum amount of selenium in micrograms the recipe must have per serving.",
            "schema": {
              "format": "double",
              "minimum": 0,
              "maximum": 99999,
              "type": "number",
              "example": 30.4
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "max-selenium",
            "description": "The maximum amount of selenium in micrograms the recipe can have per serving.",
            "schema": {
              "format": "double",
              "minimum": 0,
              "maximum": 99999,
              "type": "number",
              "example": 80.9
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "min-copper",
            "description": "The minimum amount of copper in milligrams the recipe must have per serving.",
            "schema": {
              "format": "double",
              "minimum": 0,
              "maximum": 99999,
              "type": "number",
              "example": 30.4
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "max-copper",
            "description": "The maximum amount of copper in milligrams the recipe can have per serving.",
            "schema": {
              "format": "double",
              "minimum": 0,
              "maximum": 99999,
              "type": "number",
              "example": 80.9
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "min-calcium",
            "description": "The minimum amount of calcium in milligrams the recipe must have per serving.",
            "schema": {
              "format": "double",
              "minimum": 0,
              "maximum": 99999,
              "type": "number",
              "example": 30.4
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "max-calcium",
            "description": "The maximum amount of calcium in milligrams the recipe can have per serving.",
            "schema": {
              "format": "double",
              "minimum": 0,
              "maximum": 99999,
              "type": "number",
              "example": 80.9
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "min-choline",
            "description": "The minimum amount of choline in milligrams the recipe must have per serving.",
            "schema": {
              "format": "double",
              "minimum": 0,
              "maximum": 99999,
              "type": "number",
              "example": 30.4
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "max-choline",
            "description": "The maximum amount of choline in milligrams the recipe can have per serving.",
            "schema": {
              "format": "double",
              "minimum": 0,
              "maximum": 99999,
              "type": "number",
              "example": 80.9
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "min-cholesterol",
            "description": "The minimum amount of cholesterol in milligrams the recipe must have per serving.",
            "schema": {
              "format": "double",
              "minimum": 0,
              "maximum": 99999,
              "type": "number",
              "example": 30.4
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "max-cholesterol",
            "description": "The maximum amount of cholesterol in milligrams the recipe can have per serving.",
            "schema": {
              "format": "double",
              "minimum": 0,
              "maximum": 99999,
              "type": "number",
              "example": 80.9
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "min-fluoride",
            "description": "The minimum amount of fluoride in milligrams the recipe must have per serving.",
            "schema": {
              "format": "double",
              "minimum": 0,
              "maximum": 99999,
              "type": "number",
              "example": 30.4
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "max-fluoride",
            "description": "The maximum amount of fluoride in milligrams the recipe can have per serving.",
            "schema": {
              "format": "double",
              "minimum": 0,
              "maximum": 99999,
              "type": "number",
              "example": 80.9
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "min-alcohol",
            "description": "The minimum amount of alcohol in grams the recipe must have per serving.",
            "schema": {
              "format": "double",
              "minimum": 0,
              "maximum": 99999,
              "type": "number",
              "example": 10.1
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "max-alcohol",
            "description": "The maximum amount of alcohol in grams the recipe can have per serving.",
            "schema": {
              "format": "double",
              "minimum": 0,
              "maximum": 99999,
              "type": "number",
              "example": 25.5
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "min-caffeine",
            "description": "The minimum amount of caffeine in milligrams the recipe must have per serving.",
            "schema": {
              "format": "double",
              "minimum": 0,
              "maximum": 99999,
              "type": "number",
              "example": 30.4
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "max-caffeine",
            "description": "The maximum amount of caffeine in milligrams the recipe can have per serving.",
            "schema": {
              "format": "double",
              "minimum": 0,
              "maximum": 99999,
              "type": "number",
              "example": 80.9
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "min-saturated-fat",
            "description": "The minimum amount of saturated fat in grams the recipe must have per serving.",
            "schema": {
              "format": "double",
              "minimum": 0,
              "maximum": 99999,
              "type": "number",
              "example": 30.4
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "max-saturated-fat",
            "description": "The maximum amount of saturated fat in grams the recipe can have per serving.",
            "schema": {
              "format": "double",
              "minimum": 0,
              "maximum": 99999,
              "type": "number",
              "example": 80.9
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "min-vitamin-a",
            "description": "The minimum amount of Vitamin A in IU the recipe must have per serving.",
            "schema": {
              "format": "double",
              "minimum": 0,
              "maximum": 99999,
              "type": "number",
              "example": 30.4
            },
            "required": false,
            "style": "form",
            "explode": false,
[...]
