{
  "openapi": "3.0.0",
  "info": {
    "title": "API League",
    "description": "API League is a Hub for World Class APIs.",
    "termsOfService": "https://apileague.com/terms",
    "version": "1.8.1",
    "contact": {
      "name": "David Urbansky",
      "email": "mail@apileague.com"
    }
  },
  "servers": [
    {
      "url": "https://api.apileague.com"
    }
  ],
  "paths": {
    "/search-books": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_results": {
                      "type": "integer"
                    },
                    "number": {
                      "type": "integer"
                    },
                    "offset": {
                      "type": "integer"
                    },
                    "books": {
                      "type": "array",
                      "items": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "title": {
                              "type": "string",
                              "nullable": true
                            },
                            "image": {
                              "type": "string",
                              "nullable": true
                            },
                            "id": {
                              "type": "integer"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Response": {
                    "value": {
                      "total_results": 5999,
                      "number": 10,
                      "offset": 0,
                      "books": [
                        [
                          {
                            "title": "Journey to Hogwarts",
                            "image": "https://covers.openlibrary.org/b/id/2520429-M.jpg",
                            "id": 17200576
                          }
                        ],
                        [
                          {
                            "image": "https://covers.openlibrary.org/b/id/2520430-M.jpg",
                            "id": 15954006,
                            "title": "Inside Hogwarts",
                            "subtitle": "Magical Paintbook"
                          }
                        ],
                        [
                          {
                            "title": "Harry Potter and the Goblet of Fire",
                            "image": "https://covers.openlibrary.org/b/id/12775900-M.jpg",
                            "id": 16384516
                          }
                        ],
                        [
                          {
                            "title": "Harry Potter and the Order of the Phoenix",
                            "image": "https://covers.openlibrary.org/b/id/11416565-M.jpg",
                            "id": 14296534
                          }
                        ],
                        [
                          {
                            "title": "Great Gatsby (Silver Screen Edition)",
                            "image": "https://covers.openlibrary.org/b/id/12791857-M.jpg",
                            "id": 14530450
                          }
                        ],
                        [
                          {
                            "image": "https://covers.openlibrary.org/b/id/394001-M.jpg",
                            "id": 18810398,
                            "title": "The Hobbit",
                            "subtitle": "or, There and back again"
                          }
                        ],
                        [
                          {
                            "image": "https://covers.openlibrary.org/b/id/6282709-M.jpg",
                            "id": 13597674,
                            "title": "The Name of the Wind",
                            "subtitle": "The Kingkiller Chronicle : day one"
                          }
                        ]
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment Required"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "parameters": [
          {
            "name": "query",
            "description": "The search query.",
            "schema": {
              "pattern": ".",
              "maxLength": 300,
              "type": "string",
              "example": "books about wizards"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "earliest-publish-year",
            "description": "The books must have been published after this year.",
            "schema": {
              "format": "int32",
              "minimum": 0,
              "maximum": 9999,
              "type": "integer",
              "example": 2022
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "latest-publish-year",
            "description": "The books must have been published before this year.",
            "schema": {
              "format": "int32",
              "minimum": 0,
              "maximum": 9999,
              "type": "integer",
              "example": 2023
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "min-rating",
            "description": "The minimum rating the book must have gotten in the interval [0,1].",
            "schema": {
              "format": "double",
              "minimum": 0,
              "maximum": 1,
              "type": "number",
              "example": 0.8
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "max-rating",
            "description": "The maximum rating the book must have gotten in the interval [0,1].",
            "schema": {
              "format": "double",
              "minimum": 0,
              "maximum": 1,
              "type": "number",
              "example": 0.99
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "genres",
            "description": "A comma-separated list of genres. Only books from any of the given genres will be returned.",
            "schema": {
              "pattern": ".",
              "maxLength": 1000,
              "type": "string",
              "example": "nonfiction"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "authors",
            "description": "A comma-separated list of author ids or names. Only books from any of the given authors will be returned. You can retrieve author ids from the search authors endpoint. Pass author names is slower and if two authors have the same name you can't disambiguate.",
            "schema": {
              "pattern": ".",
              "maxLength": 1000,
              "type": "string",
              "example": "J.K. Rowling"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "isbn",
            "description": "Only the book matching the ISBN-13 will be returned",
            "schema": {
              "pattern": ".",
              "maxLength": 13,
              "type": "string",
              "example": "9781781257654"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "oclc",
            "description": "Only the book matching the OCLC will be returned",
            "schema": {
              "pattern": ".",
              "maxLength": 100,
              "type": "string",
              "example": "864418200"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "sort",
            "description": "The sorting criteria (publish-date or rating).",
            "schema": {
              "pattern": ".",
              "maxLength": 10000,
              "type": "string",
              "example": "rating"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "sort-direction",
            "description": "Whether to sort ascending or descending (ASC or DESC).",
            "schema": {
              "pattern": ".",
              "maxLength": 4,
              "type": "string",
              "example": "DESC"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "group-results",
            "description": "Whether to group similar editions of the same book.",
            "schema": {
              "type": "boolean",
              "example": false
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "offset",
            "description": "The number of books to skip in range [0,1000]",
            "schema": {
              "format": "int32",
              "minimum": 0,
              "maximum": 1000,
              "type": "integer",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "number",
            "description": "The number of books to return in range [1,100]",
            "schema": {
              "format": "int32",
              "minimum": 1,
              "maximum": 100,
              "type": "integer",
              "example": 10
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          }
        ],
        "externalDocs": {
          "description": "Read entire docs",
          "url": "https://apileague.com/apis/search-books-api/"
        },
        "summary": "Search Books API",
        "tags": [
          "Books"
        ],
        "description": "Search and filter over 4 million books based on matching a query, the ISBN, rating, and more fields. The query is semantically parsed using our own large ontology. That means you can search paranormal books and the ontology knows that Aliens, Werewolves, Ghosts, and Shapeshifters fall into that category.",
        "operationId": "searchBooksAPI",
        "deprecated": false
      }
    },
    "/list-similar-books": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "similar_books": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string",
                            "nullable": true
                          },
                          "image": {
                            "type": "string",
                            "nullable": true
                          },
                          "id": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Response": {
                    "value": {
                      "similar_books": [
                        {
                          "title": "Harry Potter and the Order of the Phoenix",
                          "image": "https://covers.openlibrary.org/b/id/11416565-M.jpg",
                          "id": 14296534
                        },
                        {
                          "title": "Harry Potter and the Half-Blood Prince",
                          "image": "https://covers.openlibrary.org/b/id/8235163-M.jpg",
                          "id": 16499448
                        },
                        {
                          "title": "Blood and Fire",
                          "image": "https://covers.openlibrary.org/b/id/10404497-M.jpg",
                          "id": 18610968
                        },
                        {
                          "image": "https://covers.openlibrary.org/b/id/6657713-M.jpg",
                          "id": 20464852,
                          "title": "Towers of midnight",
                          "subtitle": "Wheel of Time Book 13"
                        },
                        {
                          "image": "https://covers.openlibrary.org/b/id/3027823-M.jpg",
                          "id": 13804028,
                          "title": "Best of Robert Jordan",
                          "subtitle": "The Shadow Rising; The Fires of Heaven; Lord of Chaos; A Crown of Swords (The Wheel of Time Series)"
                        },
                        {
                          "title": "MAR, Volume 7",
                          "image": "https://covers.openlibrary.org/b/id/765103-M.jpg",
                          "id": 14987824
                        },
                        {
                          "title": "The Daysong of the Knightbird",
                          "image": "https://covers.openlibrary.org/b/id/1822804-M.jpg",
                          "id": 19984854
                        },
                        {
                          "title": "The key",
                          "image": "https://covers.openlibrary.org/b/id/8369732-M.jpg",
                          "id": 17174416
                        },
                        {
                          "title": "Bring me the head of Prince Charming",
                          "image": "https://covers.openlibrary.org/b/id/3965371-M.jpg",
                          "id": 20121054
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment Required"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "The id of the book to which similar books should be found.",
            "schema": {
              "format": "int32",
              "minimum": 0,
              "maximum": 999999999,
              "type": "integer",
              "example": 8302059
            },
            "required": true,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "number",
            "description": "The number of similar books to return in range [1,100]",
            "schema": {
              "format": "int32",
              "minimum": 1,
              "maximum": 100,
              "type": "integer",
              "example": 10
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          }
        ],
        "externalDocs": {
          "description": "Read entire docs",
          "url": "https://apileague.com/apis/find-similar-books-api/"
        },
        "summary": "Find Similar Books API",
        "tags": [
          "Books"
        ],
        "description": "Find books that are similar to the given book (based on a set of over 4 million books). This is useful for recommending books to users based on their reading history or preferences. The response will contain a list of similar books with their title, id, and cover image.",
        "operationId": "findSimilarBooksAPI",
        "deprecated": false
      }
    },
    "/search-news": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "offset": {
                      "type": "integer"
                    },
                    "number": {
                      "type": "integer"
                    },
                    "available": {
                      "type": "integer"
                    },
                    "news": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "summary": {
                            "type": "string",
                            "nullable": true
                          },
                          "image": {
                            "type": "string",
                            "nullable": true
                          },
                          "sentiment": {
                            "type": "number"
                          },
                          "language": {
                            "type": "string",
                            "nullable": true
                          },
                          "video": {
                            "type": "string",
                            "nullable": true
                          },
                          "title": {
                            "type": "string",
                            "nullable": true
                          },
                          "url": {
                            "type": "string",
                            "nullable": true
                          },
                          "source_country": {
                            "type": "string",
                            "nullable": true
                          },
                          "id": {
                            "type": "integer"
                          },
                          "text": {
                            "type": "string",
                            "nullable": true
                          },
                          "category": {
                            "type": "string",
                            "nullable": true
                          },
                          "publish_date": {
                            "type": "string",
                            "nullable": true
                          },
                          "authors": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "nullable": true
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Response": {
                    "value": {
                      "offset": 0,
                      "number": 10,
                      "available": 83,
                      "news": [
                        {
                          "summary": "Tesla CEO Elon Musk has revealed new details about the upcoming Cybertruck electric pickup truck. According to Musk, its initial production will begin with a four-motor variant.",
                          "image": "https://internetprotocol.co/content/images/2021/12/Tesla-to-Release-a-Four-Motor-Version-of-Cybertruck.png",
                          "sentiment": 0.712523,
                          "language": "en",
                          "video": "https://cdn.jwplayer.com/videos/70lDQJpg-RyIcpnTz.mp4",
                          "title": "Tesla to Release a Four-Motor Version of Cybertruck",
                          "url": "https://internetprotocol.co/hitech/2021/12/07/tesla-to-release-a-four-motor-cybertruck/",
                          "source_country": "co",
                          "id": 28,
                          "text": "Tesla CEO Elon Musk has revealed new details about the upcoming Cybertruck electric pickup truck, the mass production of which was delayed until 2023 because of the lack of components and a lot of complex technologies that need to be scaled up. According to Musk, the initial production of the electric pickup truck will begin with a four-motor variant with \u201cindependent, ultra fast response torque control of each wheel,\u201d the tweet reads. In response, Twitter users asked if the Cybertruck could turn like a tank. Musk said that thanks to both the rear and front wheel steer, the electric truck will not only be able to turn like a tank, but also drive diagonally like a crab. According to Electrek, this change could be Tesla's reaction to what its competitors do. Since the introduction of Tesla\u2019s novelty, the market for electric pickup trucks has significantly evolved. Currently, one electric pickup on the market can turn like a tank \u2013 the Rivian R1T, while GMC's Hummer EV can drive diagonally. Following the announcement of Tesla Cybertruck in 2019, the company announced three configurations of the pickup truck: the entry-level model with one motor, the one with two motors, and the one with three. Rumor has it that the company intends to abandon the single-motor version altogether. In this case, Tesla Cybertruck will be sold with two, three, and four motors. Musk has promised to provide an update on the pickup's roadmap on the next earnings call. The production of Tesla Cybertruck is expected to begin at the end of 2022, and its mass production is slated to start in 2023.",
                          "category": "business",
                          "publish_date": "2022-09-30 01:07:48",
                          "authors": [
                            "Iwan Stone",
                            "Zahna Eklund"
                          ]
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment Required"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "parameters": [
          {
            "name": "text",
            "description": "The text to match in the news content (at least 3 characters, maximum 100 characters). By default all query terms are expected, you can use an uppercase OR to search for any terms, e.g. tesla OR ford. You can also exclude terms by putting a minus sign (-) in front of the term, e.g. tesla -ford.",
            "schema": {
              "pattern": ".",
              "maxLength": 100,
              "type": "string",
              "example": "tesla"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "source-countries",
            "description": "A comma-separated list of ISO 3166 country codes from which the news should originate.",
            "schema": {
              "pattern": ".",
              "maxLength": 100,
              "type": "string",
              "example": "us,uk"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "language",
            "description": "The ISO 6391 language code of the news.",
            "schema": {
              "pattern": ".",
              "maxLength": 2,
              "type": "string",
              "example": "en"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "min-sentiment",
            "description": "The minimal sentiment of the news in range [-1,1].",
            "schema": {
              "format": "double",
              "minimum": -1,
              "maximum": 1,
              "type": "number",
              "example": -0.8
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "max-sentiment",
            "description": "The maximal sentiment of the news in range [-1,1].",
            "schema": {
              "format": "double",
              "minimum": -1,
              "maximum": 1,
              "type": "number",
              "example": 0.8
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "earliest-publish-date",
            "description": "The news must have been published after this date.",
            "schema": {
              "pattern": ".",
              "maxLength": 100,
              "type": "string",
              "example": "2022-04-22 16:12:35"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "latest-publish-date",
            "description": "The news must have been published before this date.",
            "schema": {
              "pattern": ".",
              "maxLength": 100,
              "type": "string",
              "example": "2022-04-22 16:12:35"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "news-sources",
            "description": "A comma-separated list of news sources from which the news should originate.",
            "schema": {
              "pattern": ".",
              "maxLength": 10000,
              "type": "string",
              "example": "https://www.bbc.co.uk"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "authors",
            "description": "A comma-separated list of author names. Only news from any of the given authors will be returned.",
            "schema": {
              "pattern": ".",
              "maxLength": 300,
              "type": "string",
              "example": "John Doe"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "categories",
            "description": "A comma-separated list of categories. Only news from any of the given categories will be returned. Possible categories are politics, sports, business, technology, entertainment, health, science, lifestyle, travel, culture, education, environment, other.",
            "schema": {
              "pattern": ".",
              "maxLength": 300,
              "type": "string",
              "example": "politics,sports"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "entities",
            "description": "Filter news by entities (ORG, PER, or LOC).",
            "schema": {
              "pattern": ".",
              "maxLength": 10000,
              "type": "string",
              "example": "ORG:Tesla"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "location-filter",
            "description": "Filter news by radius around a certain location. Format is \"latitude,longitude,radius in kilometers\"",
            "schema": {
              "pattern": ".",
              "maxLength": 100,
              "type": "string",
              "example": "51.050407, 13.737262, 100"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "sort",
            "description": "The sorting criteria (publish-time).",
            "schema": {
              "pattern": ".",
              "maxLength": 100,
              "type": "string",
              "example": "publish-time"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "sort-direction",
            "description": "Whether to sort ascending or descending (ASC or DESC).",
            "schema": {
              "pattern": ".",
              "maxLength": 4,
              "type": "string",
              "example": "ASC"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "offset",
            "description": "The number of news to skip in range [0,10000]",
            "schema": {
              "format": "int32",
              "minimum": 0,
              "maximum": 10000,
              "type": "integer",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "number",
            "description": "The number of news to return in range [1,100]",
            "schema": {
              "format": "int32",
              "minimum": 1,
              "maximum": 100,
              "type": "integer",
              "example": 10
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          }
        ],
        "externalDocs": {
          "description": "Read entire docs",
          "url": "https://apileague.com/apis/search-news-api/"
        },
        "summary": "Search News API",
        "tags": [
          "News"
        ],
        "description": "Search and filter millions of news from over 200 countries in 90 languages by text, date, location, category, language, and more. The API returns a list of news articles matching the given criteria. You can set as many filtering parameters as you like, but you have to set at least one, e.g. text or language.",
        "operationId": "searchNewsAPI",
        "deprecated": false
      }
    },
    "/retrieve-top-news": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "top_news": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "news": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "summary": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "image": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "id": {
                                  "type": "integer"
                                },
                                "text": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "title": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "publish_date": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "url": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "authors": {
                                  "type": "array",
                                  "items": {
                                    "type": "string",
                                    "nullable": true
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "language": {
                      "type": "string",
                      "nullable": true
                    },
                    "country": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                },
                "examples": {
                  "Response": {
                    "value": {
                      "top_news": [
                        {
                          "news": [
                            {
                              "summary": "...",
                              "image": "https://politicalwire.com/wp-content/uploads/2018/02/PW-podcast-logo.jpg",
                              "id": 224767206,
                              "text": "...",
                              "title": "Jury to Begin Deliberations In Trump Trial",
                              "publish_date": "2024-05-29 00:10:48",
                              "url": "https://politicalwire.com/2024/05/28/jury-to-begin-deliberations-in-trump-trial/",
                              "authors": [
                                "Taegan Goddard"
                              ]
                            },
                            {
                              "summary": "...",
                              "image": "https://dims.apnews.com/dims4/default/3446536/2147483647/strip/true/crop/6195x3485+0+323/resize/1440x810!/quality/90/?url=https%3A%2F%2Fassets.apnews.com%2Fec%2Fd5%2Ff56fdc38f86e38b6217b50083d19%2Fd5ef4afe1cb64825be1349de8fd40df0",
                              "id": 224839780,
                              "text": "...",
                              "title": "Jury in Donald Trump's hush money case to begin deliberations",
                              "publish_date": "2024-05-29 04:30:08",
                              "url": "https://apnews.com/article/trump-trial-deliberations-jury-judge-verdict-390f045e9e8a37f069e82576edd7a842",
                              "authors": []
                            },
                            {
                              "summary": "...",
                              "image": "https://whdh.com/wp-content/uploads/sites/3/2024/05/WHDH_2024-05-27_15h27-33-cover.jpg?quality=60&strip=color",
                              "id": 224936214,
                              "text": "...",
                              "title": "Jury in Trump's hush money case to begin deliberations after hearing instructions from judge",
                              "publish_date": "2024-05-29 08:47:26",
                              "url": "https://whdh.com/news/jury-in-trumps-hush-money-case-to-begin-deliberations-after-hearing-instructions-from-judge/",
                              "authors": []
                            },
                            {
                              "summary": "...",
                              "image": "https://assets3.cbsnewsstatic.com/hub/i/r/2024/05/29/66524a85-576c-4c40-94ba-cfb04cbb7950/thumbnail/1200x630g3/d2d9c8ea35b659db292c371bdc0a47e8/gettyimages-2154550679.jpg?v=c5044be0004eac09882c007ac02fef6d",
                              "id": 224956968,
                              "text": "...",
                              "video": "https://prod.vodvideo.cbsnews.com/cbsnews/vr/hls/2942696_hls/master.m3u8",
                              "title": "Trump trial jury set to begin deliberating verdict today after judge issues instructions",
                              "publish_date": "2024-05-29 10:00:18",
                              "url": "https://www.cbsnews.com/live-updates/trump-trial-verdict-jury-deliberations-judge-instructions/",
                              "authors": []
                            },
                            {
                              "summary": "...",
                              "image": "https://static01.nyt.com/images/2024/05/29/multimedia/29trump-trial-pinned-qzmh/29trump-trial-pinned-qzmh-facebookJumbo-v2.jpg",
                              "id": 224957034,
                              "text": "...",
                              "title": "Jury in Trump\u2019s Hush-Money Trial to Begin Deliberations on Wednesday",
                              "publish_date": "2024-05-29 10:12:08",
                              "url": "https://www.nytimes.com/2024/05/29/nyregion/trump-trial-jury-charges.html",
                              "authors": []
                            },
                            {
                              "summary": "...",
                              "image": "https://a57.foxnews.com/static.foxnews.com/foxnews.com/content/uploads/2024/05/931/524/judge-trump.png?ve=1&tl=1",
                              "id": 224961802,
                              "text": "...",
                              "title": "Jury to begin deliberations in Trump trial and more top headlines",
                              "publish_date": "2024-05-29 10:22:36",
                              "url": "https://www.foxnews.com/us/judge-outline-framework-jury-trial-decide-trumps-fate-more-top-headlines",
                              "authors": []
                            }
                          ]
                        },
                        {
                          "news": [
                            {
                              "image": "https://cdn.vox-cdn.com/thumbor/WBEMdSSOD_jHJGnNV7hLX88zANk=/0x444:5601x3376/fit-in/1200x630/cdn.vox-cdn.com/uploads/chorus_asset/file/25469085/2152809074.jpg",
                              "id": 225109966,
                              "text": "...",
                              "title": "Scottie Scheffler PGA Championship charges set to get dropped",
                              "publish_date": "2024-05-29 15:24:34",
                              "url": "https://www.sbnation.com/golf/2024/5/29/24167024/scottie-scheffler-pga-championship-louisville-police-drop-charges",
                              "authors": [
                                "Brendan Porath"
                              ]
                            },
                            {
                              "summary": "...",
                              "image": "https://www.pilotonline.com/wp-content/uploads/2024/05/Scheffler_Arrest_Golf_86723_6d56d8.jpg?w=1024",
                              "id": 225118216,
                              "text": "...",
                              "title": "Charges against world\u2019s top golfer Scottie Scheffler dropped after arrest outside PGA Championship",
                              "publish_date": "2024-05-29 17:05:55",
                              "url": "https://www.pilotonline.com/2024/05/29/charges-against-worlds-top-golfer-scottie-scheffler-dropped-after-arrest-outside-pga-championship/",
                              "authors": []
                            },
                            {
                              "summary": "...",
                              "image": "https://www.twincities.com/wp-content/uploads/2024/05/Scheffler_Arrest_Golf_86723_6d56d8.jpg?w=1024",
                              "id": 225118304,
                              "text": "...",
                              "title": "Charges against world\u2019s top golfer Scottie Scheffler dropped after arrest outside PGA Championship",
                              "publish_date": "2024-05-29 17:05:55",
                              "url": "https://www.twincities.com/2024/05/29/charges-against-worlds-top-golfer-scottie-scheffler-dropped-after-arrest-outside-pga-championship/",
                              "authors": []
                            },
                            {
                              "summary": "...",
                              "image": "https://wsvn.com/wp-content/uploads/sites/2/2024/04/240414_Scottie_Scheffler.jpg?quality=60&strip=color",
                              "id": 225119550,
                              "text": "...",
                              "title": "Charges against world's top golfer Scottie Scheffler dropped after arrest outside PGA Championship",
                              "publish_date": "2024-05-29 17:10:09",
                              "url": "https://wsvn.com/sports/charges-against-worlds-top-golfer-scottie-scheffler-dropped-after-arrest-outside-pga-championship/",
                              "authors": []
                            }
                          ]
                        },
                        {
                          "news": [
                            {
                              "summary": "...",
                              "image": "https://media.nbcwashington.com/2019/09/AP163564666366.jpg?quality=85&strip=all&fit=722%2C406",
                              "id": 225012756,
                              "text": "...",
                              "title": "Pandas to return to DC's National Zoo",
                              "publish_date": "2024-05-29 12:37:10",
                              "url": "https://www.nbcwashington.com/news/local/national-zoo-expected-to-make-announcement-about-panda-program/3627045/",
                              "authors": []
                            },
                            {
                              "summary": "...",
                              "image": "https://dims.apnews.com/dims4/default/1f5b9aa/2147483647/strip/true/crop/3382x1902+0+176/resize/1440x810!/quality/90/?url=https%3A%2F%2Fassets.apnews.com%2Fc4%2F1e%2F69094cc265243956d243348db814%2F71b160bbb0204eb594474a4934fb0df6",
                              "id": 225017360,
                              "text": "...",
                              "title": "Giant pandas are returning to D.C.'s National Zoo",
                              "publish_date": "2024-05-29 12:51:08",
                              "url": "https://apnews.com/article/giant-pandas-washington-zoo-china-764f8016d98c01ab579bdbb6dcc3dd6b",
                              "authors": []
                            },
                            {
                              "summary": "...",
                              "image": "https://www.baltimoresun.com/wp-content/uploads/2024/05/Giant_Pandas_89303.jpg?w=1024",
                              "id": 225017634,
                              "text": "...",
                              "title": "2 new giant pandas are returning to Washington\u2019s National Zoo from China by the end of the year",
                              "publish_date": "2024-05-29 12:52:08",
                              "url": "https://www.baltimoresun.com/2024/05/29/2-new-giant-pandas-are-returning-to-washingtons-national-zoo-from-china-by-the-end-of-the-year/",
                              "authors": []
                            }
                          ]
                        }
                      ],
                      "language": "en",
                      "country": "us"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment Required"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "parameters": [
          {
            "name": "source-country",
            "description": "The ISO 3166 country code of the country for which top news should be retrieved.",
            "schema": {
              "pattern": ".",
              "maxLength": 2,
              "type": "string",
              "example": "us"
            },
            "required": true,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "language",
            "description": "The ISO 6391 language code of the top news. The language must be one spoken in the source-country.",
            "schema": {
              "pattern": ".",
              "maxLength": 2,
              "type": "string",
              "example": "en"
            },
            "required": true,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "date",
            "description": "The date for which the top news should be retrieved. If no date is given, the current day is assumed.",
            "schema": {
              "pattern": ".",
              "maxLength": 10,
              "type": "string",
              "example": "2024-05-30"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "headlines-only",
            "description": "Whether to only return basic information such as id, title, and url of the news.",
            "schema": {
              "type": "boolean",
              "example": false
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          }
        ],
        "externalDocs": {
          "description": "Read entire docs",
          "url": "https://apileague.com/apis/top-news-api/"
        },
        "summary": "Top News API",
        "tags": [
          "News"
        ],
        "description": "Get the top news from a country (over 220 are supported) in a language (over 90 are supported) for a specific date. The top news are clustered from multiple sources in the given country. The more news in a cluster the higher the cluster is ranked.",
        "operationId": "topNewsAPI",
        "deprecated": false
      }
    },
    "/extract-news": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string",
                      "nullable": true
                    },
                    "text": {
                      "type": "string",
                      "nullable": true
                    },
                    "url": {
                      "type": "string",
                      "nullable": true
                    },
                    "images": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "width": {
                            "type": "integer"
                          },
                          "title": {
                            "type": "string",
                            "nullable": true
                          },
                          "url": {
                            "type": "string",
                            "nullable": true
                          },
                          "height": {
                            "type": "integer"
                          }
                        }
                      }
                    },
                    "videos": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "summary": {
                            "type": "string",
                            "nullable": true
                          },
                          "duration": {
                            "type": "integer"
                          },
                          "thumbnail": {
                            "type": "string",
                            "nullable": true
                          },
                          "title": {
                            "type": "string",
                            "nullable": true
                          },
                          "url": {
                            "type": "string",
                            "nullable": true
                          }
                        }
                      }
                    },
                    "publish_date": {
                      "type": "string",
                      "nullable": true
                    },
                    "authors": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "nullable": true
                      }
                    },
                    "language": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                },
                "examples": {
                  "Response": {
                    "value": {
                      "title": "Known terrorist spent year in US after being wrongly released by feds \u2014 and GOP lawmakers demand answers",
                      "text": "A Somali terrorist was allowed into the country and was able to operate freely for almost a year before authorities realized their error and rearrested him. Republican lawmakers are demanding information from Homeland Security Secretary Alejandro Mayorkas about what happened to the man \u2014 and whether US citizens funded any part of his journey to or stay in the US. The 27-year-old Somalian \u2014 who so far has not been identified by name \u2014 was on the watchlist as \u201ca confirmed member of al Shabaab\u201d involved in the use, manufacture or transportation of explosives or firearms, but a border bungle meant he was released after initially being arrested for crossing into the country illegally in California in March 2023. A letter from Republican lawmakers seeks to find the al-Shabaab member\u2019s path from illegally crossing the border to Minnesota, were he was eventually rearrested in January, and whether he received any government benefits. It also seeks to find if he took a commercial flight with US citizens to reach their state and if his travel was funded with taxpayer dollars, according to the Tuesday letter, first obtained by The Post. The letter states: \u201cDue to Minnesota\u2019s far distance from the border, it is not an easy task for migrants to travel to the state \u2026 \u201cDid the al-Shabbab terrorist travel to Minnesota with the assistance, either direct or indirect of an [Non-Governmental Organization]? If so, which NGO was responsible for transporting the individual to Minnesota?\u201d The terrorist organization member had initially crossed into California and been arrested by the Border Patrol. However, the Terrorist Screening Center determined he was a \u201cmismatch\u201d to the terror watchlist, leading to his release. Nearly a year later, Immigration and Customs Enforcement (ICE) nabbed him after federal authorities made a \u201credetermination\u201d and realized he was associated with the Somalian militant group. Al-Shabaab was formed as the militant wing of the Somali Council of Islamic Courts, which controlled the southern part of the country in late 2006. Its rule was defeated in 2007, according to the Office of the Director of National Intelligence, but it has since operated as an underground network and is involved in wars in and around Somalia. It was designated a terrorist organization in 2008 by the US government and is notorious for carrying out bombings and suicide attacks. In 2013, al-Shabaab was responsible for a massacre at the Westgate mall in Kenya, killing 67 individuals. US forces have conducted six strikes in Somalia against al-Shabaab already this year, killing two dozen militants in the latest actions, according to CNN. In a February press conference, ICE Acting Director Patrick Lechleitner said his agency arrested the individual \u201cwithin 48 hours\u201d of learning his true identity. \u201cThe Biden administration\u2019s open-borders agenda allowed a known terrorist to roam freely throughout our state, and now they must answer for their inexcusable negligence,\u201d House Majority Whip Tom Emmer (R-Minn.) said in a statement to The Post regarding the probe. The Border Patrol has recorded an ever-growing number of migrants listed on the terror watchlist attempting to enter the US illegally in recent years. Between October 2023 and February, agents have already recorded 70 encounters at both the southern and northern borders, according to federal data. There were 172 such encounters recorded in fiscal year 2023, which ran from October 2022 to September 2023, 98 in fiscal year 2022, 16 in fiscal year 2021 and 14 between fiscal years 2017 and 2020. In March, Border Patrol agents apprehended Lebanese national Basel Bassel Ebbadi, 22, who told personnel that he came to the US \u201cto try to make a bomb,\u201d according to internal federal documents first obtained by The Post. Ebbadi admitted to a border agent that he is a member of Hezbollah and was later confirmed as a \u201cpositive match\u201d on the terror watchlist.",
                      "url": "https://nypost.com/2024/04/02/us-news/lawmakers-demand-to-know-if-taxpayers-funded-al-shabaab-terrorist/",
                      "images": [
                        {
                          "width": 879,
                          "title": "Masked al-Shabaab members hold up weapons",
                          "url": "https://nypost.com/wp-content/uploads/sites/2/2024/04/2010-somalias-hardline-islamist-rebel-39796525.jpg?w=1024",
                          "height": 590
                        },
                        {
                          "width": 787,
                          "title": "Members of al-Shabaab",
                          "url": "https://nypost.com/wp-content/uploads/sites/2/2024/04/2010-al-shabaab-said-friday-39807171.jpg?w=1024",
                          "height": 590
                        },
                        {
                          "width": 943,
                          "title": "Border Patrol agents apprehend migrants",
                          "url": "https://nypost.com/wp-content/uploads/sites/2/2024/04/migrants-placed-vans-u-s-78334041.jpg?w=1024",
                          "height": 590
                        },
                        {
                          "width": 885,
                          "title": "Migrants await to be transported by Border Patrol agents",
                          "url": "https://nypost.com/wp-content/uploads/sites/2/2024/04/asylum-seeking-migrants-stand-line-71972565.jpg?w=1024",
                          "height": 590
                        },
                        {
                          "width": 885,
                          "title": "Border Patrol vehicle",
                          "url": "https://nypost.com/wp-content/uploads/sites/2/2024/04/u-s-border-patrol-vehicle-56717052.jpg?w=1024",
                          "height": 590
                        },
                        {
                          "width": 1200,
                          "url": "https://nypost.com/wp-content/uploads/sites/2/2024/04/al-shabaab-terrorist-migrant-border-crossing-california-minnesota-mayorkas-comp-02.jpg?quality=75&strip=all&w=1200",
                          "height": 800
                        }
                      ],
                      "videos": [
                        {
                          "summary": "Today's Video Headlines: 4/2/24",
                          "duration": 61,
                          "thumbnail": "https://cdn.jwplayer.com/v2/media/Den1Nq47/poster.jpg?width=720",
                          "title": "Today's Video Headlines",
                          "url": "https://cdn.jwplayer.com/videos/Den1Nq47-RyIcpnTz.mp4"
                        }
                      ],
                      "publish_date": "2024-04-02 17:13:12",
                      "authors": [
                        "Jennie Taer"
                      ],
                      "language": "en"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment Required"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "parameters": [
          {
            "name": "url",
            "description": "The url of the news.",
            "schema": {
              "pattern": ".",
              "maxLength": 1000,
              "type": "string",
              "example": "https://internetprotocol.co/hitech/2021/12/07/tesla-to-release-a-four-motor-cybertruck/"
            },
            "required": true,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "analyze",
            "description": "Whether to analyze the news (extract entities etc.)",
            "schema": {
              "type": "boolean",
              "example": true
            },
            "required": true,
            "style": "form",
            "explode": false,
            "in": "query"
          }
        ],
        "externalDocs": {
          "description": "Read entire docs",
          "url": "https://apileague.com/apis/extract-news-api/"
        },
        "summary": "Extract News API",
        "tags": [
          "News"
        ],
        "description": "Extract a news article from a website to a well structure JSON object. The API will return the title, text, URL, image, publish date, author, language, source country, and sentiment of the news article.",
        "operationId": "extractNewsAPI",
        "deprecated": false
      }
    },
    "/search-jokes": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jokes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "joke": {
                            "type": "string",
                            "nullable": true
                          }
                        }
                      }
                    },
                    "available": {
                      "type": "integer"
                    }
                  }
                },
                "examples": {
                  "Response": {
                    "value": {
                      "jokes": [
                        {
                          "joke": "A retiring farmer in preparation for selling his land, needed to rid his farm of animals. So he went to every house in his town. \nTo the houses where the man is the boss, he gave a horse. To the houses where the woman is the boss, a chicken was given. \nHe got toward the end of the street and saw a couple outside gardening. \"Who's the boss around here?\" he asked. \n\"I am.\" said the man. \n\"I have a black horse and a brown horse,\" the farmer said, \"which one would you like?\" \nThe man thought for a minute and said, \"The black one.\" \n\"No, no, no, get the brown one.\" the man's wife said. \n\"Here's your chicken.\" said the farmer."
                        },
                        {
                          "joke": "A blonde decides to try horseback riding, even though she has had no\r\nlessons or prior experience. She mounts the horse unassisted and then\r\nhorse immediately springs into motion. It gallops along at a steady and\r\nrhythmic pace, but the blonde begins to slip from the\r\nsaddle. In terror, she grabs for the horse's mane, but cannot seem to get\r\na firm grip.\r\nShe tries to throw her arms around the horse's neck, but she slides down\r\nthe side of the horse anyway. The horse gallops along, seemingly\r\nimpervious to its slipping rider. Finally, giving up her frail grip, she\r\nleaps away from the horse to try and throw herself to safety.\r\nUnfortunately, her foot has become entangled in the stirrup and she is now\r\nat the mercy of the horse's pounding hooves as her head is battered\r\nagainst the ground again and again. She is mere moments away from\r\nunconsciousness when...\r\n ...the Wal-Mart manager runs out to shut the horse off."
                        },
                        {
                          "joke": "Once Chuck Norris met a man on a horse that he did'nt like, now we know him as the headless horseman."
                        }
                      ],
                      "available": 169
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment Required"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "parameters": [
          {
            "name": "keywords",
            "description": "A comma-separated list of words that must occur in the joke.",
            "schema": {
              "pattern": ".",
              "maxLength": 300,
              "type": "string",
              "example": "horse,man"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "include-tags",
            "description": "A comma-separated list of tags the jokes should have.",
            "schema": {
              "pattern": ".",
              "maxLength": 300,
              "type": "string",
              "example": "animal"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "exclude-tags",
            "description": "A comma-separated list of tags the jokes must not have.",
            "schema": {
              "pattern": ".",
              "maxLength": 300,
              "type": "string",
              "example": "nsfw,dark"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "min-rating",
            "description": "The minimum rating in range [0.0,1.0] of the jokes.",
            "schema": {
              "format": "double",
              "minimum": 0,
              "maximum": 1,
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "max-length",
            "description": "The maximum length of the joke in letters.",
            "schema": {
              "format": "double",
              "minimum": 0,
              "maximum": 1,
              "type": "number",
              "example": 140
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "offset",
            "description": "The number of jokes to skip, between 0 and 1000.",
            "schema": {
              "format": "int32",
              "minimum": 0,
              "maximum": 1000,
              "type": "integer",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "number",
            "description": "The number of jokes, between 1 and 10.",
            "schema": {
              "format": "int32",
              "minimum": 1,
              "maximum": 10,
              "type": "integer",
              "example": 3
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          }
        ],
        "externalDocs": {
          "description": "Read entire docs",
          "url": "https://apileague.com/apis/search-jokes-api/"
        },
        "summary": "Search Jokes API",
        "tags": [
          "Humor"
        ],
        "description": "With over 50,000 jokes, you should find something for any occasion. There are 27 categories/tags to choose from, but you can also search for very specific words within jokes.",
        "operationId": "searchJokesAPI",
        "deprecated": false
      }
    },
    "/retrieve-random-joke": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "joke": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                },
                "examples": {
                  "Response": {
                    "value": {
                      "joke": "What do you call a boxing match between two aardvarks?\nA snout bout!"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment Required"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "parameters": [
          {
            "name": "include-tags",
            "description": "A comma-separated list of tags the jokes should have.",
            "schema": {
              "pattern": ".",
              "maxLength": 300,
              "type": "string",
              "example": "animal"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "exclude-tags",
            "description": "A comma-separated list of tags the jokes must not have.",
            "schema": {
              "pattern": ".",
              "maxLength": 300,
              "type": "string",
              "example": "nsfw,dark"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "min-rating",
            "description": "The minimum rating in range [0.0,1.0] of the jokes.",
            "schema": {
              "format": "double",
              "minimum": 0,
              "maximum": 1,
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "max-length",
            "description": "The maximum length of the joke in letters.",
            "schema": {
              "format": "int32",
              "minimum": 1,
              "maximum": 10000,
              "type": "integer",
              "example": 140
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          }
        ],
        "externalDocs": {
          "description": "Read entire docs",
          "url": "https://apileague.com/apis/random-joke-api/"
        },
        "summary": "Random Joke API",
        "tags": [
          "Humor"
        ],
        "description": "This is a simple API that returns a random joke. You can filter the jokes by tags and keywords. To make sure they are safe for work, you could use the exclude-tags parameter to exclude jokes with certain tags such as \"nsfw\" or \"religious\".",
        "operationId": "randomJokeAPI",
        "deprecated": false
      }
    },
    "/search-memes": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "memes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "nullable": true
                          },
                          "description": {
                            "type": "string",
                            "nullable": true
                          },
                          "url": {
                            "type": "string",
                            "nullable": true
                          }
                        }
                      }
                    },
                    "available": {
                      "type": "integer"
                    }
                  }
                },
                "examples": {
                  "Response": {
                    "value": {
                      "memes": [
                        {
                          "type": "video/mp4",
                          "description": "Hey, you want a light show?: Edit: Thank you for getting the joke. I didn\u2019t think a joke about gloving would land, but I appreciate your sense of humor Imgur. Let me know what shows you are going to or went to this year. DM me if you want to team up on Rocket League.",
                          "url": "https://i.imgur.com/4msjS5E.mp4"
                        },
                        {
                          "type": "image/png",
                          "description": "Rocket Money is a scam.: Prevented a $30 charge of something I don't use anymore. Feels good.",
                          "url": "https://i.imgur.com/q3cZlpv.png"
                        },
                        {
                          "type": "image/jpeg",
                          "description": "Rocket Money is a scam.: Cat tax.",
                          "url": "https://i.imgur.com/yaZoCFP.jpg"
                        }
                      ],
                      "available": 156
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment Required"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "parameters": [
          {
            "name": "keywords",
            "description": "A comma-separated list of words that must occur in the meme.",
            "schema": {
              "pattern": ".",
              "maxLength": 300,
              "type": "string",
              "example": "rocket"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "keywords-in-image",
            "description": "Whether the keywords must occur in the image.",
            "schema": {
              "type": "boolean",
              "example": true
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "media-type",
            "description": "The media type (either 'image', 'video' or even specific format such as 'jpg', 'png', or 'gif').",
            "schema": {
              "pattern": ".",
              "maxLength": 10,
              "type": "string",
              "example": "image"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "min-rating",
            "description": "The minimum rating in range [0.0,1.0] of the meme.",
            "schema": {
              "format": "double",
              "minimum": 0,
              "maximum": 1,
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "max-age-days",
            "description": "The maximum age of the meme in days.",
            "schema": {
              "format": "int32",
              "minimum": 0,
              "maximum": 10000,
              "type": "integer",
              "example": 30
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "offset",
            "description": "The number of memes to skip, between 0 and 1000.",
            "schema": {
              "format": "int32",
              "minimum": 0,
              "maximum": 1000,
              "type": "integer",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "number",
            "description": "The number of memes, between 1 and 10.",
            "schema": {
              "format": "int32",
              "minimum": 1,
              "maximum": 10,
              "type": "integer",
              "example": 3
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          }
        ],
        "externalDocs": {
          "description": "Read entire docs",
          "url": "https://apileague.com/apis/search-memes-api/"
        },
        "summary": "Search Memes API",
        "tags": [
          "Humor"
        ],
        "description": "Search over 300,000 memes by keyword, rating, and age. Most memes are stills (images) but using the media-type you can also get videos. You can even search for text within memes. You'll surely find something funny.",
        "operationId": "searchMemesAPI",
        "deprecated": false
      }
    },
    "/retrieve-random-meme": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "description": {
                      "type": "string",
                      "nullable": true
                    },
                    "url": {
                      "type": "string",
                      "nullable": true
                    },
                    "type": {
                      "type": "string",
                      "nullable": true
                    },
                    "width": {
                      "type": "integer"
                    },
                    "height": {
                      "type": "integer"
                    },
                    "ratio": {
                      "type": "number"
                    }
                  }
                },
                "examples": {
                  "Response": {
                    "value": {
                      "description": "That's totally fine.",
                      "url": "https://preview.redd.it/2wpfufhz8p751.jpg?width=640&crop=smart&auto=webp&s=dab7d5eba791f3a884b0c0614630c99e38c46c4d",
                      "type": "image/jpeg",
                      "width": 640,
                      "height": 702,
                      "ratio": 0.911681
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment Required"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "parameters": [
          {
            "name": "keywords",
            "description": "A comma-separated list of words that must occur in the meme.",
            "schema": {
              "pattern": ".",
              "maxLength": 300,
              "type": "string",
              "example": "airplane"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "keywords-in-image",
            "description": "Whether the keywords must occur in the image.",
            "schema": {
              "type": "boolean",
              "example": true
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "media-type",
            "description": "The media type (either 'image', 'video' or even specific format such as 'jpg', 'png', or 'gif').",
            "schema": {
              "pattern": ".",
              "maxLength": 10,
              "type": "string",
              "example": "image"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "min-rating",
            "description": "The minimum rating in range [0.0,1.0] of the meme.",
            "schema": {
              "format": "double",
              "minimum": 0,
              "maximum": 1,
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "max-age-days",
            "description": "The maximum age of the meme in days.",
            "schema": {
              "format": "int32",
              "minimum": 0,
              "maximum": 1000,
              "type": "integer",
              "example": 30
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          }
        ],
        "externalDocs": {
          "description": "Read entire docs",
          "url": "https://apileague.com/apis/random-meme-api/"
        },
        "summary": "Random Meme API",
        "tags": [
          "Humor"
        ],
        "description": "Get a random meme out of over 300,000+ memes. To get the latest memes, you can use the max-age-days parameter.",
        "operationId": "randomMemeAPI",
        "deprecated": false
      }
    },
    "/search-gifs": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "images": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "width": {
                            "type": "integer"
                          },
                          "url": {
                            "type": "string",
                            "nullable": true
                          },
                          "height": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Response": {
                    "value": {
                      "images": [
                        {
                          "width": 362,
                          "url": "https://media.tenor.com/xEf4j9pnMywAAAAC/dog-dogs.gif",
                          "height": 498
                        },
                        {
                          "width": 248,
                          "url": "https://media.tenor.com/U-g_SmVeq40AAAAC/poodle-dancing-dog-poodle.gif",
                          "height": 498
                        },
                        {
                          "width": 498,
                          "url": "https://media.tenor.com/SmFA9ziWpx4AAAAC/dogs-dog.gif",
                          "height": 374
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment Required"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "parameters": [
          {
            "name": "query",
            "description": "The search query.",
            "schema": {
              "pattern": ".",
              "maxLength": 300,
              "type": "string",
              "example": "dogs"
            },
            "required": true,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "number",
            "description": "The number of gifs to return in range [1,10]",
            "schema": {
              "format": "int32",
              "minimum": 1,
              "maximum": 10,
              "type": "integer",
              "example": 5
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          }
        ],
        "externalDocs": {
          "description": "Read entire docs",
          "url": "https://apileague.com/apis/search-gifs-api/"
        },
        "summary": "Search Gifs API",
        "tags": [
          "Humor"
        ],
        "description": "Search through hundreds of thousands of gifs to match any reaction you want. The gifs are returned in a list with the URL, width, and height of the gif.",
        "operationId": "searchGifsAPI",
        "deprecated": false
      }
    },
    "/generate-nonsense-word": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "word": {
                      "type": "string",
                      "nullable": true
                    },
                    "rating": {
                      "type": "number"
                    }
                  }
                },
                "examples": {
                  "Response": {
                    "value": {
                      "word": "caboo",
                      "rating": 0.41
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment Required"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "parameters": [],
        "externalDocs": {
          "description": "Read entire docs",
          "url": "https://apileague.com/apis/generate-nonsense-word-api/"
        },
        "summary": "Generate Nonsense Word API",
        "tags": [
          "Humor"
        ],
        "description": "Generate a funny sounding nonsense word. This is useful for generating random words for games, naming things, or just for fun. The response will contain the generated word and a rating of how funny it is.",
        "operationId": "generateNonsenseWordAPI",
        "deprecated": false
      }
    },
    "/search-drinks": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "offset": {
                      "type": "integer"
                    },
                    "number": {
                      "type": "integer"
                    },
                    "drinks": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "flavors": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "nullable": true
                            }
                          },
                          "instructions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "steps": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "number": {
                                        "type": "integer"
                                      },
                                      "ingredients": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "name": {
                                              "type": "string",
                                              "nullable": true
                                            },
                                            "image": {
                                              "type": "string",
                                              "nullable": true
                                            },
                                            "id": {
                                              "type": "integer"
                                            }
                                          }
                                        }
                                      },
                                      "equipment": {
                                        "type": "array",
                                        "items": {
                                          "type": "string",
                                          "nullable": true
                                        }
                                      },
                                      "step": {
                                        "type": "string",
                                        "nullable": true
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "images": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "nullable": true
                            }
                          },
                          "nutrition": {
                            "type": "object",
                            "properties": {
                              "weight_per_serving": {
                                "type": "object",
                                "properties": {
                                  "amount": {
                                    "type": "integer"
                                  },
                                  "unit": {
                                    "type": "string",
                                    "nullable": true
                                  }
                                }
                              },
                              "caloric_breakdown": {
                                "type": "object",
                                "properties": {
                                  "percent_fat": {
                                    "type": "number"
                                  },
                                  "percent_carbs": {
                                    "type": "number"
                                  },
                                  "percent_protein": {
                                    "type": "number"
                                  }
                                }
                              },
                              "flavonoids": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "amount": {
                                      "type": "integer"
                                    },
                                    "unit": {
                                      "type": "string",
                                      "nullable": true
                                    }
                                  }
                                }
                              },
                              "ingredient_breakdown": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "amount": {
                                      "type": "integer"
                                    },
                                    "unit": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "id": {
                                      "type": "integer"
                                    },
                                    "nutrients": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "name": {
                                            "type": "string",
                                            "nullable": true
                                          },
                                          "percent_of_daily_needs": {
                                            "type": "number"
                                          },
                                          "amount": {
                                            "type": "integer"
                                          },
                                          "unit": {
                                            "type": "string",
                                            "nullable": true
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              },
                              "properties": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "amount": {
                                      "type": "integer"
                                    },
                                    "unit": {
                                      "type": "string",
                                      "nullable": true
                                    }
                                  }
                                }
                              },
                              "nutrients": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "percent_of_daily_needs": {
                                      "type": "number"
                                    },
                                    "amount": {
                                      "type": "number"
                                    },
                                    "unit": {
                                      "type": "string",
                                      "nullable": true
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "glass_type": {
                            "type": "string",
                            "nullable": true
                          },
                          "credits": {
                            "type": "object",
                            "properties": {
                              "text": {
                                "type": "string",
                                "nullable": true
                              },
                              "source_name": {
                                "type": "string",
                                "nullable": true
                              },
                              "source_url": {
                                "type": "string",
                                "nullable": true
                              }
                            }
                          },
                          "price_per_serving": {
                            "type": "number"
                          },
[...]
