{
  "openapi": "3.0.0",
  "info": {
    "title": "API League",
    "description": "API League is a Hub for World Class APIs.",
    "termsOfService": "https://apileague.com/terms",
    "version": "1.0",
    "contact": {
      "name": "David Urbansky",
      "email": "mail@apileague.com"
    }
  },
  "servers": [
    {
      "url": "https://api.apileague.com"
    }
  ],
  "paths": {
    "/search-books": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "available": {
                      "type": "integer"
                    },
                    "number": {
                      "type": "integer"
                    },
                    "offset": {
                      "type": "integer"
                    },
                    "books": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string",
                            "nullable": true
                          },
                          "image": {
                            "type": "string",
                            "nullable": true
                          },
                          "id": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Response": {
                    "value": {
                      "available": 5999,
                      "number": 10,
                      "offset": 0,
                      "books": [
                        {
                          "title": "Journey to Hogwarts",
                          "image": "https://covers.openlibrary.org/b/id/2520429-M.jpg",
                          "id": 17200576
                        },
                        {
                          "image": "https://covers.openlibrary.org/b/id/2520430-M.jpg",
                          "id": 15954006,
                          "title": "Inside Hogwarts",
                          "subtitle": "Magical Paintbook"
                        },
                        {
                          "title": "Harry Potter and the Goblet of Fire",
                          "image": "https://covers.openlibrary.org/b/id/12775900-M.jpg",
                          "id": 16384516
                        },
                        {
                          "title": "Harry Potter and the Order of the Phoenix",
                          "image": "https://covers.openlibrary.org/b/id/11416565-M.jpg",
                          "id": 14296534
                        },
                        {
                          "title": "Great Gatsby (Silver Screen Edition)",
                          "image": "https://covers.openlibrary.org/b/id/12791857-M.jpg",
                          "id": 14530450
                        },
                        {
                          "image": "https://covers.openlibrary.org/b/id/394001-M.jpg",
                          "id": 18810398,
                          "title": "The Hobbit",
                          "subtitle": "or, There and back again"
                        },
                        {
                          "image": "https://covers.openlibrary.org/b/id/6282709-M.jpg",
                          "id": 13597674,
                          "title": "The Name of the Wind",
                          "subtitle": "The Kingkiller Chronicle : day one"
                        },
                        {
                          "image": "https://covers.openlibrary.org/b/id/13220226-M.jpg",
                          "id": 20778556,
                          "title": "Two Towers : The Lord of the Rings",
                          "subtitle": "Part Two"
                        },
                        {
                          "title": "Frankenstein (Silver Screen Edition)",
                          "image": "https://covers.openlibrary.org/b/id/12791860-M.jpg",
                          "id": 20101114
                        },
                        {
                          "title": "Bogar b\u00e1rd mes\u00e9i",
                          "image": "https://covers.openlibrary.org/b/id/9326689-M.jpg",
                          "id": 17798828
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment Required"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "parameters": [
          {
            "name": "query",
            "description": "The search query.",
            "schema": {
              "pattern": ".",
              "maxLength": 300,
              "type": "string",
              "example": "books about wizards"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "earliest-publish-year",
            "description": "The books must have been published after this year.",
            "schema": {
              "format": "int32",
              "minimum": 0,
              "maximum": 9999,
              "type": "integer",
              "example": 2022
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "latest-publish-year",
            "description": "The books must have been published before this year.",
            "schema": {
              "format": "int32",
              "minimum": 0,
              "maximum": 9999,
              "type": "integer",
              "example": 2023
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "min-rating",
            "description": "The minimum rating the book must have gotten in the interval [0,1].",
            "schema": {
              "format": "double",
              "minimum": 0,
              "maximum": 1,
              "type": "number",
              "example": 0.8
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "max-rating",
            "description": "The maximum rating the book must have gotten in the interval [0,1].",
            "schema": {
              "format": "double",
              "minimum": 0,
              "maximum": 1,
              "type": "number",
              "example": 0.99
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "genres",
            "description": "A comma-separated list of  genres. Only books from any of the given genres will be returned.",
            "schema": {
              "pattern": ".",
              "maxLength": 1000,
              "type": "string",
              "example": "nonfiction"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "authors",
            "description": "A comma-separated list of author ids or names. Only books from any of the given authors will be returned. You can retrieve author ids from the search authors endpoint. Pass author names is slower and if two authors have the same name you can't disambiguate.",
            "schema": {
              "pattern": ".",
              "maxLength": 1000,
              "type": "string",
              "example": "J.K. Rowling"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "isbn",
            "description": "Only the book matching the ISBN-13 will be returned",
            "schema": {
              "pattern": ".",
              "maxLength": 13,
              "type": "string",
              "example": "9781781257654"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "oclc",
            "description": "Only the book matching the OCLC will be returned",
            "schema": {
              "pattern": ".",
              "maxLength": 100,
              "type": "string",
              "example": "864418200"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "sort",
            "description": "The sorting criteria (publish-date or rating).",
            "schema": {
              "pattern": ".",
              "maxLength": 10000,
              "type": "string",
              "example": "rating"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "sort-direction",
            "description": "Whether to sort ascending or descending (ASC or DESC).",
            "schema": {
              "pattern": ".",
              "maxLength": 4,
              "type": "string",
              "example": "DESC"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "group-results",
            "description": "Whether to group similar editions of the same book.",
            "schema": {
              "type": "boolean",
              "example": false
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "offset",
            "description": "The number of books to skip in range [0,1000]",
            "schema": {
              "format": "int32",
              "minimum": 0,
              "maximum": 1000,
              "type": "integer",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "number",
            "description": "The number of books to return in range [1,100]",
            "schema": {
              "format": "int32",
              "minimum": 1,
              "maximum": 100,
              "type": "integer",
              "example": 10
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          }
        ],
        "externalDocs": {
          "description": "Read entire docs",
          "url": "https://apileague.com/apis/search-books-api"
        },
        "summary": "Search Books",
        "tags": [
          "Books"
        ],
        "description": "Search and filter books based on matching a query, the ISBN, rating, and more fields. The query is semantically parsed using our own large ontology. That means you can search for \"books about dogs\" and will automatically also find books about \"border collies\" and other types without specifying them in the query.",
        "operationId": "searchBooks",
        "deprecated": false
      }
    },
    "/list-similar-books": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "similar_books": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string",
                            "nullable": true
                          },
                          "image": {
                            "type": "string",
                            "nullable": true
                          },
                          "id": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Response": {
                    "value": {
                      "similar_books": [
                        {
                          "title": "Harry Potter and the Order of the Phoenix",
                          "image": "https://covers.openlibrary.org/b/id/11416565-M.jpg",
                          "id": 14296534
                        },
                        {
                          "title": "Harry Potter and the Half-Blood Prince",
                          "image": "https://covers.openlibrary.org/b/id/8235163-M.jpg",
                          "id": 16499448
                        },
                        {
                          "title": "Blood and Fire",
                          "image": "https://covers.openlibrary.org/b/id/10404497-M.jpg",
                          "id": 18610968
                        },
                        {
                          "image": "https://covers.openlibrary.org/b/id/6657713-M.jpg",
                          "id": 20464852,
                          "title": "Towers of midnight",
                          "subtitle": "Wheel of Time Book 13"
                        },
                        {
                          "image": "https://covers.openlibrary.org/b/id/3027823-M.jpg",
                          "id": 13804028,
                          "title": "Best of Robert Jordan",
                          "subtitle": "The Shadow Rising; The Fires of Heaven; Lord of Chaos; A Crown of Swords (The Wheel of Time Series)"
                        },
                        {
                          "title": "MAR, Volume 7",
                          "image": "https://covers.openlibrary.org/b/id/765103-M.jpg",
                          "id": 14987824
                        },
                        {
                          "title": "The Daysong of the Knightbird",
                          "image": "https://covers.openlibrary.org/b/id/1822804-M.jpg",
                          "id": 19984854
                        },
                        {
                          "title": "The key",
                          "image": "https://covers.openlibrary.org/b/id/8369732-M.jpg",
                          "id": 17174416
                        },
                        {
                          "title": "Bring me the head of Prince Charming",
                          "image": "https://covers.openlibrary.org/b/id/3965371-M.jpg",
                          "id": 20121054
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment Required"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "The id of the book to which similar books should be found.",
            "schema": {
              "format": "int32",
              "minimum": 0,
              "maximum": 999999999,
              "type": "integer",
              "example": 8302059
            },
            "required": true,
            "style": "simple",
            "explode": false,
            "in": "path"
          },
          {
            "name": "number",
            "description": "The number of similar books to return in range [1,100]",
            "schema": {
              "format": "int32",
              "minimum": 1,
              "maximum": 100,
              "type": "integer",
              "example": 10
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          }
        ],
        "externalDocs": {
          "description": "Read entire docs",
          "url": "https://apileague.com/apis/find-similar-books-api"
        },
        "summary": "Find Similar Books",
        "tags": [
          "Books"
        ],
        "description": "Find books that are similar to the given book. This is useful for recommending books to users based on their reading history or preferences. The response will contain a list of similar books with their title, id, and cover image.",
        "operationId": "findSimilarBooks",
        "deprecated": false
      }
    },
    "/search-news": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "offset": {
                      "type": "integer"
                    },
                    "number": {
                      "type": "integer"
                    },
                    "available": {
                      "type": "integer"
                    },
                    "news": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "summary": {
                            "type": "string",
                            "nullable": true
                          },
                          "image": {
                            "type": "string",
                            "nullable": true
                          },
                          "sentiment": {
                            "type": "number"
                          },
                          "source_country": {
                            "type": "string",
                            "nullable": true
                          },
                          "language": {
                            "type": "string",
                            "nullable": true
                          },
                          "id": {
                            "type": "integer"
                          },
                          "text": {
                            "type": "string",
                            "nullable": true
                          },
                          "title": {
                            "type": "string",
                            "nullable": true
                          },
                          "publish_date": {
                            "type": "string",
                            "nullable": true
                          },
                          "url": {
                            "type": "string",
                            "nullable": true
                          },
                          "authors": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "nullable": true
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Response": {
                    "value": {
                      "offset": 0,
                      "number": 10,
                      "available": 83,
                      "news": [
                        {
                          "summary": "Tesla CEO Elon Musk has revealed new details about the upcoming Cybertruck electric pickup truck. According to Musk, its initial production will begin with a four-motor variant.",
                          "image": "https://internetprotocol.co/content/images/2021/12/Tesla-to-Release-a-Four-Motor-Version-of-Cybertruck.png",
                          "sentiment": 0.712523,
                          "source_country": "co",
                          "language": "en",
                          "id": 28,
                          "text": "Tesla CEO Elon Musk has revealed new details about the upcoming Cybertruck electric pickup truck, the mass production of which was delayed until 2023 because of the lack of components and a lot of complex technologies that need to be scaled up. According to Musk, the initial production of the electric pickup truck will begin with a four-motor variant with \u201cindependent, ultra fast response torque control of each wheel,\u201d the tweet reads. In response, Twitter users asked if the Cybertruck could turn like a tank. Musk said that thanks to both the rear and front wheel steer, the electric truck will not only be able to turn like a tank, but also drive diagonally like a crab. According to Electrek, this change could be Tesla's reaction to what its competitors do. Since the introduction of Tesla\u2019s novelty, the market for electric pickup trucks has significantly evolved. Currently, one electric pickup on the market can turn like a tank \u2013 the Rivian R1T, while GMC's Hummer EV can drive diagonally. Following the announcement of Tesla Cybertruck in 2019, the company announced three configurations of the pickup truck: the entry-level model with one motor, the one with two motors, and the one with three. Rumor has it that the company intends to abandon the single-motor version altogether. In this case, Tesla Cybertruck will be sold with two, three, and four motors. Musk has promised to provide an update on the pickup's roadmap on the next earnings call. The production of Tesla Cybertruck is expected to begin at the end of 2022, and its mass production is slated to start in 2023.",
                          "title": "Tesla to Release a Four-Motor Version of Cybertruck",
                          "publish_date": "2022-09-30 01:07:48",
                          "url": "https://internetprotocol.co/hitech/2021/12/07/tesla-to-release-a-four-motor-cybertruck/",
                          "authors": [
                            "Iwan Stone",
                            "Zahna Eklund"
                          ]
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment Required"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "parameters": [
          {
            "name": "text",
            "description": "The text to match in the news content. By default all query terms are expected, you can use an uppercase OR to search for any terms, e.g. tesla OR ford",
            "schema": {
              "pattern": ".",
              "maxLength": 300,
              "type": "string",
              "example": "tesla"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "source-countries",
            "description": "A comma-separated list of ISO 3166 country codes from which the news should originate.",
            "schema": {
              "pattern": ".",
              "maxLength": 100,
              "type": "string",
              "example": "us,uk"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "language",
            "description": "The ISO 6391 language code of the news.",
            "schema": {
              "pattern": ".",
              "maxLength": 2,
              "type": "string",
              "example": "en"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "min-sentiment",
            "description": "The minimal sentiment of the news in range [-1,1].",
            "schema": {
              "format": "double",
              "minimum": -1,
              "maximum": 1,
              "type": "number",
              "example": -0.8
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "max-sentiment",
            "description": "The maximal sentiment of the news in range [-1,1].",
            "schema": {
              "format": "double",
              "minimum": -1,
              "maximum": 1,
              "type": "number",
              "example": 0.8
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "earliest-publish-date",
            "description": "The news must have been published after this date.",
            "schema": {
              "pattern": ".",
              "maxLength": 100,
              "type": "string",
              "example": "2022-04-22 16:12:35"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "latest-publish-date",
            "description": "The news must have been published before this date.",
            "schema": {
              "pattern": ".",
              "maxLength": 100,
              "type": "string",
              "example": "2022-04-22 16:12:35"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "news-sources",
            "description": "A comma-separated list of news sources from which the news should originate.",
            "schema": {
              "pattern": ".",
              "maxLength": 10000,
              "type": "string",
              "example": "https://www.bbc.co.uk"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "authors",
            "description": "A comma-separated list of author names. Only news from any of the given authors will be returned.",
            "schema": {
              "pattern": ".",
              "maxLength": 300,
              "type": "string",
              "example": "John Doe"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "entities",
            "description": "Filter news by entities (see semantic types).",
            "schema": {
              "pattern": ".",
              "maxLength": 10000,
              "type": "string",
              "example": "ORG:Tesla"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "location-filter",
            "description": "Filter news by radius around a certain location. Format is \"latitude,longitude,radius in kilometers\"",
            "schema": {
              "pattern": ".",
              "maxLength": 100,
              "type": "string",
              "example": "51.050407, 13.737262, 100"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "sort",
            "description": "The sorting criteria (publish-time or sentiment).",
            "schema": {
              "pattern": ".",
              "maxLength": 100,
              "type": "string",
              "example": "publish-time"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "sort-direction",
            "description": "Whether to sort ascending or descending (ASC or DESC).",
            "schema": {
              "pattern": ".",
              "maxLength": 4,
              "type": "string",
              "example": "ASC"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "offset",
            "description": "The number of news to skip in range [0,10000]",
            "schema": {
              "format": "int32",
              "minimum": 0,
              "maximum": 10000,
              "type": "integer",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "number",
            "description": "The number of news to return in range [1,100]",
            "schema": {
              "format": "int32",
              "minimum": 1,
              "maximum": 100,
              "type": "integer",
              "example": 10
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          }
        ],
        "externalDocs": {
          "description": "Read entire docs",
          "url": "https://apileague.com/apis/search-news-api"
        },
        "summary": "Search News",
        "tags": [
          "News"
        ],
        "description": "Search and filter news by text, date, location, language, and more. The API returns a list of news articles matching the given criteria. You can set as many filtering parameters as you like, but you have to set at least one, e.g. text or language.",
        "operationId": "searchNews",
        "deprecated": false
      }
    },
    "/extract-news": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string",
                      "nullable": true
                    },
                    "text": {
                      "type": "string",
                      "nullable": true
                    },
                    "url": {
                      "type": "string",
                      "nullable": true
                    },
                    "image": {
                      "type": "string",
                      "nullable": true
                    },
                    "publish_date": {
                      "type": "string",
                      "nullable": true
                    },
                    "author": {
                      "type": "string",
                      "nullable": true
                    },
                    "language": {
                      "type": "string",
                      "nullable": true
                    },
                    "source_country": {
                      "type": "string",
                      "nullable": true
                    },
                    "sentiment": {
                      "type": "number"
                    }
                  }
                },
                "examples": {
                  "Response": {
                    "value": {
                      "title": "Tesla to Release a Four-Motor Version of Cybertruck",
                      "text": "Tesla CEO Elon Musk has revealed new details about the upcoming Cybertruck electric pickup truck, the mass production of which was delayed until 2023 because of the lack of components and a lot of complex technologies that need to be scaled up. According to Musk, the initial production of the electric pickup truck will begin with a four-motor variant with \u201cindependent, ultra fast response torque control of each wheel,\u201d the tweet reads. In response, Twitter users asked if the Cybertruck could turn like a tank. Musk said that thanks to both the rear and front wheel steer, the electric truck will not only be able to turn like a tank, but also drive diagonally like a crab. According to Electrek, this change could be Tesla's reaction to what its competitors do. Since the introduction of Tesla\u2019s novelty, the market for electric pickup trucks has significantly evolved. Currently, one electric pickup on the market can turn like a tank \u2013 the Rivian R1T, while GMC's Hummer EV can drive diagonally. Following the announcement of Tesla Cybertruck in 2019, the company announced three configurations of the pickup truck: the entry-level model with one motor, the one with two motors, and the one with three. Rumor has it that the company intends to abandon the single-motor version altogether. In this case, Tesla Cybertruck will be sold with two, three, and four motors. Musk has promised to provide an update on the pickup's roadmap on the next earnings call. The production of Tesla Cybertruck is expected to begin at the end of 2022, and its mass production is slated to start in 2023.",
                      "url": "https://internetprotocol.co/hitech/2021/12/07/tesla-to-release-a-four-motor-cybertruck/",
                      "image": "https://internetprotocol.co/content/images/2021/12/Tesla-to-Release-a-Four-Motor-Version-of-Cybertruck.png",
                      "publish_date": "2022-09-30 01:07:48",
                      "author": "Kay Lee",
                      "language": "en",
                      "source_country": "co",
                      "sentiment": 0.712523
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment Required"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "parameters": [
          {
            "name": "url",
            "description": "The url of the news.",
            "schema": {
              "pattern": ".",
              "maxLength": 1000,
              "type": "string",
              "example": "https://internetprotocol.co/hitech/2021/12/07/tesla-to-release-a-four-motor-cybertruck/"
            },
            "required": true,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "analyze",
            "description": "Whether to analyze the news (extract entities etc.)",
            "schema": {
              "type": "boolean",
              "example": true
            },
            "required": true,
            "style": "form",
            "explode": false,
            "in": "query"
          }
        ],
        "externalDocs": {
          "description": "Read entire docs",
          "url": "https://apileague.com/apis/extract-news-api"
        },
        "summary": "Extract News",
        "tags": [
          "News"
        ],
        "description": "Extract a news article from a website to a well structure JSON object. The API will return the title, text, URL, image, publish date, author, language, source country, and sentiment of the news article.",
        "operationId": "extractNews",
        "deprecated": false
      }
    },
    "/search-jokes": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jokes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "joke": {
                            "type": "string",
                            "nullable": true
                          }
                        }
                      }
                    },
                    "available": {
                      "type": "integer"
                    }
                  }
                },
                "examples": {
                  "Response": {
                    "value": {
                      "jokes": [
                        {
                          "joke": "A retiring farmer in preparation for selling his land, needed to rid his farm of animals. So he went to every house in his town. \nTo the houses where the man is the boss, he gave a horse. To the houses where the woman is the boss, a chicken was given. \nHe got toward the end of the street and saw a couple outside gardening. \"Who's the boss around here?\" he asked. \n\"I am.\" said the man. \n\"I have a black horse and a brown horse,\" the farmer said, \"which one would you like?\" \nThe man thought for a minute and said, \"The black one.\" \n\"No, no, no, get the brown one.\" the man's wife said. \n\"Here's your chicken.\" said the farmer."
                        },
                        {
                          "joke": "A blonde decides to try horseback riding, even though she has had no\r\nlessons or prior experience. She mounts the horse unassisted and then\r\nhorse immediately springs into motion. It gallops along at a steady and\r\nrhythmic pace, but the blonde begins to slip from the\r\nsaddle. In terror, she grabs for the horse's mane, but cannot seem to get\r\na firm grip.\r\nShe tries to throw her arms around the horse's neck, but she slides down\r\nthe side of the horse anyway. The horse gallops along, seemingly\r\nimpervious to its slipping rider. Finally, giving up her frail grip, she\r\nleaps away from the horse to try and throw herself to safety.\r\nUnfortunately, her foot has become entangled in the stirrup and she is now\r\nat the mercy of the horse's pounding hooves as her head is battered\r\nagainst the ground again and again. She is mere moments away from\r\nunconsciousness when...\r\n ...the Wal-Mart manager runs out to shut the horse off."
                        },
                        {
                          "joke": "Once Chuck Norris met a man on a horse that he did'nt like, now we know him as the headless horseman."
                        }
                      ],
                      "available": 169
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment Required"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "parameters": [
          {
            "name": "keywords",
            "description": "A comma-separated list of words that must occur in the joke.",
            "schema": {
              "pattern": ".",
              "maxLength": 300,
              "type": "string",
              "example": "horse,man"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "include-tags",
            "description": "A comma-separated list of tags the jokes should have.",
            "schema": {
              "pattern": ".",
              "maxLength": 300,
              "type": "string",
              "example": "animal"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "exclude-tags",
            "description": "A comma-separated list of tags the jokes must not have.",
            "schema": {
              "pattern": ".",
              "maxLength": 300,
              "type": "string",
              "example": "nsfw,dark"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "min-rating",
            "description": "The minimum rating (0-10) of the jokes.",
            "schema": {
              "format": "double",
              "minimum": 0,
              "maximum": 1,
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "max-length",
            "description": "The maximum length of the joke in letters.",
            "schema": {
              "format": "double",
              "minimum": 0,
              "maximum": 1,
              "type": "number",
              "example": 140
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "offset",
            "description": "The number of jokes to skip, between 0 and 1000.",
            "schema": {
              "format": "int32",
              "minimum": 0,
              "maximum": 1000,
              "type": "integer",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "number",
            "description": "The number of jokes, between 1 and 10.",
            "schema": {
              "format": "int32",
              "minimum": 1,
              "maximum": 10,
              "type": "integer",
              "example": 3
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          }
        ],
        "externalDocs": {
          "description": "Read entire docs",
          "url": "https://apileague.com/apis/search-jokes-api"
        },
        "summary": "Search Jokes",
        "tags": [
          "Humor"
        ],
        "description": "With over 50,000 jokes, you should find something for any occasion. There are 27 categories/tags to choose from, but you can also search for very specific words within jokes.",
        "operationId": "searchJokes",
        "deprecated": false
      }
    },
    "/retrieve-random-joke": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "joke": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                },
                "examples": {
                  "Response": {
                    "value": {
                      "joke": "What do you call a boxing match between two aardvarks?\nA snout bout!"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment Required"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "parameters": [
          {
            "name": "include-tags",
            "description": "A comma-separated list of tags the jokes should have.",
            "schema": {
              "pattern": ".",
              "maxLength": 300,
              "type": "string",
              "example": "animal"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "exclude-tags",
            "description": "A comma-separated list of tags the jokes must not have.",
            "schema": {
              "pattern": ".",
              "maxLength": 300,
              "type": "string",
              "example": "nsfw,dark"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "min-rating",
            "description": "The minimum rating in range [0.0,1.0] of the jokes.",
            "schema": {
              "format": "double",
              "minimum": 0,
              "maximum": 1,
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "max-length",
            "description": "The maximum length of the joke in letters.",
            "schema": {
              "format": "int32",
              "minimum": 1,
              "maximum": 10000,
              "type": "integer",
              "example": 140
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          }
        ],
        "externalDocs": {
          "description": "Read entire docs",
          "url": "https://apileague.com/apis/random-joke-api"
        },
        "summary": "Random Joke",
        "tags": [
          "Humor"
        ],
        "description": "This is a simple API that returns a random joke. You can filter the jokes by tags and keywords. To make sure they are safe for work, you could use the exclude-tags parameter to exclude jokes with certain tags such as \"nsfw\" or \"religious\".",
        "operationId": "randomJoke",
        "deprecated": false
      }
    },
    "/search-memes": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "memes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "nullable": true
                          },
                          "description": {
                            "type": "string",
                            "nullable": true
                          },
                          "url": {
                            "type": "string",
                            "nullable": true
                          }
                        }
                      }
                    },
                    "available": {
                      "type": "integer"
                    }
                  }
                },
                "examples": {
                  "Response": {
                    "value": {
                      "memes": [
                        {
                          "type": "video/mp4",
                          "description": "Hey, you want a light show?: Edit: Thank you for getting the joke. I didn\u2019t think a joke about gloving would land, but I appreciate your sense of humor Imgur. Let me know what shows you are going to or went to this year. DM me if you want to team up on Rocket League.",
                          "url": "https://i.imgur.com/4msjS5E.mp4"
                        },
                        {
                          "type": "image/png",
                          "description": "Rocket Money is a scam.: Prevented a $30 charge of something I don't use anymore. Feels good.",
                          "url": "https://i.imgur.com/q3cZlpv.png"
                        },
                        {
                          "type": "image/jpeg",
                          "description": "Rocket Money is a scam.: Cat tax.",
                          "url": "https://i.imgur.com/yaZoCFP.jpg"
                        }
                      ],
                      "available": 156
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment Required"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "parameters": [
          {
            "name": "keywords",
            "description": "A comma-separated list of words that must occur in the meme.",
            "schema": {
              "pattern": ".",
              "maxLength": 300,
              "type": "string",
              "example": "rocket"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "keywords-in-image",
            "description": "Whether the keywords must occur in the image.",
            "schema": {
              "type": "boolean",
              "example": true
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "media-type",
            "description": "The media type (either 'image', 'video' or even specific format such as 'jpg', 'png', or 'gif').",
            "schema": {
              "pattern": ".",
              "maxLength": 10,
              "type": "string",
              "example": "image"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "min-rating",
            "description": "The minimum rating in range [0.0,1.0] of the meme.",
            "schema": {
              "format": "double",
              "minimum": 0,
              "maximum": 1,
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "max-age-days",
            "description": "The maximum age of the meme in days.",
            "schema": {
              "format": "int32",
              "minimum": 0,
              "maximum": 10000,
              "type": "integer",
              "example": 30
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "offset",
            "description": "The number of memes to skip, between 0 and 1000.",
            "schema": {
              "format": "int32",
              "minimum": 0,
              "maximum": 1000,
              "type": "integer",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "number",
            "description": "The number of memes, between 0 and 10.",
            "schema": {
              "format": "int32",
              "minimum": 0,
              "maximum": 10,
              "type": "integer",
              "example": 3
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          }
        ],
        "externalDocs": {
          "description": "Read entire docs",
          "url": "https://apileague.com/apis/search-memes-api"
        },
        "summary": "Search Memes",
        "tags": [
          "Humor"
        ],
        "description": "With over 200,000 memes, you'll surely find something funny. You can even search for text within memes and filter by user ratings.",
        "operationId": "searchMemes",
        "deprecated": false
      }
    },
    "/retrieve-random-meme": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "description": {
                      "type": "string",
                      "nullable": true
                    },
                    "url": {
                      "type": "string",
                      "nullable": true
                    },
                    "type": {
                      "type": "string",
                      "nullable": true
                    },
                    "width": {
                      "type": "integer"
                    },
                    "height": {
                      "type": "integer"
                    },
                    "ratio": {
                      "type": "number"
                    }
                  }
                },
                "examples": {
                  "Response": {
                    "value": {
                      "description": "That's totally fine.",
                      "url": "https://preview.redd.it/2wpfufhz8p751.jpg?width=640&crop=smart&auto=webp&s=dab7d5eba791f3a884b0c0614630c99e38c46c4d",
                      "type": "image/jpeg",
                      "width": 640,
                      "height": 702,
                      "ratio": 0.911681
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment Required"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "parameters": [
          {
            "name": "keywords",
            "description": "A comma-separated list of words that must occur in the meme.",
            "schema": {
              "pattern": ".",
              "maxLength": 300,
              "type": "string",
              "example": "airplane"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "keywords-in-image",
            "description": "Whether the keywords must occur in the image.",
            "schema": {
              "type": "boolean",
              "example": true
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "media-type",
            "description": "The media type (either 'image', 'video' or even specific format such as 'jpg', 'png', or 'gif').",
            "schema": {
              "pattern": ".",
              "maxLength": 10,
              "type": "string",
              "example": "image"
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "min-rating",
            "description": "The minimum rating in range [0.0-1.0] of the meme.",
            "schema": {
              "format": "double",
              "minimum": 0,
              "maximum": 1,
              "type": "number",
              "example": 0
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "max-age-days",
            "description": "The maximum age of the meme in days.",
            "schema": {
              "format": "int32",
              "minimum": 0,
              "maximum": 1000,
              "type": "integer",
              "example": 30
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          }
        ],
        "externalDocs": {
          "description": "Read entire docs",
          "url": "https://apileague.com/apis/random-meme-api"
        },
        "summary": "Random Meme",
        "tags": [
          "Humor"
        ],
        "description": "Get a random meme out of over 200,000+ memes. To get the latest memes, you can use the max-age-days parameter.",
        "operationId": "randomMeme",
        "deprecated": false
      }
    },
    "/search-gifs": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "images": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "width": {
                            "type": "integer"
                          },
                          "url": {
                            "type": "string",
                            "nullable": true
                          },
                          "height": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Response": {
                    "value": {
                      "images": [
                        {
                          "width": 362,
                          "url": "https://media.tenor.com/xEf4j9pnMywAAAAC/dog-dogs.gif",
                          "height": 498
                        },
                        {
                          "width": 248,
                          "url": "https://media.tenor.com/U-g_SmVeq40AAAAC/poodle-dancing-dog-poodle.gif",
                          "height": 498
                        },
                        {
                          "width": 498,
                          "url": "https://media.tenor.com/SmFA9ziWpx4AAAAC/dogs-dog.gif",
                          "height": 374
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment Required"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "parameters": [
          {
            "name": "query",
            "description": "The search query.",
            "schema": {
              "pattern": ".",
              "maxLength": 300,
              "type": "string",
              "example": "dogs"
            },
            "required": true,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "number",
            "description": "The number of gifs to return in range [1,10]",
            "schema": {
              "format": "int32",
              "minimum": 1,
              "maximum": 10,
              "type": "integer",
              "example": 5
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          }
        ],
        "externalDocs": {
          "description": "Read entire docs",
          "url": "https://apileague.com/apis/search-gifs-api"
        },
        "summary": "Search Gifs",
        "tags": [
          "Humor"
        ],
        "description": "Search through hundreds of thousands of gifs to match any reaction you want. The gifs are returned in a list with the URL, width, and height of the gif.",
        "operationId": "searchGifs",
        "deprecated": false
      }
    },
    "/generate-nonsense-word": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "word": {
                      "type": "string",
                      "nullable": true
                    },
                    "rating": {
                      "type": "number"
                    }
                  }
                },
                "examples": {
                  "Response": {
                    "value": {
                      "word": "caboo",
                      "rating": 0.41
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment Required"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "parameters": [],
        "externalDocs": {
          "description": "Read entire docs",
          "url": "https://apileague.com/apis/generate-nonsense-word-api"
        },
        "summary": "Generate Nonsense Word",
        "tags": [
          "Humor"
        ],
        "description": "Generate a funny sounding nonsense word. This is useful for generating random words for games, naming things, or just for fun. The response will contain the generated word and a rating of how funny it is.",
        "operationId": "generateNonsenseWord",
        "deprecated": false
      }
    },
    "/retrieve-random-trivia": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "trivia": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                },
                "examples": {
                  "Response": {
                    "value": {
                      "trivia": "Koalas sleep up to 20 hours a day."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment Required"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "parameters": [
          {
            "name": "max-length",
            "description": "The maximum length of the trivia in letters.",
            "schema": {
              "format": "int32",
              "minimum": 0,
              "maximum": 10000,
              "type": "integer",
              "example": 300
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          }
        ],
        "externalDocs": {
          "description": "Read entire docs",
          "url": "https://apileague.com/apis/random-trivia-api"
        },
        "summary": "Random Trivia",
        "tags": [
          "Knowledge"
        ],
        "description": "This endpoint returns a random piece of trivia.",
        "operationId": "randomTrivia",
        "deprecated": false
      }
    },
    "/retrieve-random-quote": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "author": {
                      "type": "string",
                      "nullable": true
                    },
                    "quote": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                },
                "examples": {
                  "Response": {
                    "value": {
                      "author": "Francis Bacon",
                      "quote": "A little philosophy inclineth man's mind to atheism, but depth in philosophy bringeth men's minds about to religion."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment Required"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "parameters": [
          {
            "name": "min-length",
            "description": "The minimum length of the quote in letters.",
            "schema": {
              "format": "int32",
              "minimum": 1,
              "maximum": 10000,
              "type": "integer",
              "example": 120
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "max-length",
            "description": "The maximum length of the quote in letters.",
            "schema": {
              "format": "int32",
              "minimum": 1,
              "maximum": 10000,
              "type": "integer",
              "example": 300
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          }
        ],
        "externalDocs": {
          "description": "Read entire docs",
          "url": "https://apileague.com/apis/random-quote-api"
        },
        "summary": "Random Quote",
        "tags": [
          "Knowledge"
        ],
        "description": "This API returns a random quote from a collection of quotes. The quotes are from famous people and are in English.",
        "operationId": "randomQuote",
        "deprecated": false
      }
    },
    "/retrieve-random-poem": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string",
                      "nullable": true
                    },
                    "author": {
                      "type": "string",
                      "nullable": true
                    },
                    "poem": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                },
                "examples": {
                  "Response": {
                    "value": {
                      "title": "Purpose",
                      "author": "Amos Russel Wells",
                      "poem": "Deeply and long the sap must flow\nEre the merest layer of elm can grow.\n\nMany a wave's recurrent shock\nIs needed to smooth the tiniest rock.\n\nThousands of leaves must fade and fall\nTo make the mold by the garden wall.\n\nThus, as the patient seasons roll,\nSlowly is fashioned a human soul.\n\nPurpose and failure and purpose still,\nSteadily moved by a quiet will,\u2014\n\nLayer on layer in sturdy way,\nHardly seen the growth of a day,\u2014\n\nTimes of failure and fear and fall,\nBut one strong tendency through it all,\u2014\n\nGod and purpose and sun by sun\nReach the stars before they are done!\nFor I know the plans I have for you,\u201d declares the Lord, \u201cplans to prosper you and not to harm you, plans to give you hope and a future"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment Required"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "parameters": [
          {
            "name": "min-lines",
            "description": "The minimum number of lines of the poem.",
            "schema": {
              "format": "int32",
              "minimum": 0,
              "maximum": 1000,
              "type": "integer",
              "example": 5
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "max-lines",
            "description": "The maximum number of lines of the poem.",
            "schema": {
              "format": "int32",
              "minimum": 0,
              "maximum": 1000,
              "type": "integer",
              "example": 20
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          }
        ],
        "externalDocs": {
          "description": "Read entire docs",
          "url": "https://apileague.com/apis/random-poem-api"
        },
        "summary": "Random Poem",
        "tags": [
          "Art"
        ],
        "description": "Retrieve a random poem by many famous authors. You can filter poem's by length (number of lines).",
        "operationId": "randomPoem",
        "deprecated": false
      }
    },
    "/convert-image-to-ascii-txt": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "Response": {
                    "value": ".................................................................................................\n.................................................................................................\n.................................................................................................\n.................................................................................................\n.................................................................................................\n.................................................................................................\n.................................................................................................\n..............................................,,,,,,,,...........................................\n...........................................:+?%%%%%%%%*;,........................................\n........................................,+%###S%????SS##S?;......................................\n.......................................*S@#*;;:,,,,,::;+%##%;....................................\n.....................................:%@S+:,............,;?##*,..................................\n...................................,+##*,.................,;%#%:.................................\n...................................*@S:.....................,*##;................................\n..................................*#%:........................;#S;...............................\n.................................*@%,..........................;#S:..............................\n................................;#S:............................+@?,.............................\n...............................,%#;..............................?#;.............................\n...............................+#+...............................,SS,............................\n..............................:S%,................................+@*............................\n..............................+#+.................................,S#:...........................\n.............................,?#:..................................*@*...........................\n.............................,S?...................................,@%...........................\n.............................:#+....................................%#,..........................\n.............................;#;....................................+#:..........................\n.............................*S,....................................:@+..........................\n.............................?S,....................................:@*..........................\n.............................*S,....................................:@+..........................\n.............................?S,....................................:@*..........................\n.............................*S,....................................:@+..........................\n.............................:#;....................................*#:..........................\n.............................:#*....................................SS,..........................\n.............................,%%,..................................,@%...........................\n..............................*#:..................................?@+...........................\n..............................;#*.................................:##,...........................\n..............................,%S,................................*@*............................\n...............................;#*...............................:S%,............................\n...............................,?#+.............................,%#:.............................\n................................:##;............................*@*..............................\n.................................+#S:..........................*#%,..............................\n..................................;#S:.......................,*@%:...............................\n...................................;SS+,....................:?#%:................................\n....................................:%@S+.................,*##*,.................................\n.....................................,+#@%;.............,*S@S;...................................\n.......................................:?#@S?+;:,,,,:;*%#@S+,....................................\n.........................................,+%#@@#####@@@#%;,......................................\n............................................:+*?S#@S?*;,.........................................\n................................................,%#:.............................................\n................................................,%#:.............................................\n................................................,%#:.............................................\n................................................,%#:.............................................\n................................................,%#:.............................................\n................................................,%#:.............................................\n................................................,%#:.............................................\n................................................,%#:.............................................\n................................................:S@?,............................................\n...............................................,?@@@+............................................\n...............................................*#@@@S:...........................................\n..............................................*@%%@@@?...........................................\n.............................................+@S;?S%@#;..........................................\n............................................+@#;,%S;%@S,.........................................\n...........................................:##;.,%#::#@*.........................................\n..........................................:##;..,%#:.*@#;........................................\n.........................................;##;...,%#:.,%@S,.......................................\n........................................:S#+....,%#:..:S@*.......................................\n.......................................,%#*.....,%#:...+@#;......................................\n......................................,%#*......,%#:...,%@S,.....................................\n.....................................:%@+.......,%#:....:S@*.....................................\n....................................,%@*........,%#:.....+@#;....................................\n...................................,*@?,........,%#:.....,?@%,...................................\n...................................*#?,.........,%#:......:%#+...................................\n..................................*@?,..........,%#:.......;#S:..................................\n................................,*@%,...........,%#:.......,*@?..................................\n................................+@#;............,%#:........:S@+.................................\n...............................;##;.............,%#:.........+#S:................................\n..............................;S#;..............,%#:.........,?@*,...............................\n.............................:S#;...............,%#:..........,%#;...............................\n............................:#@*................,%#:...........:#%:..............................\n...........................:#@*.................,%#:............*@*..............................\n..........................,%@?..................,%#:............,SS:.............................\n.........................,%@?...................,%#:.............;#?,............................\n........................:%@?....................,%#:..............?@*............................\n.......................:%@%,....................,%#:..............,##;...........................\n......................,%@%,.....................,%#:...............;#S,..........................\n......................*@S:......................,%#:................+@?..........................\n....................,*@S:.......................,%#:.................?#;.........................\n...................,*@S:........................,%#:.................:SS,........................\n...................*@%:.........................,%#:..................+@?........................\n..................+@%,..........................,%#:..................,%#;.......................\n.................;#S:...........................,%#:...................:#S:......................\n................:##;............................,%#:....................+@?,.....................\n...............:S#;.............................,%#:....................,?#+.....................\n..............;##;..............................,%#:.....................:SS:....................\n.............:S#;...............................,%#:......................+#?,...................\n............,%@+................................,%#:......................,?#+...................\n...........,%@*.................................,%#:.......................:SS:..................\n...........?@*..................................,%#:........................+#*..................\n...........+*...................................,%#:........................,*;..................\n................................................,%#:.............................................\n................................................,%#:.............................................\n................................................,%#:.............................................\n................................................,%#:.............................................\n................................................,%#:.............................................\n................................................,%#:.............................................\n................................................,%#:.............................................\n................................................,%#:.............................................\n................................................,%#:.............................................\n................................................,%#:.............................................\n................................................,%#:.............................................\n................................................,%#:.............................................\n................................................,%#:.............................................\n................................................,%#:.............................................\n................................................,%#:.............................................\n................................................,%#:.............................................\n................................................,%#:.............................................\n................................................,%#:.............................................\n................................................,%#:.............................................\n................................................,%#:.............................................\n................................................,%#:.............................................\n................................................,%#:.............................................\n................................................,%#:.............................................\n................................................,%#:.............................................\n................................................,%#:.............................................\n................................................,%#:.............................................\n................................................,%#:.............................................\n................................................,%#:.............................................\n................................................+#@+.............................................\n...............................................;SS##;............................................\n..............................................+#%;+#S;...........................................\n.............................................+#S;..?@S:..........................................\n............................................;#S;...,%@%,.........................................\n..........................................,*#S:.....,%@?.........................................\n.........................................,?@S:.......:S@*........................................\n.........................................?@S:.........:S@+.......................................\n........................................?@S:...........:##;......................................\n.......................................?@S:.............+@#;.....................................\n......................................?@S:...............+@S:....................................\n....................................,?@S;.................*@%,...................................\n...................................,*@S:...................*@*,..................................\n..................................,?#%:....................,?#*..................................\n.................................:%@?,......................,%#+.................................\n................................:%@?,........................:S#;................................\n...............................:%@?,..........................;##;...............................\n..............................:%@?,............................+#S:..............................\n.............................,%@?,..............................+#%..............................\n............................,S@?,...............................,?@?.............................\n...........................,S@%,.................................,%@;............................\n..........................:S@*,...................................:S@;...........................\n.........................;S#+......................................;S#:..........................\n........................+#S;........................................:#S:.........................\n.......................;##:..........................................;@%,........................\n......................;##;............................................+@*........................\n.....................;##:.............................................,%@*.......................\n....................;##;...............................................,%#+......................\n...................;#S;.................................................,S#;.....................\n..................;S#;...................................................:#S:....................\n.................+S#;.....................................................+#%:...................\n...............,*#S;.......................................................+#?,..................\n..............,*#%,.........................................................*#?,.................\n.............,*@%,..........................................................,?@*.................\n.............;@?,............................................................:%#:................\n.............:*,..............................................................:+,................\n.................................................................................................\n.................................................................................................\n.................................................................................................\n.................................................................................................\n.................................................................................................\n.................................................................................................\n.................................................................................................\n.................................................................................................\n.................................................................................................\n.................................................................................................\n.................................................................................................\n.................................................................................................\n.................................................................................................\n.................................................................................................\n.................................................................................................\n.................................................................................................\n.................................................................................................\n................................................................................................."
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment Required"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "parameters": [
          {
            "name": "url",
            "description": "The URL to the image.",
            "schema": {
              "pattern": ".",
              "maxLength": 1000,
              "type": "string",
              "example": "https://upload.wikimedia.org/wikipedia/commons/3/35/Basic_human_drawing.png"
            },
            "required": true,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "width",
            "description": "The maximum width of the image (default 400, max. 500).",
            "schema": {
              "format": "int32",
              "minimum": 1,
              "maximum": 500,
              "type": "integer",
              "example": 200
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          },
          {
            "name": "height",
            "description": "The maximum height of the image (default 400, max. 500).",
            "schema": {
              "format": "int32",
              "minimum": 1,
              "maximum": 500,
              "type": "integer",
              "example": 200
            },
            "required": false,
            "style": "form",
            "explode": false,
            "in": "query"
          }
        ],
        "externalDocs": {
          "description": "Read entire docs",
          "url": "https://apileague.com/apis/image-to-ascii-art-api"
        },
        "summary": "Image to Ascii Art by URL",
        "tags": [
          "Art"
        ],
        "description": "Convert an image to ASCII art. You can pass the image URL as a query parameter. The API returns the ASCII art as plain text. This endpoint is using the GET method and an image URL as a query parameter.",
        "operationId": "imageToAsciiArtByURL",
        "deprecated": false
      }
    },
    "/extract-content": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string",
                      "nullable": true
                    },
                    "main_text": {
                      "type": "string",
                      "nullable": true
                    },
                    "main_html": {
                      "type": "string",
                      "nullable": true
                    },
                    "images": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "nullable": true
                      }
                    }
                  }
                },
                "examples": {
                  "Response": {
                    "value": {
                      "title": "Usher joined by Alicia Keys and will.i.am at Super Bowl half-time show",
                      "main_text": "R&B star Usher delivered a hit-heavy half-time show at Sunday's Super Bowl - with help from will.i.am, Alicia Keys, Ludacris... and a pair of roller skates.\n\nA disclaimer shown before the performance jokingly warned viewers it may cause \"singing, dancing, sweating, gyrating, and possible relationship issues\". It would go on to deliver on all fronts. \n\nDressed in all-white and surrounded by a swarm of energetic dancers, Usher emerged on the stage at the Allegiant Stadium in Las Vegas and launched straight into one of his best-known songs, Caught Up.\n\nIt kicked off a dynamic performance which took advantage of the 45-year-old's dancing skills and sizeable back catalogue. \n\nBefore his half-time show, Usher admitted it had been \"a challenge to squeeze 30 years in to 13 minutes\". But the singer did an admirable job of cramming in as many of his most recognisable songs as possible. \n\nThe set featured acrobats and a brass band so large there were enough members to spell out \"USHER\" on the grounds of the stadium as he was performing.\n\nThe singer switched effortlessly between the two apexes of his music: club anthems and sex jams. \n\nSome songs ran for a full verse and a chorus, others for just a few seconds. A tiny snippet of Superstar appropriately saw him sing only the lyrics: \"Spotlight / big stage / 50,000 fans screaming in a rage\" - as if to hammer home the magnitude of his Super Bowl show. \n\nThe dancers who surrounded him - many of whom had only travelled a short distance from his Vegas residency - wore colourful, even outlandish outfits, perfectly complementing his central performance and adding to the sense of spectacle.\n\nOnce Usher was a few songs deep and well into his groove, [...]",
                      "main_html": "<article>[...]</article>",
                      "images": [
                        "https://ichef.bbci.co.uk/news/976/cpsprodpb/FDEA/production/_132620056_crgettyimages-2003966267.jpg",
                        "https://ichef.bbci.co.uk/news/976/cpsprodpb/C802/production/_132620215_crgettyimages-1996271673.jpg",
                        "https://ichef.bbci.co.uk/news/976/cpsprodpb/88BA/production/_132620053_crgettyimages-2003935602.jpg"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment Required"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "429": {
            "description": "Too Many Requests"
          }
        },
        "parameters": [
          {
            "name": "url",
            "description": "The url for which the content will be extracted.",
            "schema": {
              "pattern": ".",
              "maxLength": 1000,
              "type": "string",
              "example": "https://www.bbc.com/news/entertainment-arts-68270826"
            },
            "required": true,
            "style": "form",
            "explode": false,
            "in": "query"
          }
        ],
        "externalDocs": {
          "description": "Read entire docs",
          "url": "https://apileague.com/apis/extract-web-content-api"
        },
        "summary": "Extract Content from a Web Page",
        "tags": [
          "Web"
        ],
        "description": "Extract the main content from a web page. This API is useful for extracting the main text, title, and images from a web page. It can be used to create a summary of the content of a web page, or to extract the main content of a web page to display it in a different format.",
        "operationId": "extractContentFromAWebPage",
        "deprecated": false
      }
    },
    "/extract-publish-date": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "publish_date": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                },
                "examples": {
                  "Response": {
                    "value": {
                      "publish_date": "2023-02-13"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
[...]
