openapi: 3.0.0
info:
  contact:
    email: mail@apileague.com
    name: David Urbansky
  description: API League is a Hub for World Class APIs.
  termsOfService: https://apileague.com/terms
  title: API League
  version: 1.4.2
servers:
- url: https://api.apileague.com
security:
- apiKey: []
- headerApiKey: []
paths:
  /search-books:
    get:
      deprecated: false
      description: "Search and filter books based on matching a query, the ISBN, rating,\
        \ and more fields. The query is semantically parsed using our own large ontology.\
        \ That means you can search paranormal books and the ontology knows that Aliens,\
        \ Werewolves, Ghosts, and Shapeshifters fall into that category."
      externalDocs:
        description: Read entire docs
        url: https://apileague.com/apis/search-books-api/
      operationId: searchBooks
      parameters:
      - description: The search query.
        explode: false
        in: query
        name: query
        required: false
        schema:
          example: books about wizards
          maxLength: 300
          pattern: "."
          type: string
        style: form
      - description: The books must have been published after this year.
        explode: false
        in: query
        name: earliest-publish-year
        required: false
        schema:
          example: 2022
          format: int32
          maximum: 9999
          minimum: 0
          type: integer
        style: form
      - description: The books must have been published before this year.
        explode: false
        in: query
        name: latest-publish-year
        required: false
        schema:
          example: 2023
          format: int32
          maximum: 9999
          minimum: 0
          type: integer
        style: form
      - description: "The minimum rating the book must have gotten in the interval\
          \ [0,1]."
        explode: false
        in: query
        name: min-rating
        required: false
        schema:
          example: 0.8
          format: double
          maximum: 1
          minimum: 0
          type: number
        style: form
      - description: "The maximum rating the book must have gotten in the interval\
          \ [0,1]."
        explode: false
        in: query
        name: max-rating
        required: false
        schema:
          example: 0.99
          format: double
          maximum: 1
          minimum: 0
          type: number
        style: form
      - description: A comma-separated list of genres. Only books from any of the
          given genres will be returned.
        explode: false
        in: query
        name: genres
        required: false
        schema:
          example: nonfiction
          maxLength: 1000
          pattern: "."
          type: string
        style: form
      - description: A comma-separated list of author ids or names. Only books from
          any of the given authors will be returned. You can retrieve author ids from
          the search authors endpoint. Pass author names is slower and if two authors
          have the same name you can't disambiguate.
        explode: false
        in: query
        name: authors
        required: false
        schema:
          example: J.K. Rowling
          maxLength: 1000
          pattern: "."
          type: string
        style: form
      - description: Only the book matching the ISBN-13 will be returned
        explode: false
        in: query
        name: isbn
        required: false
        schema:
          example: "9781781257654"
          maxLength: 13
          pattern: "."
          type: string
        style: form
      - description: Only the book matching the OCLC will be returned
        explode: false
        in: query
        name: oclc
        required: false
        schema:
          example: "864418200"
          maxLength: 100
          pattern: "."
          type: string
        style: form
      - description: The sorting criteria (publish-date or rating).
        explode: false
        in: query
        name: sort
        required: false
        schema:
          example: rating
          maxLength: 10000
          pattern: "."
          type: string
        style: form
      - description: Whether to sort ascending or descending (ASC or DESC).
        explode: false
        in: query
        name: sort-direction
        required: false
        schema:
          example: DESC
          maxLength: 4
          pattern: "."
          type: string
        style: form
      - description: Whether to group similar editions of the same book.
        explode: false
        in: query
        name: group-results
        required: false
        schema:
          example: false
          type: boolean
        style: form
      - description: "The number of books to skip in range [0,1000]"
        explode: false
        in: query
        name: offset
        required: false
        schema:
          example: 0
          format: int32
          maximum: 1000
          minimum: 0
          type: integer
        style: form
      - description: "The number of books to return in range [1,100]"
        explode: false
        in: query
        name: number
        required: false
        schema:
          example: 10
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Response:
                  value:
                    available: 5999
                    number: 10
                    offset: 0
                    books:
                    - - title: Journey to Hogwarts
                        image: https://covers.openlibrary.org/b/id/2520429-M.jpg
                        id: 17200576
                    - - image: https://covers.openlibrary.org/b/id/2520430-M.jpg
                        id: 15954006
                        title: Inside Hogwarts
                        subtitle: Magical Paintbook
                    - - title: Harry Potter and the Goblet of Fire
                        image: https://covers.openlibrary.org/b/id/12775900-M.jpg
                        id: 16384516
                    - - title: Harry Potter and the Order of the Phoenix
                        image: https://covers.openlibrary.org/b/id/11416565-M.jpg
                        id: 14296534
                    - - title: Great Gatsby (Silver Screen Edition)
                        image: https://covers.openlibrary.org/b/id/12791857-M.jpg
                        id: 14530450
                    - - image: https://covers.openlibrary.org/b/id/394001-M.jpg
                        id: 18810398
                        title: The Hobbit
                        subtitle: "or, There and back again"
                    - - image: https://covers.openlibrary.org/b/id/6282709-M.jpg
                        id: 13597674
                        title: The Name of the Wind
                        subtitle: "The Kingkiller Chronicle : day one"
              schema:
                $ref: '#/components/schemas/searchBooks_200_response'
          description: Success
        "401":
          description: Unauthorized
        "402":
          description: Payment Required
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "406":
          description: Not Acceptable
        "429":
          description: Too Many Requests
      summary: Search Books
      tags:
      - Books
  /list-similar-books:
    get:
      deprecated: false
      description: "Find books that are similar to the given book. This is useful\
        \ for recommending books to users based on their reading history or preferences.\
        \ The response will contain a list of similar books with their title, id,\
        \ and cover image."
      externalDocs:
        description: Read entire docs
        url: https://apileague.com/apis/find-similar-books-api/
      operationId: findSimilarBooks
      parameters:
      - description: The id of the book to which similar books should be found.
        explode: false
        in: query
        name: id
        required: true
        schema:
          example: 8302059
          format: int32
          maximum: 999999999
          minimum: 0
          type: integer
        style: form
      - description: "The number of similar books to return in range [1,100]"
        explode: false
        in: query
        name: number
        required: false
        schema:
          example: 10
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Response:
                  value:
                    similar_books:
                    - title: Harry Potter and the Order of the Phoenix
                      image: https://covers.openlibrary.org/b/id/11416565-M.jpg
                      id: 14296534
                    - title: Harry Potter and the Half-Blood Prince
                      image: https://covers.openlibrary.org/b/id/8235163-M.jpg
                      id: 16499448
                    - title: Blood and Fire
                      image: https://covers.openlibrary.org/b/id/10404497-M.jpg
                      id: 18610968
                    - image: https://covers.openlibrary.org/b/id/6657713-M.jpg
                      id: 20464852
                      title: Towers of midnight
                      subtitle: Wheel of Time Book 13
                    - image: https://covers.openlibrary.org/b/id/3027823-M.jpg
                      id: 13804028
                      title: Best of Robert Jordan
                      subtitle: The Shadow Rising; The Fires of Heaven; Lord of Chaos;
                        A Crown of Swords (The Wheel of Time Series)
                    - title: "MAR, Volume 7"
                      image: https://covers.openlibrary.org/b/id/765103-M.jpg
                      id: 14987824
                    - title: The Daysong of the Knightbird
                      image: https://covers.openlibrary.org/b/id/1822804-M.jpg
                      id: 19984854
                    - title: The key
                      image: https://covers.openlibrary.org/b/id/8369732-M.jpg
                      id: 17174416
                    - title: Bring me the head of Prince Charming
                      image: https://covers.openlibrary.org/b/id/3965371-M.jpg
                      id: 20121054
              schema:
                $ref: '#/components/schemas/findSimilarBooks_200_response'
          description: Success
        "401":
          description: Unauthorized
        "402":
          description: Payment Required
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "406":
          description: Not Acceptable
        "429":
          description: Too Many Requests
      summary: Find Similar Books
      tags:
      - Books
  /search-news:
    get:
      deprecated: false
      description: "Search and filter news by text, date, location, category, language,\
        \ and more. The API returns a list of news articles matching the given criteria.\
        \ You can set as many filtering parameters as you like, but you have to set\
        \ at least one, e.g. text or language."
      externalDocs:
        description: Read entire docs
        url: https://apileague.com/apis/search-news-api/
      operationId: searchNews
      parameters:
      - description: "The text to match in the news content (at least 3 characters,\
          \ maximum 100 characters). By default all query terms are expected, you\
          \ can use an uppercase OR to search for any terms, e.g. tesla OR ford"
        explode: false
        in: query
        name: text
        required: false
        schema:
          example: tesla
          maxLength: 100
          pattern: "."
          type: string
        style: form
      - description: A comma-separated list of ISO 3166 country codes from which the
          news should originate.
        explode: false
        in: query
        name: source-countries
        required: false
        schema:
          example: "us,uk"
          maxLength: 100
          pattern: "."
          type: string
        style: form
      - description: The ISO 6391 language code of the news.
        explode: false
        in: query
        name: language
        required: false
        schema:
          example: en
          maxLength: 2
          pattern: "."
          type: string
        style: form
      - description: "The minimal sentiment of the news in range [-1,1]."
        explode: false
        in: query
        name: min-sentiment
        required: false
        schema:
          example: -0.8
          format: double
          maximum: 1
          minimum: -1
          type: number
        style: form
      - description: "The maximal sentiment of the news in range [-1,1]."
        explode: false
        in: query
        name: max-sentiment
        required: false
        schema:
          example: 0.8
          format: double
          maximum: 1
          minimum: -1
          type: number
        style: form
      - description: The news must have been published after this date.
        explode: false
        in: query
        name: earliest-publish-date
        required: false
        schema:
          example: 2022-04-22 16:12:35
          maxLength: 100
          pattern: "."
          type: string
        style: form
      - description: The news must have been published before this date.
        explode: false
        in: query
        name: latest-publish-date
        required: false
        schema:
          example: 2022-04-22 16:12:35
          maxLength: 100
          pattern: "."
          type: string
        style: form
      - description: A comma-separated list of news sources from which the news should
          originate.
        explode: false
        in: query
        name: news-sources
        required: false
        schema:
          example: https://www.bbc.co.uk
          maxLength: 10000
          pattern: "."
          type: string
        style: form
      - description: A comma-separated list of author names. Only news from any of
          the given authors will be returned.
        explode: false
        in: query
        name: authors
        required: false
        schema:
          example: John Doe
          maxLength: 300
          pattern: "."
          type: string
        style: form
      - description: "A comma-separated list of categories. Only news from any of\
          \ the given categories will be returned. Possible categories are politics,\
          \ sports, business, technology, entertainment, health, science, lifestyle,\
          \ travel, culture, education, environment, other."
        explode: false
        in: query
        name: categories
        required: false
        schema:
          example: "politics,sports"
          maxLength: 300
          pattern: "."
          type: string
        style: form
      - description: "Filter news by entities (ORG, PER, or LOC)."
        explode: false
        in: query
        name: entities
        required: false
        schema:
          example: ORG:Tesla
          maxLength: 10000
          pattern: "."
          type: string
        style: form
      - description: "Filter news by radius around a certain location. Format is \"\
          latitude,longitude,radius in kilometers\""
        explode: false
        in: query
        name: location-filter
        required: false
        schema:
          example: "51.050407, 13.737262, 100"
          maxLength: 100
          pattern: "."
          type: string
        style: form
      - description: The sorting criteria (publish-time).
        explode: false
        in: query
        name: sort
        required: false
        schema:
          example: publish-time
          maxLength: 100
          pattern: "."
          type: string
        style: form
      - description: Whether to sort ascending or descending (ASC or DESC).
        explode: false
        in: query
        name: sort-direction
        required: false
        schema:
          example: ASC
          maxLength: 4
          pattern: "."
          type: string
        style: form
      - description: "The number of news to skip in range [0,10000]"
        explode: false
        in: query
        name: offset
        required: false
        schema:
          example: 0
          format: int32
          maximum: 10000
          minimum: 0
          type: integer
        style: form
      - description: "The number of news to return in range [1,100]"
        explode: false
        in: query
        name: number
        required: false
        schema:
          example: 10
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Response:
                  value:
                    offset: 0
                    number: 10
                    available: 83
                    news:
                    - summary: "Tesla CEO Elon Musk has revealed new details about\
                        \ the upcoming Cybertruck electric pickup truck. According\
                        \ to Musk, its initial production will begin with a four-motor\
                        \ variant."
                      image: https://internetprotocol.co/content/images/2021/12/Tesla-to-Release-a-Four-Motor-Version-of-Cybertruck.png
                      sentiment: 0.712523
                      language: en
                      video: https://cdn.jwplayer.com/videos/70lDQJpg-RyIcpnTz.mp4
                      title: Tesla to Release a Four-Motor Version of Cybertruck
                      url: https://internetprotocol.co/hitech/2021/12/07/tesla-to-release-a-four-motor-cybertruck/
                      source_country: co
                      id: 28
                      text: "Tesla CEO Elon Musk has revealed new details about the\
                        \ upcoming Cybertruck electric pickup truck, the mass production\
                        \ of which was delayed until 2023 because of the lack of components\
                        \ and a lot of complex technologies that need to be scaled\
                        \ up. According to Musk, the initial production of the electric\
                        \ pickup truck will begin with a four-motor variant with “\
                        independent, ultra fast response torque control of each wheel,”\
                        \ the tweet reads. In response, Twitter users asked if the\
                        \ Cybertruck could turn like a tank. Musk said that thanks\
                        \ to both the rear and front wheel steer, the electric truck\
                        \ will not only be able to turn like a tank, but also drive\
                        \ diagonally like a crab. According to Electrek, this change\
                        \ could be Tesla's reaction to what its competitors do. Since\
                        \ the introduction of Tesla’s novelty, the market for electric\
                        \ pickup trucks has significantly evolved. Currently, one\
                        \ electric pickup on the market can turn like a tank – the\
                        \ Rivian R1T, while GMC's Hummer EV can drive diagonally.\
                        \ Following the announcement of Tesla Cybertruck in 2019,\
                        \ the company announced three configurations of the pickup\
                        \ truck: the entry-level model with one motor, the one with\
                        \ two motors, and the one with three. Rumor has it that the\
                        \ company intends to abandon the single-motor version altogether.\
                        \ In this case, Tesla Cybertruck will be sold with two, three,\
                        \ and four motors. Musk has promised to provide an update\
                        \ on the pickup's roadmap on the next earnings call. The production\
                        \ of Tesla Cybertruck is expected to begin at the end of 2022,\
                        \ and its mass production is slated to start in 2023."
                      category: business
                      publish_date: 2022-09-30 01:07:48
                      authors:
                      - Iwan Stone
                      - Zahna Eklund
              schema:
                $ref: '#/components/schemas/searchNews_200_response'
          description: Success
        "401":
          description: Unauthorized
        "402":
          description: Payment Required
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "406":
          description: Not Acceptable
        "429":
          description: Too Many Requests
      summary: Search News
      tags:
      - News
  /retrieve-top-news:
    get:
      deprecated: false
      description: Get the top news from a country in a language for a specific date.
        The top news are clustered from multiple sources in the given country. The
        more news in a cluster the higher the cluster is ranked.
      externalDocs:
        description: Read entire docs
        url: https://apileague.com/apis/top-news-api/
      operationId: topNews
      parameters:
      - description: The ISO 3166 country code of the country for which top news should
          be retrieved.
        explode: false
        in: query
        name: source-country
        required: true
        schema:
          example: us
          maxLength: 2
          pattern: "."
          type: string
        style: form
      - description: The ISO 6391 language code of the top news. The language must
          be one spoken in the source-country.
        explode: false
        in: query
        name: language
        required: true
        schema:
          example: en
          maxLength: 2
          pattern: "."
          type: string
        style: form
      - description: "The date for which the top news should be retrieved. If no date\
          \ is given, the current day is assumed."
        explode: false
        in: query
        name: date
        required: false
        schema:
          example: 2024-05-30
          maxLength: 10
          pattern: "."
          type: string
        style: form
      - description: "Whether to only return basic information such as id, title,\
          \ and url of the news."
        explode: false
        in: query
        name: headlines-only
        required: false
        schema:
          example: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Response:
                  value:
                    top_news:
                    - news:
                      - summary: '...'
                        image: https://politicalwire.com/wp-content/uploads/2018/02/PW-podcast-logo.jpg
                        id: 224767206
                        text: '...'
                        title: Jury to Begin Deliberations In Trump Trial
                        publish_date: 2024-05-29 00:10:48
                        url: https://politicalwire.com/2024/05/28/jury-to-begin-deliberations-in-trump-trial/
                        authors:
                        - Taegan Goddard
                      - summary: '...'
                        image: https://dims.apnews.com/dims4/default/3446536/2147483647/strip/true/crop/6195x3485+0+323/resize/1440x810!/quality/90/?url=https%3A%2F%2Fassets.apnews.com%2Fec%2Fd5%2Ff56fdc38f86e38b6217b50083d19%2Fd5ef4afe1cb64825be1349de8fd40df0
                        id: 224839780
                        text: '...'
                        title: Jury in Donald Trump's hush money case to begin deliberations
                        publish_date: 2024-05-29 04:30:08
                        url: https://apnews.com/article/trump-trial-deliberations-jury-judge-verdict-390f045e9e8a37f069e82576edd7a842
                        authors: []
                      - summary: '...'
                        image: https://whdh.com/wp-content/uploads/sites/3/2024/05/WHDH_2024-05-27_15h27-33-cover.jpg?quality=60&strip=color
                        id: 224936214
                        text: '...'
                        title: Jury in Trump's hush money case to begin deliberations
                          after hearing instructions from judge
                        publish_date: 2024-05-29 08:47:26
                        url: https://whdh.com/news/jury-in-trumps-hush-money-case-to-begin-deliberations-after-hearing-instructions-from-judge/
                        authors: []
                      - summary: '...'
                        image: https://assets3.cbsnewsstatic.com/hub/i/r/2024/05/29/66524a85-576c-4c40-94ba-cfb04cbb7950/thumbnail/1200x630g3/d2d9c8ea35b659db292c371bdc0a47e8/gettyimages-2154550679.jpg?v=c5044be0004eac09882c007ac02fef6d
                        id: 224956968
                        text: '...'
                        video: https://prod.vodvideo.cbsnews.com/cbsnews/vr/hls/2942696_hls/master.m3u8
                        title: Trump trial jury set to begin deliberating verdict
                          today after judge issues instructions
                        publish_date: 2024-05-29 10:00:18
                        url: https://www.cbsnews.com/live-updates/trump-trial-verdict-jury-deliberations-judge-instructions/
                        authors: []
                      - summary: '...'
                        image: https://static01.nyt.com/images/2024/05/29/multimedia/29trump-trial-pinned-qzmh/29trump-trial-pinned-qzmh-facebookJumbo-v2.jpg
                        id: 224957034
                        text: '...'
                        title: Jury in Trump’s Hush-Money Trial to Begin Deliberations
                          on Wednesday
                        publish_date: 2024-05-29 10:12:08
                        url: https://www.nytimes.com/2024/05/29/nyregion/trump-trial-jury-charges.html
                        authors: []
                      - summary: '...'
                        image: https://a57.foxnews.com/static.foxnews.com/foxnews.com/content/uploads/2024/05/931/524/judge-trump.png?ve=1&tl=1
                        id: 224961802
                        text: '...'
                        title: Jury to begin deliberations in Trump trial and more
                          top headlines
                        publish_date: 2024-05-29 10:22:36
                        url: https://www.foxnews.com/us/judge-outline-framework-jury-trial-decide-trumps-fate-more-top-headlines
                        authors: []
                    - news:
                      - image: https://cdn.vox-cdn.com/thumbor/WBEMdSSOD_jHJGnNV7hLX88zANk=/0x444:5601x3376/fit-in/1200x630/cdn.vox-cdn.com/uploads/chorus_asset/file/25469085/2152809074.jpg
                        id: 225109966
                        text: '...'
                        title: Scottie Scheffler PGA Championship charges set to get
                          dropped
                        publish_date: 2024-05-29 15:24:34
                        url: https://www.sbnation.com/golf/2024/5/29/24167024/scottie-scheffler-pga-championship-louisville-police-drop-charges
                        authors:
                        - Brendan Porath
                      - summary: '...'
                        image: https://www.pilotonline.com/wp-content/uploads/2024/05/Scheffler_Arrest_Golf_86723_6d56d8.jpg?w=1024
                        id: 225118216
                        text: '...'
                        title: Charges against world’s top golfer Scottie Scheffler
                          dropped after arrest outside PGA Championship
                        publish_date: 2024-05-29 17:05:55
                        url: https://www.pilotonline.com/2024/05/29/charges-against-worlds-top-golfer-scottie-scheffler-dropped-after-arrest-outside-pga-championship/
                        authors: []
                      - summary: '...'
                        image: https://www.twincities.com/wp-content/uploads/2024/05/Scheffler_Arrest_Golf_86723_6d56d8.jpg?w=1024
                        id: 225118304
                        text: '...'
                        title: Charges against world’s top golfer Scottie Scheffler
                          dropped after arrest outside PGA Championship
                        publish_date: 2024-05-29 17:05:55
                        url: https://www.twincities.com/2024/05/29/charges-against-worlds-top-golfer-scottie-scheffler-dropped-after-arrest-outside-pga-championship/
                        authors: []
                      - summary: '...'
                        image: https://wsvn.com/wp-content/uploads/sites/2/2024/04/240414_Scottie_Scheffler.jpg?quality=60&strip=color
                        id: 225119550
                        text: '...'
                        title: Charges against world's top golfer Scottie Scheffler
                          dropped after arrest outside PGA Championship
                        publish_date: 2024-05-29 17:10:09
                        url: https://wsvn.com/sports/charges-against-worlds-top-golfer-scottie-scheffler-dropped-after-arrest-outside-pga-championship/
                        authors: []
                    - news:
                      - summary: '...'
                        image: https://media.nbcwashington.com/2019/09/AP163564666366.jpg?quality=85&strip=all&fit=722%2C406
                        id: 225012756
                        text: '...'
                        title: Pandas to return to DC's National Zoo
                        publish_date: 2024-05-29 12:37:10
                        url: https://www.nbcwashington.com/news/local/national-zoo-expected-to-make-announcement-about-panda-program/3627045/
                        authors: []
                      - summary: '...'
                        image: https://dims.apnews.com/dims4/default/1f5b9aa/2147483647/strip/true/crop/3382x1902+0+176/resize/1440x810!/quality/90/?url=https%3A%2F%2Fassets.apnews.com%2Fc4%2F1e%2F69094cc265243956d243348db814%2F71b160bbb0204eb594474a4934fb0df6
                        id: 225017360
                        text: '...'
                        title: Giant pandas are returning to D.C.'s National Zoo
                        publish_date: 2024-05-29 12:51:08
                        url: https://apnews.com/article/giant-pandas-washington-zoo-china-764f8016d98c01ab579bdbb6dcc3dd6b
                        authors: []
                      - summary: '...'
                        image: https://www.baltimoresun.com/wp-content/uploads/2024/05/Giant_Pandas_89303.jpg?w=1024
                        id: 225017634
                        text: '...'
                        title: 2 new giant pandas are returning to Washington’s National
                          Zoo from China by the end of the year
                        publish_date: 2024-05-29 12:52:08
                        url: https://www.baltimoresun.com/2024/05/29/2-new-giant-pandas-are-returning-to-washingtons-national-zoo-from-china-by-the-end-of-the-year/
                        authors: []
                    language: en
                    country: us
              schema:
                $ref: '#/components/schemas/topNews_200_response'
          description: Success
        "401":
          description: Unauthorized
        "402":
          description: Payment Required
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "406":
          description: Not Acceptable
        "429":
          description: Too Many Requests
      summary: Top News
      tags:
      - News
  /extract-news:
    get:
      deprecated: false
      description: "Extract a news article from a website to a well structure JSON\
        \ object. The API will return the title, text, URL, image, publish date, author,\
        \ language, source country, and sentiment of the news article."
      externalDocs:
        description: Read entire docs
        url: https://apileague.com/apis/extract-news-api/
      operationId: extractNews
      parameters:
      - description: The url of the news.
        explode: false
        in: query
        name: url
        required: true
        schema:
          example: https://internetprotocol.co/hitech/2021/12/07/tesla-to-release-a-four-motor-cybertruck/
          maxLength: 1000
          pattern: "."
          type: string
        style: form
      - description: Whether to analyze the news (extract entities etc.)
        explode: false
        in: query
        name: analyze
        required: true
        schema:
          example: true
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Response:
                  value:
                    title: Known terrorist spent year in US after being wrongly released
                      by feds — and GOP lawmakers demand answers
                    text: "A Somali terrorist was allowed into the country and was\
                      \ able to operate freely for almost a year before authorities\
                      \ realized their error and rearrested him. Republican lawmakers\
                      \ are demanding information from Homeland Security Secretary\
                      \ Alejandro Mayorkas about what happened to the man — and whether\
                      \ US citizens funded any part of his journey to or stay in the\
                      \ US. The 27-year-old Somalian — who so far has not been identified\
                      \ by name — was on the watchlist as “a confirmed member of al\
                      \ Shabaab” involved in the use, manufacture or transportation\
                      \ of explosives or firearms, but a border bungle meant he was\
                      \ released after initially being arrested for crossing into\
                      \ the country illegally in California in March 2023. A letter\
                      \ from Republican lawmakers seeks to find the al-Shabaab member’\
                      s path from illegally crossing the border to Minnesota, were\
                      \ he was eventually rearrested in January, and whether he received\
                      \ any government benefits. It also seeks to find if he took\
                      \ a commercial flight with US citizens to reach their state\
                      \ and if his travel was funded with taxpayer dollars, according\
                      \ to the Tuesday letter, first obtained by The Post. The letter\
                      \ states: “Due to Minnesota’s far distance from the border,\
                      \ it is not an easy task for migrants to travel to the state\
                      \ … “Did the al-Shabbab terrorist travel to Minnesota with the\
                      \ assistance, either direct or indirect of an [Non-Governmental\
                      \ Organization]? If so, which NGO was responsible for transporting\
                      \ the individual to Minnesota?” The terrorist organization member\
                      \ had initially crossed into California and been arrested by\
                      \ the Border Patrol. However, the Terrorist Screening Center\
                      \ determined he was a “mismatch” to the terror watchlist, leading\
                      \ to his release. Nearly a year later, Immigration and Customs\
                      \ Enforcement (ICE) nabbed him after federal authorities made\
                      \ a “redetermination” and realized he was associated with the\
                      \ Somalian militant group. Al-Shabaab was formed as the militant\
                      \ wing of the Somali Council of Islamic Courts, which controlled\
                      \ the southern part of the country in late 2006. Its rule was\
                      \ defeated in 2007, according to the Office of the Director\
                      \ of National Intelligence, but it has since operated as an\
                      \ underground network and is involved in wars in and around\
                      \ Somalia. It was designated a terrorist organization in 2008\
                      \ by the US government and is notorious for carrying out bombings\
                      \ and suicide attacks. In 2013, al-Shabaab was responsible for\
                      \ a massacre at the Westgate mall in Kenya, killing 67 individuals.\
                      \ US forces have conducted six strikes in Somalia against al-Shabaab\
                      \ already this year, killing two dozen militants in the latest\
                      \ actions, according to CNN. In a February press conference,\
                      \ ICE Acting Director Patrick Lechleitner said his agency arrested\
                      \ the individual “within 48 hours” of learning his true identity.\
                      \ “The Biden administration’s open-borders agenda allowed a\
                      \ known terrorist to roam freely throughout our state, and now\
                      \ they must answer for their inexcusable negligence,” House\
                      \ Majority Whip Tom Emmer (R-Minn.) said in a statement to The\
                      \ Post regarding the probe. The Border Patrol has recorded an\
                      \ ever-growing number of migrants listed on the terror watchlist\
                      \ attempting to enter the US illegally in recent years. Between\
                      \ October 2023 and February, agents have already recorded 70\
                      \ encounters at both the southern and northern borders, according\
                      \ to federal data. There were 172 such encounters recorded in\
                      \ fiscal year 2023, which ran from October 2022 to September\
                      \ 2023, 98 in fiscal year 2022, 16 in fiscal year 2021 and 14\
                      \ between fiscal years 2017 and 2020. In March, Border Patrol\
                      \ agents apprehended Lebanese national Basel Bassel Ebbadi,\
                      \ 22, who told personnel that he came to the US “to try to make\
                      \ a bomb,” according to internal federal documents first obtained\
                      \ by The Post. Ebbadi admitted to a border agent that he is\
                      \ a member of Hezbollah and was later confirmed as a “positive\
                      \ match” on the terror watchlist."
                    url: https://nypost.com/2024/04/02/us-news/lawmakers-demand-to-know-if-taxpayers-funded-al-shabaab-terrorist/
                    images:
                    - width: 879
                      title: Masked al-Shabaab members hold up weapons
                      url: https://nypost.com/wp-content/uploads/sites/2/2024/04/2010-somalias-hardline-islamist-rebel-39796525.jpg?w=1024
                      height: 590
                    - width: 787
                      title: Members of al-Shabaab
                      url: https://nypost.com/wp-content/uploads/sites/2/2024/04/2010-al-shabaab-said-friday-39807171.jpg?w=1024
                      height: 590
                    - width: 943
                      title: Border Patrol agents apprehend migrants
                      url: https://nypost.com/wp-content/uploads/sites/2/2024/04/migrants-placed-vans-u-s-78334041.jpg?w=1024
                      height: 590
                    - width: 885
                      title: Migrants await to be transported by Border Patrol agents
                      url: https://nypost.com/wp-content/uploads/sites/2/2024/04/asylum-seeking-migrants-stand-line-71972565.jpg?w=1024
                      height: 590
                    - width: 885
                      title: Border Patrol vehicle
                      url: https://nypost.com/wp-content/uploads/sites/2/2024/04/u-s-border-patrol-vehicle-56717052.jpg?w=1024
                      height: 590
                    - width: 1200
                      url: https://nypost.com/wp-content/uploads/sites/2/2024/04/al-shabaab-terrorist-migrant-border-crossing-california-minnesota-mayorkas-comp-02.jpg?quality=75&strip=all&w=1200
                      height: 800
                    videos:
                    - summary: "Today's Video Headlines: 4/2/24"
                      duration: 61
                      thumbnail: https://cdn.jwplayer.com/v2/media/Den1Nq47/poster.jpg?width=720
                      title: Today's Video Headlines
                      url: https://cdn.jwplayer.com/videos/Den1Nq47-RyIcpnTz.mp4
                    publish_date: 2024-04-02 17:13:12
                    authors:
                    - Jennie Taer
                    language: en
              schema:
                $ref: '#/components/schemas/extractNews_200_response'
          description: Success
        "401":
          description: Unauthorized
        "402":
          description: Payment Required
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "406":
          description: Not Acceptable
        "429":
          description: Too Many Requests
      summary: Extract News
      tags:
      - News
  /search-jokes:
    get:
      deprecated: false
      description: "With over 50,000 jokes, you should find something for any occasion.\
        \ There are 27 categories/tags to choose from, but you can also search for\
        \ very specific words within jokes."
      externalDocs:
        description: Read entire docs
        url: https://apileague.com/apis/search-jokes-api/
      operationId: searchJokes
      parameters:
      - description: A comma-separated list of words that must occur in the joke.
        explode: false
        in: query
        name: keywords
        required: false
        schema:
          example: "horse,man"
          maxLength: 300
          pattern: "."
          type: string
        style: form
      - description: A comma-separated list of tags the jokes should have.
        explode: false
        in: query
        name: include-tags
        required: false
        schema:
          example: animal
          maxLength: 300
          pattern: "."
          type: string
        style: form
      - description: A comma-separated list of tags the jokes must not have.
        explode: false
        in: query
        name: exclude-tags
        required: false
        schema:
          example: "nsfw,dark"
          maxLength: 300
          pattern: "."
          type: string
        style: form
      - description: "The minimum rating in range [0.0,1.0] of the jokes."
        explode: false
        in: query
        name: min-rating
        required: false
        schema:
          example: 0
          format: double
          maximum: 1
          minimum: 0
          type: number
        style: form
      - description: The maximum length of the joke in letters.
        explode: false
        in: query
        name: max-length
        required: false
        schema:
          example: 140
          format: double
          maximum: 1
          minimum: 0
          type: number
        style: form
      - description: "The number of jokes to skip, between 0 and 1000."
        explode: false
        in: query
        name: offset
        required: false
        schema:
          example: 0
          format: int32
          maximum: 1000
          minimum: 0
          type: integer
        style: form
      - description: "The number of jokes, between 1 and 10."
        explode: false
        in: query
        name: number
        required: false
        schema:
          example: 3
          format: int32
          maximum: 10
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Response:
                  value:
                    jokes:
                    - joke: "A retiring farmer in preparation for selling his land,\
                        \ needed to rid his farm of animals. So he went to every house\
                        \ in his town. \nTo the houses where the man is the boss,\
                        \ he gave a horse. To the houses where the woman is the boss,\
                        \ a chicken was given. \nHe got toward the end of the street\
                        \ and saw a couple outside gardening. \"Who's the boss around\
                        \ here?\" he asked. \n\"I am.\" said the man. \n\"I have a\
                        \ black horse and a brown horse,\" the farmer said, \"which\
                        \ one would you like?\" \nThe man thought for a minute and\
                        \ said, \"The black one.\" \n\"No, no, no, get the brown one.\"\
                        \ the man's wife said. \n\"Here's your chicken.\" said the\
                        \ farmer."
                    - joke: "A blonde decides to try horseback riding, even though\
                        \ she has had no\r\nlessons or prior experience. She mounts\
                        \ the horse unassisted and then\r\nhorse immediately springs\
                        \ into motion. It gallops along at a steady and\r\nrhythmic\
                        \ pace, but the blonde begins to slip from the\r\nsaddle.\
                        \ In terror, she grabs for the horse's mane, but cannot seem\
                        \ to get\r\na firm grip.\r\nShe tries to throw her arms around\
                        \ the horse's neck, but she slides down\r\nthe side of the\
                        \ horse anyway. The horse gallops along, seemingly\r\nimpervious\
                        \ to its slipping rider. Finally, giving up her frail grip,\
                        \ she\r\nleaps away from the horse to try and throw herself\
                        \ to safety.\r\nUnfortunately, her foot has become entangled\
                        \ in the stirrup and she is now\r\nat the mercy of the horse's\
                        \ pounding hooves as her head is battered\r\nagainst the ground\
                        \ again and again. She is mere moments away from\r\nunconsciousness\
                        \ when...\r\n ...the Wal-Mart manager runs out to shut the\
                        \ horse off."
                    - joke: "Once Chuck Norris met a man on a horse that he did'nt\
                        \ like, now we know him as the headless horseman."
                    available: 169
              schema:
                $ref: '#/components/schemas/searchJokes_200_response'
          description: Success
        "401":
          description: Unauthorized
        "402":
          description: Payment Required
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "406":
          description: Not Acceptable
        "429":
          description: Too Many Requests
      summary: Search Jokes
      tags:
      - Humor
  /retrieve-random-joke:
    get:
      deprecated: false
      description: "This is a simple API that returns a random joke. You can filter\
        \ the jokes by tags and keywords. To make sure they are safe for work, you\
        \ could use the exclude-tags parameter to exclude jokes with certain tags\
        \ such as \"nsfw\" or \"religious\"."
      externalDocs:
        description: Read entire docs
        url: https://apileague.com/apis/random-joke-api/
      operationId: randomJoke
      parameters:
      - description: A comma-separated list of tags the jokes should have.
        explode: false
        in: query
        name: include-tags
        required: false
        schema:
          example: animal
          maxLength: 300
          pattern: "."
          type: string
        style: form
      - description: A comma-separated list of tags the jokes must not have.
        explode: false
        in: query
        name: exclude-tags
        required: false
        schema:
          example: "nsfw,dark"
          maxLength: 300
          pattern: "."
          type: string
        style: form
      - description: "The minimum rating in range [0.0,1.0] of the jokes."
        explode: false
        in: query
        name: min-rating
        required: false
        schema:
          example: 0
          format: double
          maximum: 1
          minimum: 0
          type: number
        style: form
      - description: The maximum length of the joke in letters.
        explode: false
        in: query
        name: max-length
        required: false
        schema:
          example: 140
          format: int32
          maximum: 10000
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Response:
                  value:
                    joke: |-
                      What do you call a boxing match between two aardvarks?
                      A snout bout!
              schema:
                $ref: '#/components/schemas/searchJokes_200_response_jokes_inner'
          description: Success
        "401":
          description: Unauthorized
        "402":
          description: Payment Required
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "406":
          description: Not Acceptable
        "429":
          description: Too Many Requests
      summary: Random Joke
      tags:
      - Humor
  /search-memes:
    get:
      deprecated: false
      description: "With over 200,000 memes, you'll surely find something funny. You\
        \ can even search for text within memes and filter by user ratings."
      externalDocs:
        description: Read entire docs
        url: https://apileague.com/apis/search-memes-api/
      operationId: searchMemes
      parameters:
      - description: A comma-separated list of words that must occur in the meme.
        explode: false
        in: query
        name: keywords
        required: false
        schema:
          example: rocket
          maxLength: 300
          pattern: "."
          type: string
        style: form
      - description: Whether the keywords must occur in the image.
        explode: false
        in: query
        name: keywords-in-image
        required: false
        schema:
          example: true
          type: boolean
        style: form
      - description: "The media type (either 'image', 'video' or even specific format\
          \ such as 'jpg', 'png', or 'gif')."
        explode: false
        in: query
        name: media-type
        required: false
        schema:
          example: image
          maxLength: 10
          pattern: "."
          type: string
        style: form
      - description: "The minimum rating in range [0.0,1.0] of the meme."
        explode: false
        in: query
        name: min-rating
        required: false
        schema:
          example: 0
          format: double
          maximum: 1
          minimum: 0
          type: number
        style: form
      - description: The maximum age of the meme in days.
        explode: false
        in: query
        name: max-age-days
        required: false
        schema:
          example: 30
          format: int32
          maximum: 10000
          minimum: 0
          type: integer
        style: form
      - description: "The number of memes to skip, between 0 and 1000."
        explode: false
        in: query
        name: offset
        required: false
        schema:
          example: 0
          format: int32
          maximum: 1000
          minimum: 0
          type: integer
        style: form
      - description: "The number of memes, between 1 and 10."
        explode: false
        in: query
        name: number
        required: false
        schema:
          example: 3
          format: int32
          maximum: 10
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Response:
                  value:
                    memes:
                    - type: video/mp4
                      description: "Hey, you want a light show?: Edit: Thank you for\
                        \ getting the joke. I didn’t think a joke about gloving would\
                        \ land, but I appreciate your sense of humor Imgur. Let me\
                        \ know what shows you are going to or went to this year. DM\
                        \ me if you want to team up on Rocket League."
                      url: https://i.imgur.com/4msjS5E.mp4
                    - type: image/png
                      description: "Rocket Money is a scam.: Prevented a $30 charge\
                        \ of something I don't use anymore. Feels good."
                      url: https://i.imgur.com/q3cZlpv.png
                    - type: image/jpeg
                      description: "Rocket Money is a scam.: Cat tax."
                      url: https://i.imgur.com/yaZoCFP.jpg
                    available: 156
              schema:
                $ref: '#/components/schemas/searchMemes_200_response'
          description: Success
        "401":
          description: Unauthorized
        "402":
          description: Payment Required
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "406":
          description: Not Acceptable
        "429":
          description: Too Many Requests
      summary: Search Memes
      tags:
      - Humor
  /retrieve-random-meme:
    get:
      deprecated: false
      description: "Get a random meme out of over 200,000+ memes. To get the latest\
        \ memes, you can use the max-age-days parameter."
      externalDocs:
        description: Read entire docs
        url: https://apileague.com/apis/random-meme-api/
      operationId: randomMeme
      parameters:
      - description: A comma-separated list of words that must occur in the meme.
        explode: false
        in: query
        name: keywords
        required: false
        schema:
          example: airplane
          maxLength: 300
          pattern: "."
          type: string
        style: form
      - description: Whether the keywords must occur in the image.
        explode: false
        in: query
        name: keywords-in-image
        required: false
        schema:
          example: true
          type: boolean
        style: form
      - description: "The media type (either 'image', 'video' or even specific format\
          \ such as 'jpg', 'png', or 'gif')."
        explode: false
        in: query
        name: media-type
        required: false
        schema:
          example: image
          maxLength: 10
          pattern: "."
          type: string
        style: form
      - description: "The minimum rating in range [0.0,1.0] of the meme."
        explode: false
        in: query
        name: min-rating
        required: false
        schema:
          example: 0
          format: double
          maximum: 1
          minimum: 0
          type: number
        style: form
      - description: The maximum age of the meme in days.
        explode: false
        in: query
        name: max-age-days
        required: false
        schema:
          example: 30
          format: int32
          maximum: 1000
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Response:
                  value:
                    description: That's totally fine.
                    url: https://preview.redd.it/2wpfufhz8p751.jpg?width=640&crop=smart&auto=webp&s=dab7d5eba791f3a884b0c0614630c99e38c46c4d
                    type: image/jpeg
                    width: 640
                    height: 702
                    ratio: 0.911681
              schema:
                $ref: '#/components/schemas/randomMeme_200_response'
          description: Success
        "401":
          description: Unauthorized
        "402":
          description: Payment Required
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "406":
          description: Not Acceptable
        "429":
          description: Too Many Requests
      summary: Random Meme
      tags:
      - Humor
  /search-gifs:
    get:
      deprecated: false
      description: "Search through hundreds of thousands of gifs to match any reaction\
        \ you want. The gifs are returned in a list with the URL, width, and height\
        \ of the gif."
      externalDocs:
        description: Read entire docs
        url: https://apileague.com/apis/search-gifs-api/
      operationId: searchGifs
      parameters:
      - description: The search query.
        explode: false
        in: query
        name: query
        required: true
        schema:
          example: dogs
          maxLength: 300
          pattern: "."
          type: string
        style: form
      - description: "The number of gifs to return in range [1,10]"
        explode: false
        in: query
        name: number
        required: false
        schema:
          example: 5
          format: int32
          maximum: 10
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Response:
                  value:
                    images:
                    - width: 362
                      url: https://media.tenor.com/xEf4j9pnMywAAAAC/dog-dogs.gif
                      height: 498
                    - width: 248
                      url: https://media.tenor.com/U-g_SmVeq40AAAAC/poodle-dancing-dog-poodle.gif
                      height: 498
                    - width: 498
                      url: https://media.tenor.com/SmFA9ziWpx4AAAAC/dogs-dog.gif
                      height: 374
              schema:
                $ref: '#/components/schemas/searchGifs_200_response'
          description: Success
        "401":
          description: Unauthorized
        "402":
          description: Payment Required
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "406":
          description: Not Acceptable
        "429":
          description: Too Many Requests
      summary: Search Gifs
      tags:
      - Humor
  /generate-nonsense-word:
    get:
      deprecated: false
      description: "Generate a funny sounding nonsense word. This is useful for generating\
        \ random words for games, naming things, or just for fun. The response will\
        \ contain the generated word and a rating of how funny it is."
      externalDocs:
        description: Read entire docs
        url: https://apileague.com/apis/generate-nonsense-word-api/
      operationId: generateNonsenseWord
      parameters: []
      responses:
        "200":
          content:
            application/json:
              examples:
                Response:
                  value:
                    word: caboo
                    rating: 0.41
              schema:
                $ref: '#/components/schemas/generateNonsenseWord_200_response'
          description: Success
        "401":
          description: Unauthorized
        "402":
          description: Payment Required
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "406":
          description: Not Acceptable
        "429":
          description: Too Many Requests
      summary: Generate Nonsense Word
      tags:
      - Humor
  /search-recipes:
    get:
      deprecated: false
      description: "Search and filter thousands of recipes with natural language,\
        \ e.g. pasta recipes without mushrooms but with truffles. You can filter by\
        \ ingredients, diet, cuisine, meal type, macro and micro nutrition, intolerances,\
        \ and much more."
      externalDocs:
        description: Read entire docs
        url: https://apileague.com/apis/search-recipes-api/
      operationId: searchRecipes
      parameters:
      - description: The search query.
        explode: false
        in: query
        name: query
        required: false
        schema:
          example: pasta with mushrooms but without nuts
          maxLength: 300
          pattern: "."
          type: string
        style: form
      - description: "The cuisine(s) of the recipes. One or more, comma separated\
          \ (will be interpreted as 'OR')."
        explode: false
        in: query
        name: cuisines
        required: false
        schema:
          example: mexican
          maxLength: 300
          pattern: "."
          type: string
        style: form
      - description: "The cuisine(s) the recipes must not match. One or more, comma\
          \ separated (will be interpreted as 'AND')."
        explode: false
        in: query
        name: exclude-cuisines
        required: false
        schema:
          example: "indian,japanese"
          maxLength: 300
          pattern: "."
          type: string
        style: form
      - description: "The type of the recipe, one of: main course,side dish,dessert,appetizer,salad,bread,breakfast,soup,beverage,sauce,drink."
        explode: false
        in: query
        name: meal-type
        required: false
        schema:
          example: dessert
          maxLength: 30
          pattern: "."
          type: string
        style: form
      - description: "The diet the recipes must adhere to. One of the following: paleo,primal,grain-free,pescetarian,lacto\
          \ vegetarian,ovo vegetarian,vegan,vegetarian."
        explode: false
        in: query
        name: diet
        required: false
        schema:
          example: paleo
          maxLength: 30
          pattern: "."
          type: string
        style: form
      - description: A comma-separated list of intolerances. All recipes returned
          must not contain ingredients that are not suitable for people with the intolerances
          entered.
        explode: false
        in: query
        name: intolerances
        required: false
        schema:
          example: "gluten,dairy,shellfish"
          maxLength: 300
          pattern: "."
          type: string
        style: form
      - description: The equipment required. Multiple values will be interpreted as
          'OR'.
        explode: false
        in: query
        name: equipment
        required: false
        schema:
          example: "blender,frying pan,bowl"
          maxLength: 300
          pattern: "."
          type: string
        style: form
      - description: A comma-separated list of ingredients that should/must be used
          in the recipes.
        explode: false
        in: query
        name: include-ingredients
        required: false
        schema:
          example: "tomato,cheese"
          maxLength: 300
          pattern: "."
          type: string
        style: form
      - description: A comma-separated list of ingredients or ingredient types that
          the recipes must not contain.
        explode: false
        in: query
        name: exclude-ingredients
        required: false
        schema:
          example: "olives,capers"
          maxLength: 300
          pattern: "."
          type: string
        style: form
      - description: Add information about the ingredients and whether they are used
          or missing in relation to the query.
        explode: false
        in: query
        name: fill-ingredients
        required: false
        schema:
          example: true
          type: boolean
        style: form
      - description: "If set to true, you get more information about the recipes returned."
        explode: false
        in: query
        name: add-recipe-information
        required: false
        schema:
          example: true
          type: boolean
        style: form
      - description: The maximum time in minutes it should take to prepare and cook
          the recipe.
        explode: false
        in: query
        name: max-time
        required: false
        schema:
          example: 45
          format: int32
          maximum: 10000
          minimum: 0
          type: integer
        style: form
      - description: The minimum amount of servings the recipe is for.
        explode: false
        in: query
        name: min-servings
        required: false
        schema:
          example: 1
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: The maximum amount of servings the recipe is for.
        explode: false
        in: query
        name: max-servings
        required: false
        schema:
          example: 8
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: The minimum amount of calories the recipe must have per serving.
        explode: false
        in: query
        name: min-calories
        required: false
        schema:
          example: 100
          format: double
          maximum: 99999
          minimum: 0
          type: number
        style: form
      - description: The maximum amount of calories the recipe can have per serving.
        explode: false
        in: query
        name: max-calories
        required: false
        schema:
          example: 655
          format: double
          maximum: 99999
          minimum: 0
          type: number
        style: form
      - description: The minimum amount of carbohydrates in grams the recipe must
          have per serving.
        explode: false
        in: query
        name: min-carbs
        required: false
        schema:
          example: 10.1
          format: double
          maximum: 99999
          minimum: 0
          type: number
        style: form
      - description: The maximum amount of carbohydrates in grams the recipe can have
          per serving.
        explode: false
        in: query
        name: max-carbs
        required: false
        schema:
          example: 25.5
          format: double
          maximum: 99999
          minimum: 0
          type: number
        style: form
      - description: The minimum amount of protein in grams the recipe must have per
          serving.
        explode: false
        in: query
        name: min-protein
        required: false
        schema:
          example: 10.1
          format: double
          maximum: 99999
          minimum: 0
          type: number
        style: form
      - description: The maximum amount of protein in grams the recipe can have per
          serving.
        explode: false
        in: query
        name: max-protein
        required: false
        schema:
          example: 25.5
          format: double
          maximum: 99999
          minimum: 0
          type: number
        style: form
      - description: The minimum amount of fat in grams the recipe must have per serving.
        explode: false
        in: query
        name: min-fat
        required: false
        schema:
          example: 10.1
          format: double
          maximum: 99999
          minimum: 0
          type: number
        style: form
      - description: The maximum amount of fat in grams the recipe can have per serving.
        explode: false
        in: query
        name: max-fat
        required: false
        schema:
          example: 25.5
          format: double
          maximum: 99999
          minimum: 0
          type: number
        style: form
      - description: The minimum amount of sugar in grams the recipe must have per
          serving.
        explode: false
        in: query
        name: min-sugar
        required: false
        schema:
          example: 10.1
          format: double
          maximum: 99999
          minimum: 0
          type: number
        style: form
      - description: The maximum amount of sugar in grams the recipe can have per
          serving.
        explode: false
        in: query
        name: max-sugar
        required: false
        schema:
          example: 25.5
          format: double
          maximum: 99999
          minimum: 0
          type: number
        style: form
      - description: The minimum amount of fiber in grams the recipe must have per
          serving.
        explode: false
        in: query
        name: min-fiber
        required: false
        schema:
          example: 10.1
          format: double
          maximum: 99999
          minimum: 0
          type: number
        style: form
      - description: The maximum amount of fiber in grams the recipe can have per
          serving.
        explode: false
        in: query
        name: max-fiber
        required: false
        schema:
          example: 25.5
          format: double
          maximum: 99999
          minimum: 0
          type: number
        style: form
      - description: The minimum amount of folate in micrograms the recipe must have
          per serving.
        explode: false
        in: query
        name: min-folate
        required: false
        schema:
          example: 30.4
          format: double
          maximum: 99999
          minimum: 0
          type: number
        style: form
      - description: The maximum amount of folate in micrograms the recipe can have
          per serving.
        explode: false
        in: query
        name: max-folate
        required: false
        schema:
          example: 80.9
          format: double
          maximum: 99999
          minimum: 0
          type: number
        style: form
      - description: The minimum amount of folic acid in micrograms the recipe must
          have per serving.
        explode: false
        in: query
        name: min-folic-acid
        required: false
        schema:
          example: 30.4
          format: double
          maximum: 99999
          minimum: 0
          type: number
        style: form
      - description: The maximum amount of folic acid in micrograms the recipe can
          have per serving.
        explode: false
        in: query
        name: max-folic-acid
        required: false
        schema:
          example: 80.9
          format: double
          maximum: 99999
          minimum: 0
          type: number
        style: form
      - description: The minimum amount of iodine in micrograms the recipe must have
          per serving.
        explode: false
        in: query
        name: min-iodine
        required: false
        schema:
          example: 30.4
          format: double
          maximum: 99999
          minimum: 0
          type: number
        style: form
      - description: The maximum amount of iodine in micrograms the recipe can have
          per serving.
        explode: false
        in: query
        name: max-iodine
        required: false
        schema:
          example: 80.9
          format: double
          maximum: 99999
          minimum: 0
          type: number
        style: form
      - description: The minimum amount of iron in milligrams the recipe must have
          per serving.
        explode: false
        in: query
        name: min-iron
        required: false
        schema:
          example: 30.4
          format: double
          maximum: 99999
          minimum: 0
          type: number
        style: form
      - description: The maximum amount of iron in milligrams the recipe can have
          per serving.
        explode: false
        in: query
        name: max-iron
        required: false
        schema:
          example: 80.9
          format: double
          maximum: 99999
          minimum: 0
          type: number
        style: form
      - description: The minimum amount of zinc in milligrams the recipe must have
          per serving.
        explode: false
        in: query
        name: min-zinc
        required: false
        schema:
          example: 30.4
          format: double
          maximum: 99999
          minimum: 0
          type: number
        style: form
      - description: The maximum amount of zinc in milligrams the recipe can have
          per serving.
        explode: false
        in: query
        name: max-zinc
        required: false
        schema:
          example: 80.9
          format: double
          maximum: 99999
          minimum: 0
          type: number
        style: form
      - description: The minimum amount of magnesium in milligrams the recipe must
          have per serving.
        explode: false
        in: query
        name: min-magnesium
        required: false
        schema:
          example: 30.4
          format: double
          maximum: 99999
          minimum: 0
          type: number
        style: form
      - description: The maximum amount of magnesium in milligrams the recipe can
          have per serving.
        explode: false
        in: query
        name: max-magnesium
        required: false
        schema:
          example: 80.9
          format: double
          maximum: 99999
          minimum: 0
          type: number
        style: form
      - description: The minimum amount of manganese in milligrams the recipe must
          have per serving.
        explode: false
        in: query
        name: min-manganese
        required: false
        schema:
          example: 30.4
          format: double
          maximum: 99999
          minimum: 0
          type: number
        style: form
      - description: The maximum amount of manganese in milligrams the recipe can
          have per serving.
        explode: false
        in: query
        name: max-manganese
        required: false
        schema:
          example: 80.9
          format: double
          maximum: 99999
          minimum: 0
          type: number
        style: form
      - description: The minimum amount of phosphorus in milligrams the recipe must
          have per serving.
        explode: false
        in: query
        name: min-phosphorus
        required: false
        schema:
          example: 30.4
          format: double
          maximum: 99999
          minimum: 0
          type: number
        style: form
      - description: The maximum amount of phosphorus in milligrams the recipe can
          have per serving.
        explode: false
        in: query
        name: max-phosphorus
        required: false
        schema:
          example: 80.9
          format: double
          maximum: 99999
          minimum: 0
          type: number
        style: form
      - description: The minimum amount of potassium in milligrams the recipe must
          have per serving.
        explode: false
        in: query
        name: min-potassium
        required: false
        schema:
          example: 30.4
          format: double
          maximum: 99999
          minimum: 0
          type: number
        style: form
      - description: The maximum amount of potassium in milligrams the recipe can
          have per serving.
        explode: false
        in: query
        name: max-potassium
        required: false
        schema:
          example: 80.9
          format: double
          maximum: 99999
          minimum: 0
          type: number
        style: form
      - description: The minimum amount of sodium in milligrams the recipe must have
          per serving.
        explode: false
        in: query
        name: min-sodium
        required: false
        schema:
          example: 30.4
          format: double
          maximum: 99999
          minimum: 0
          type: number
        style: form
      - description: The maximum amount of sodium in milligrams the recipe can have
          per serving.
        explode: false
        in: query
        name: max-sodium
        required: false
        schema:
          example: 80.9
          format: double
          maximum: 99999
          minimum: 0
          type: number
        style: form
      - description: The minimum amount of selenium in micrograms the recipe must
          have per serving.
        explode: false
        in: query
        name: min-selenium
        required: false
        schema:
          example: 30.4
          format: double
          maximum: 99999
          minimum: 0
          type: number
        style: form
      - description: The maximum amount of selenium in micrograms the recipe can have
          per serving.
        explode: false
        in: query
        name: max-selenium
        required: false
        schema:
          example: 80.9
          format: double
          maximum: 99999
          minimum: 0
          type: number
        style: form
      - description: The minimum amount of copper in milligrams the recipe must have
          per serving.
        explode: false
        in: query
        name: min-copper
        required: false
        schema:
          example: 30.4
          format: double
          maximum: 99999
          minimum: 0
          type: number
        style: form
      - description: The maximum amount of copper in milligrams the recipe can have
          per serving.
        explode: false
        in: query
        name: max-copper
        required: false
        schema:
          example: 80.9
          format: double
          maximum: 99999
          minimum: 0
          type: number
        style: form
      - description: The minimum amount of calcium in milligrams the recipe must have
          per serving.
        explode: false
        in: query
        name: min-calcium
        required: false
        schema:
          example: 30.4
          format: double
          maximum: 99999
          minimum: 0
          type: number
        style: form
      - description: The maximum amount of calcium in milligrams the recipe can have
          per serving.
        explode: false
        in: query
        name: max-calcium
        required: false
        schema:
          example: 80.9
          format: double
          maximum: 99999
          minimum: 0
          type: number
        style: form
      - description: The minimum amount of choline in milligrams the recipe must have
          per serving.
        explode: false
        in: query
        name: min-choline
        required: false
        schema:
          example: 30.4
          format: double
          maximum: 99999
          minimum: 0
          type: number
        style: form
      - description: The maximum amount of choline in milligrams the recipe can have
          per serving.
        explode: false
        in: query
        name: max-choline
        required: false
        schema:
          example: 80.9
          format: double
          maximum: 99999
          minimum: 0
          type: number
        style: form
      - description: The minimum amount of cholesterol in milligrams the recipe must
          have per serving.
        explode: false
        in: query
        name: min-cholesterol
        required: false
        schema:
          example: 30.4
          format: double
          maximum: 99999
          minimum: 0
          type: number
        style: form
      - description: The maximum amount of cholesterol in milligrams the recipe can
          have per serving.
        explode: false
        in: query
        name: max-cholesterol
        required: false
        schema:
          example: 80.9
          format: double
          maximum: 99999
          minimum: 0
          type: number
        style: form
      - description: The minimum amount of fluoride in milligrams the recipe must
          have per serving.
        explode: false
        in: query
        name: min-fluoride
        required: false
        schema:
          example: 30.4
          format: double
          maximum: 99999
          minimum: 0
          type: number
        style: form
      - description: The maximum amount of fluoride in milligrams the recipe can have
          per serving.
        explode: false
        in: query
        name: max-fluoride
        required: false
        schema:
          example: 80.9
          format: double
          maximum: 99999
          minimum: 0
          type: number
        style: form
      - description: The minimum amount of alcohol in grams the recipe must have per
          serving.
        explode: false
        in: query
        name: min-alcohol
        required: false
        schema:
          example: 10.1
          format: double
          maximum: 99999
          minimum: 0
          type: number
        style: form
      - description: The maximum amount of alcohol in grams the recipe can have per
          serving.
        explode: false
        in: query
        name: max-alcohol
        required: false
        schema:
          example: 25.5
          format: double
          maximum: 99999
          minimum: 0
          type: number
        style: form
      - description: The minimum amount of caffeine in milligrams the recipe must
          have per serving.
        explode: false
        in: query
        name: min-caffeine
        required: false
        schema:
          example: 30.4
          format: double
          maximum: 99999
          minimum: 0
          type: number
        style: form
      - description: The maximum amount of caffeine in milligrams the recipe can have
          per serving.
        explode: false
        in: query
        name: max-caffeine
        required: false
        schema:
          example: 80.9
          format: double
          maximum: 99999
          minimum: 0
          type: number
        style: form
      - description: The minimum amount of saturated fat in grams the recipe must
          have per serving.
        explode: false
        in: query
        name: min-saturated-fat
        required: false
        schema:
          example: 30.4
          format: double
          maximum: 99999
          minimum: 0
          type: number
        style: form
      - description: The maximum amount of saturated fat in grams the recipe can have
          per serving.
        explode: false
        in: query
        name: max-saturated-fat
        required: false
        schema:
          example: 80.9
          format: double
          maximum: 99999
          minimum: 0
          type: number
        style: form
      - description: The minimum amount of Vitamin A in IU the recipe must have per
          serving.
        explode: false
        in: query
        name: min-vitamin-a
        required: false
        schema:
          example: 30.4
          format: double
          maximum: 99999
          minimum: 0
          type: number
        style: form
      - description: The maximum amount of Vitamin A in IU the recipe can have per
          serving.
        explode: false
        in: query
        name: max-vitamin-a
        required: false
        schema:
          example: 80.9
          format: double
          maximum: 99999
          minimum: 0
          type: number
        style: form
      - description: The minimum amount of Vitamin C in milligrams the recipe must
          have per serving.
        explode: false
        in: query
        name: min-vitamin-c
        required: false
        schema:
          example: 30.4
          format: double
          maximum: 99999
          minimum: 0
          type: number
        style: form
      - description: The maximum amount of Vitamin C in milligrams the recipe can
          have per serving.
        explode: false
        in: query
        name: max-vitamin-c
        required: false
        schema:
          example: 80.9
          format: double
          maximum: 99999
          minimum: 0
          type: number
        style: form
      - description: The minimum amount of Vitamin D in micrograms the recipe must
          have per serving.
        explode: false
        in: query
        name: min-vitamin-d
        required: false
        schema:
          example: 30.4
          format: double
          maximum: 99999
          minimum: 0
          type: number
        style: form
      - description: The maximum amount of Vitamin D in micrograms the recipe can
          have per serving.
        explode: false
        in: query
        name: max-vitamin-d
        required: false
        schema:
          example: 80.9
          format: double
          maximum: 99999
          minimum: 0
          type: number
        style: form
      - description: The minimum amount of Vitamin E in milligrams the recipe must
          have per serving.
        explode: false
        in: query
        name: min-vitamin-e
        required: false
        schema:
          example: 30.4
          format: double
          maximum: 99999
          minimum: 0
          type: number
        style: form
      - description: The maximum amount of Vitamin E in milligrams the recipe can
          have per serving.
        explode: false
        in: query
        name: max-vitamin-e
        required: false
        schema:
          example: 80.9
          format: double
          maximum: 99999
          minimum: 0
          type: number
        style: form
      - description: The minimum amount of Vitamin K in micrograms the recipe must
          have per serving.
        explode: false
        in: query
        name: min-vitamin-k
        required: false
        schema:
          example: 30.4
          format: double
          maximum: 99999
          minimum: 0
          type: number
        style: form
      - description: The maximum amount of Vitamin K in micrograms the recipe can
          have per serving.
        explode: false
        in: query
        name: max-vitamin-k
        required: false
        schema:
          example: 80.9
          format: double
          maximum: 99999
          minimum: 0
          type: number
        style: form
      - description: The minimum amount of Vitamin B1 in milligrams the recipe must
          have per serving.
        explode: false
        in: query
        name: min-vitamin-b1
        required: false
        schema:
          example: 30.4
          format: double
          maximum: 99999
          minimum: 0
          type: number
        style: form
      - description: The maximum amount of Vitamin B1 in milligrams the recipe can
          have per serving.
        explode: false
        in: query
        name: max-vitamin-b1
        required: false
        schema:
          example: 80.9
          format: double
          maximum: 99999
          minimum: 0
          type: number
        style: form
      - description: The minimum amount of Vitamin B2 in milligrams the recipe must
          have per serving.
        explode: false
        in: query
        name: min-vitamin-b2
        required: false
        schema:
          example: 30.4
          format: double
          maximum: 99999
          minimum: 0
          type: number
        style: form
      - description: The maximum amount of Vitamin B2 in milligrams the recipe can
          have per serving.
        explode: false
        in: query
        name: max-vitamin-b2
        required: false
        schema:
          example: 80.9
          format: double
          maximum: 99999
          minimum: 0
          type: number
        style: form
      - description: The minimum amount of Vitamin B3 in milligrams the recipe must
          have per serving.
        explode: false
        in: query
        name: min-vitamin-b3
        required: false
        schema:
          example: 30.4
          format: double
          maximum: 99999
          minimum: 0
          type: number
        style: form
      - description: The maximum amount of Vitamin B3 in milligrams the recipe can
          have per serving.
        explode: false
        in: query
        name: max-vitamin-b3
        required: false
        schema:
          example: 80.9
          format: double
          maximum: 99999
          minimum: 0
          type: number
        style: form
      - description: The minimum amount of Vitamin B5 in milligrams the recipe must
          have per serving.
        explode: false
        in: query
        name: min-vitamin-b5
        required: false
        schema:
          example: 30.4
          format: double
          maximum: 99999
          minimum: 0
          type: number
        style: form
      - description: The maximum amount of Vitamin B5 in milligrams the recipe can
          have per serving.
        explode: false
        in: query
        name: max-vitamin-b5
        required: false
        schema:
          example: 80.9
          format: double
          maximum: 99999
          minimum: 0
          type: number
        style: form
      - description: The minimum amount of Vitamin B6 in milligrams the recipe must
          have per serving.
        explode: false
        in: query
        name: min-vitamin-b6
        required: false
        schema:
          example: 30.4
          format: double
          maximum: 99999
          minimum: 0
          type: number
        style: form
      - description: The maximum amount of Vitamin B6 in milligrams the recipe can
          have per serving.
        explode: false
        in: query
        name: max-vitamin-b6
        required: false
        schema:
          example: 80.9
          format: double
          maximum: 99999
          minimum: 0
          type: number
        style: form
      - description: The minimum amount of Vitamin B12 in milligrams the recipe must
          have per serving.
        explode: false
        in: query
        name: min-vitamin-b12
        required: false
        schema:
          example: 30.4
          format: double
          maximum: 99999
          minimum: 0
          type: number
        style: form
      - description: The maximum amount of Vitamin B12 in milligrams the recipe can
          have per serving.
        explode: false
        in: query
        name: max-vitamin-b12
        required: false
        schema:
          example: 80.9
          format: double
          maximum: 99999
          minimum: 0
          type: number
        style: form
      - description: The strategy to sort recipes by. See a full list of supported
          sorting options.
        explode: false
        in: query
        name: sort
        required: false
        schema:
          example: meta-score
          maxLength: 100
          pattern: "."
          type: string
        style: form
      - description: Whether to sort ascending or descending (ASC or DESC).
        explode: false
        in: query
        name: sort-direction
        required: false
        schema:
          example: ASC
          maxLength: 4
          pattern: "."
          type: string
        style: form
      - description: "The number of recipes to skip, between 0 and 900."
        explode: false
        in: query
        name: offset
        required: false
        schema:
          example: 0
          format: int32
          maximum: 900
          minimum: 0
          type: integer
        style: form
      - description: "The number of recipes, between 1 and 100."
        explode: false
        in: query
        name: number
        required: false
        schema:
          example: 3
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Response:
                  value:
                    offset: 0
                    number: 3
                    recipes:
                    - images:
                      - https://img.spoonacular.com/recipes/654913-312x231.jpg
                      nutrition:
                        nutrients:
                        - name: Protein
                          amount: 36.1306
                          unit: g
                      id: 654913
                      title: Pasta With Chicken and Mushrooms
                    - images:
                      - https://img.spoonacular.com/recipes/655582-312x231.jpg
                      nutrition:
                        nutrients:
                        - name: Protein
                          amount: 40.6552
                          unit: g
                      id: 655582
                      title: Penne Pasta With Chicken And Mushrooms
                    - images:
                      - https://img.spoonacular.com/recipes/1096241-312x231.jpg
                      nutrition:
                        nutrients:
                        - name: Protein
                          amount: 39.1976
                          unit: g
                      id: 1096241
                      title: "Spaghetti with Peas, Mushrooms, and Tomato Sauce"
                    total_results: 18
              schema:
                $ref: '#/components/schemas/searchRecipes_200_response'
          description: Success
        "401":
          description: Unauthorized
        "402":
          description: Payment Required
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "406":
          description: Not Acceptable
        "429":
          description: Too Many Requests
      summary: Search Recipes
      tags:
      - Food
  /retrieve-recipe:
    get:
      deprecated: false
      description: "Get detailed recipe information such as dietary properties, macro\
        \ and micro nutrients, used ingredients and their amounts, and more."
      externalDocs:
        description: Read entire docs
        url: https://apileague.com/apis/retrieve-recipe-api/
      operationId: retrieveRecipeInformation
      parameters:
      - description: The id of the recipe to retrieve.
        explode: false
        in: query
        name: id
        required: true
        schema:
          example: 74987
          format: int32
          maximum: 1410065407
          minimum: 0
          type: integer
        style: form
      - description: Whether to pair a wine to the recipe.
        explode: false
        in: query
        name: add-wine-pairing
        required: false
        schema:
          example: true
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Response:
                  value:
                    id: 654913
                    title: Pasta With Chicken and Mushrooms
                    servings: 6
                    images:
                    - https://img.spoonacular.com/recipes/654913-90x90.jpg
                    - https://img.spoonacular.com/recipes/654913-312x231.jpg
                    - https://img.spoonacular.com/recipes/654913-556x370.jpg
                    - https://img.spoonacular.com/recipes/654913-636x393.jpg
                    dietary_properties:
                      low_fodmap: false
                      vegetarian: false
                      vegan: false
                      gluten_free: false
                      dairy_free: true
                      gaps: "no"
                      diets:
                      - DAIRY_FREE
                    price_per_serving: 175.15
                    times:
                      total_minutes: 45
                    nutrition:
                      weight_per_serving:
                        amount: 360
                        unit: g
                      caloric_breakdown:
                        percent_fat: 11.44
                        percent_carbs: 56.33
                        percent_protein: 32.23
                      flavonoids:
                      - name: Cyanidin
                        amount: 0
                        unit: ""
                      - name: Petunidin
                        amount: 0
                        unit: ""
                      - name: Delphinidin
                        amount: 0
                        unit: ""
                      - name: Malvidin
                        amount: 0
                        unit: ""
                      - name: Pelargonidin
                        amount: 0
                        unit: ""
                      - name: Peonidin
                        amount: 0
                        unit: ""
                      - name: Catechin
                        amount: 0
                        unit: mg
                      - name: Epigallocatechin
                        amount: 0
                        unit: mg
                      - name: Epicatechin
                        amount: 0
                        unit: mg
                      - name: Epicatechin 3-gallate
                        amount: 0
                        unit: mg
                      - name: Epigallocatechin 3-gallate
                        amount: 0
                        unit: mg
                      - name: Theaflavin
                        amount: 0
                        unit: ""
                      - name: Thearubigins
                        amount: 0
                        unit: ""
                      - name: Eriodictyol
                        amount: 0
                        unit: ""
                      - name: Hesperetin
                        amount: 0
                        unit: mg
                      - name: Naringenin
                        amount: 0
                        unit: mg
                      - name: Apigenin
                        amount: 0
                        unit: mg
                      - name: Luteolin
                        amount: 0.04
                        unit: mg
                      - name: Isorhamnetin
                        amount: 0
                        unit: mg
                      - name: Kaempferol
                        amount: 0
                        unit: mg
                      - name: Myricetin
                        amount: 0
                        unit: mg
                      - name: Quercetin
                        amount: 0
                        unit: mg
                      - name: "Theaflavin-3,3'-digallate"
                        amount: 0
                        unit: ""
                      - name: Theaflavin-3'-gallate
                        amount: 0
                        unit: ""
                      - name: Theaflavin-3-gallate
                        amount: 0
                        unit: ""
                      - name: Gallocatechin
                        amount: 0
                        unit: mg
                      ingredient_breakdown:
                      - name: balsamic vinegar
                        amount: 0.04
                        unit: cup
[...]
