openapi: 3.0.0
info:
  contact:
    email: mail@apileague.com
    name: David Urbansky
  description: API League is a Hub for World Class APIs.
  termsOfService: https://apileague.com/terms
  title: API League
  version: "1.0"
servers:
- url: https://api.apileague.com
security:
- apiKey: []
- headerApiKey: []
paths:
  /search-books:
    get:
      deprecated: false
      description: Search and filter books based on matching a query, the ISBN, rating,
        and more fields. The query is semantically parsed using our own large ontology.
        That means you can search for "books about dogs" and will automatically also
        find books about "border collies" and other types without specifying them
        in the query.
      externalDocs:
        description: Read entire docs
        url: https://apileague.com/apis/search-books-api
      operationId: searchBooks
      parameters:
      - description: The search query.
        explode: false
        in: query
        name: query
        required: false
        schema:
          example: books about wizards
          maxLength: 300
          pattern: "."
          type: string
        style: form
      - description: The books must have been published after this year.
        explode: false
        in: query
        name: earliest-publish-year
        required: false
        schema:
          example: 2022
          format: int32
          maximum: 9999
          minimum: 0
          type: integer
        style: form
      - description: The books must have been published before this year.
        explode: false
        in: query
        name: latest-publish-year
        required: false
        schema:
          example: 2023
          format: int32
          maximum: 9999
          minimum: 0
          type: integer
        style: form
      - description: The minimum rating the book must have gotten in the interval
          [0,1].
        explode: false
        in: query
        name: min-rating
        required: false
        schema:
          example: 0.8
          format: double
          maximum: 1
          minimum: 0
          type: number
        style: form
      - description: The maximum rating the book must have gotten in the interval
          [0,1].
        explode: false
        in: query
        name: max-rating
        required: false
        schema:
          example: 0.99
          format: double
          maximum: 1
          minimum: 0
          type: number
        style: form
      - description: A comma-separated list of  genres. Only books from any of the
          given genres will be returned.
        explode: false
        in: query
        name: genres
        required: false
        schema:
          example: nonfiction
          maxLength: 1000
          pattern: "."
          type: string
        style: form
      - description: A comma-separated list of author ids or names. Only books from
          any of the given authors will be returned. You can retrieve author ids from
          the search authors endpoint. Pass author names is slower and if two authors
          have the same name you can't disambiguate.
        explode: false
        in: query
        name: authors
        required: false
        schema:
          example: J.K. Rowling
          maxLength: 1000
          pattern: "."
          type: string
        style: form
      - description: Only the book matching the ISBN-13 will be returned
        explode: false
        in: query
        name: isbn
        required: false
        schema:
          example: "9781781257654"
          maxLength: 13
          pattern: "."
          type: string
        style: form
      - description: Only the book matching the OCLC will be returned
        explode: false
        in: query
        name: oclc
        required: false
        schema:
          example: "864418200"
          maxLength: 100
          pattern: "."
          type: string
        style: form
      - description: The sorting criteria (publish-date or rating).
        explode: false
        in: query
        name: sort
        required: false
        schema:
          example: rating
          maxLength: 10000
          pattern: "."
          type: string
        style: form
      - description: Whether to sort ascending or descending (ASC or DESC).
        explode: false
        in: query
        name: sort-direction
        required: false
        schema:
          example: DESC
          maxLength: 4
          pattern: "."
          type: string
        style: form
      - description: Whether to group similar editions of the same book.
        explode: false
        in: query
        name: group-results
        required: false
        schema:
          example: false
          type: boolean
        style: form
      - description: The number of books to skip in range [0,1000]
        explode: false
        in: query
        name: offset
        required: false
        schema:
          example: 0
          format: int32
          maximum: 1000
          minimum: 0
          type: integer
        style: form
      - description: The number of books to return in range [1,100]
        explode: false
        in: query
        name: number
        required: false
        schema:
          example: 10
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Response:
                  value:
                    available: 5999
                    number: 10
                    offset: 0
                    books:
                    - title: Journey to Hogwarts
                      image: https://covers.openlibrary.org/b/id/2520429-M.jpg
                      id: 17200576
                    - image: https://covers.openlibrary.org/b/id/2520430-M.jpg
                      id: 15954006
                      title: Inside Hogwarts
                      subtitle: Magical Paintbook
                    - title: Harry Potter and the Goblet of Fire
                      image: https://covers.openlibrary.org/b/id/12775900-M.jpg
                      id: 16384516
                    - title: Harry Potter and the Order of the Phoenix
                      image: https://covers.openlibrary.org/b/id/11416565-M.jpg
                      id: 14296534
                    - title: Great Gatsby (Silver Screen Edition)
                      image: https://covers.openlibrary.org/b/id/12791857-M.jpg
                      id: 14530450
                    - image: https://covers.openlibrary.org/b/id/394001-M.jpg
                      id: 18810398
                      title: The Hobbit
                      subtitle: or, There and back again
                    - image: https://covers.openlibrary.org/b/id/6282709-M.jpg
                      id: 13597674
                      title: The Name of the Wind
                      subtitle: 'The Kingkiller Chronicle : day one'
                    - image: https://covers.openlibrary.org/b/id/13220226-M.jpg
                      id: 20778556
                      title: 'Two Towers : The Lord of the Rings'
                      subtitle: Part Two
                    - title: Frankenstein (Silver Screen Edition)
                      image: https://covers.openlibrary.org/b/id/12791860-M.jpg
                      id: 20101114
                    - title: Bogar bárd meséi
                      image: https://covers.openlibrary.org/b/id/9326689-M.jpg
                      id: 17798828
              schema:
                $ref: '#/components/schemas/inline_response_200'
          description: Success
        "401":
          description: Unauthorized
        "402":
          description: Payment Required
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "406":
          description: Not Acceptable
        "429":
          description: Too Many Requests
      summary: Search Books
      tags:
      - Books
      x-accepts: application/json
  /list-similar-books:
    get:
      deprecated: false
      description: Find books that are similar to the given book. This is useful for
        recommending books to users based on their reading history or preferences.
        The response will contain a list of similar books with their title, id, and
        cover image.
      externalDocs:
        description: Read entire docs
        url: https://apileague.com/apis/find-similar-books-api
      operationId: findSimilarBooks
      parameters:
      - description: The id of the book to which similar books should be found.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 8302059
          format: int32
          maximum: 999999999
          minimum: 0
          type: integer
        style: simple
      - description: The number of similar books to return in range [1,100]
        explode: false
        in: query
        name: number
        required: false
        schema:
          example: 10
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Response:
                  value:
                    similar_books:
                    - title: Harry Potter and the Order of the Phoenix
                      image: https://covers.openlibrary.org/b/id/11416565-M.jpg
                      id: 14296534
                    - title: Harry Potter and the Half-Blood Prince
                      image: https://covers.openlibrary.org/b/id/8235163-M.jpg
                      id: 16499448
                    - title: Blood and Fire
                      image: https://covers.openlibrary.org/b/id/10404497-M.jpg
                      id: 18610968
                    - image: https://covers.openlibrary.org/b/id/6657713-M.jpg
                      id: 20464852
                      title: Towers of midnight
                      subtitle: Wheel of Time Book 13
                    - image: https://covers.openlibrary.org/b/id/3027823-M.jpg
                      id: 13804028
                      title: Best of Robert Jordan
                      subtitle: The Shadow Rising; The Fires of Heaven; Lord of Chaos;
                        A Crown of Swords (The Wheel of Time Series)
                    - title: MAR, Volume 7
                      image: https://covers.openlibrary.org/b/id/765103-M.jpg
                      id: 14987824
                    - title: The Daysong of the Knightbird
                      image: https://covers.openlibrary.org/b/id/1822804-M.jpg
                      id: 19984854
                    - title: The key
                      image: https://covers.openlibrary.org/b/id/8369732-M.jpg
                      id: 17174416
                    - title: Bring me the head of Prince Charming
                      image: https://covers.openlibrary.org/b/id/3965371-M.jpg
                      id: 20121054
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
          description: Success
        "401":
          description: Unauthorized
        "402":
          description: Payment Required
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "406":
          description: Not Acceptable
        "429":
          description: Too Many Requests
      summary: Find Similar Books
      tags:
      - Books
      x-accepts: application/json
  /search-news:
    get:
      deprecated: false
      description: Search and filter news by text, date, location, language, and more.
        The API returns a list of news articles matching the given criteria. You can
        set as many filtering parameters as you like, but you have to set at least
        one, e.g. text or language.
      externalDocs:
        description: Read entire docs
        url: https://apileague.com/apis/search-news-api
      operationId: searchNews
      parameters:
      - description: The text to match in the news content. By default all query terms
          are expected, you can use an uppercase OR to search for any terms, e.g.
          tesla OR ford
        explode: false
        in: query
        name: text
        required: false
        schema:
          example: tesla
          maxLength: 300
          pattern: "."
          type: string
        style: form
      - description: A comma-separated list of ISO 3166 country codes from which the
          news should originate.
        explode: false
        in: query
        name: source-countries
        required: false
        schema:
          example: us,uk
          maxLength: 100
          pattern: "."
          type: string
        style: form
      - description: The ISO 6391 language code of the news.
        explode: false
        in: query
        name: language
        required: false
        schema:
          example: en
          maxLength: 2
          pattern: "."
          type: string
        style: form
      - description: The minimal sentiment of the news in range [-1,1].
        explode: false
        in: query
        name: min-sentiment
        required: false
        schema:
          example: -0.8
          format: double
          maximum: 1
          minimum: -1
          type: number
        style: form
      - description: The maximal sentiment of the news in range [-1,1].
        explode: false
        in: query
        name: max-sentiment
        required: false
        schema:
          example: 0.8
          format: double
          maximum: 1
          minimum: -1
          type: number
        style: form
      - description: The news must have been published after this date.
        explode: false
        in: query
        name: earliest-publish-date
        required: false
        schema:
          example: 2022-04-22 16:12:35
          maxLength: 100
          pattern: "."
          type: string
        style: form
      - description: The news must have been published before this date.
        explode: false
        in: query
        name: latest-publish-date
        required: false
        schema:
          example: 2022-04-22 16:12:35
          maxLength: 100
          pattern: "."
          type: string
        style: form
      - description: A comma-separated list of news sources from which the news should
          originate.
        explode: false
        in: query
        name: news-sources
        required: false
        schema:
          example: https://www.bbc.co.uk
          maxLength: 10000
          pattern: "."
          type: string
        style: form
      - description: A comma-separated list of author names. Only news from any of
          the given authors will be returned.
        explode: false
        in: query
        name: authors
        required: false
        schema:
          example: John Doe
          maxLength: 300
          pattern: "."
          type: string
        style: form
      - description: Filter news by entities (see semantic types).
        explode: false
        in: query
        name: entities
        required: false
        schema:
          example: ORG:Tesla
          maxLength: 10000
          pattern: "."
          type: string
        style: form
      - description: Filter news by radius around a certain location. Format is "latitude,longitude,radius
          in kilometers"
        explode: false
        in: query
        name: location-filter
        required: false
        schema:
          example: 51.050407, 13.737262, 100
          maxLength: 100
          pattern: "."
          type: string
        style: form
      - description: The sorting criteria (publish-time or sentiment).
        explode: false
        in: query
        name: sort
        required: false
        schema:
          example: publish-time
          maxLength: 100
          pattern: "."
          type: string
        style: form
      - description: Whether to sort ascending or descending (ASC or DESC).
        explode: false
        in: query
        name: sort-direction
        required: false
        schema:
          example: ASC
          maxLength: 4
          pattern: "."
          type: string
        style: form
      - description: The number of news to skip in range [0,10000]
        explode: false
        in: query
        name: offset
        required: false
        schema:
          example: 0
          format: int32
          maximum: 10000
          minimum: 0
          type: integer
        style: form
      - description: The number of news to return in range [1,100]
        explode: false
        in: query
        name: number
        required: false
        schema:
          example: 10
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Response:
                  value:
                    offset: 0
                    number: 10
                    available: 83
                    news:
                    - summary: Tesla CEO Elon Musk has revealed new details about
                        the upcoming Cybertruck electric pickup truck. According to
                        Musk, its initial production will begin with a four-motor
                        variant.
                      image: https://internetprotocol.co/content/images/2021/12/Tesla-to-Release-a-Four-Motor-Version-of-Cybertruck.png
                      sentiment: 0.712523
                      source_country: co
                      language: en
                      id: 28
                      text: 'Tesla CEO Elon Musk has revealed new details about the
                        upcoming Cybertruck electric pickup truck, the mass production
                        of which was delayed until 2023 because of the lack of components
                        and a lot of complex technologies that need to be scaled up.
                        According to Musk, the initial production of the electric
                        pickup truck will begin with a four-motor variant with “independent,
                        ultra fast response torque control of each wheel,” the tweet
                        reads. In response, Twitter users asked if the Cybertruck
                        could turn like a tank. Musk said that thanks to both the
                        rear and front wheel steer, the electric truck will not only
                        be able to turn like a tank, but also drive diagonally like
                        a crab. According to Electrek, this change could be Tesla''s
                        reaction to what its competitors do. Since the introduction
                        of Tesla’s novelty, the market for electric pickup trucks
                        has significantly evolved. Currently, one electric pickup
                        on the market can turn like a tank – the Rivian R1T, while
                        GMC''s Hummer EV can drive diagonally. Following the announcement
                        of Tesla Cybertruck in 2019, the company announced three configurations
                        of the pickup truck: the entry-level model with one motor,
                        the one with two motors, and the one with three. Rumor has
                        it that the company intends to abandon the single-motor version
                        altogether. In this case, Tesla Cybertruck will be sold with
                        two, three, and four motors. Musk has promised to provide
                        an update on the pickup''s roadmap on the next earnings call.
                        The production of Tesla Cybertruck is expected to begin at
                        the end of 2022, and its mass production is slated to start
                        in 2023.'
                      title: Tesla to Release a Four-Motor Version of Cybertruck
                      publish_date: 2022-09-30 01:07:48
                      url: https://internetprotocol.co/hitech/2021/12/07/tesla-to-release-a-four-motor-cybertruck/
                      authors:
                      - Iwan Stone
                      - Zahna Eklund
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
          description: Success
        "401":
          description: Unauthorized
        "402":
          description: Payment Required
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "406":
          description: Not Acceptable
        "429":
          description: Too Many Requests
      summary: Search News
      tags:
      - News
      x-accepts: application/json
  /extract-news:
    get:
      deprecated: false
      description: Extract a news article from a website to a well structure JSON
        object. The API will return the title, text, URL, image, publish date, author,
        language, source country, and sentiment of the news article.
      externalDocs:
        description: Read entire docs
        url: https://apileague.com/apis/extract-news-api
      operationId: extractNews
      parameters:
      - description: The url of the news.
        explode: false
        in: query
        name: url
        required: true
        schema:
          example: https://internetprotocol.co/hitech/2021/12/07/tesla-to-release-a-four-motor-cybertruck/
          maxLength: 1000
          pattern: "."
          type: string
        style: form
      - description: Whether to analyze the news (extract entities etc.)
        explode: false
        in: query
        name: analyze
        required: true
        schema:
          example: true
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Response:
                  value:
                    title: Tesla to Release a Four-Motor Version of Cybertruck
                    text: 'Tesla CEO Elon Musk has revealed new details about the
                      upcoming Cybertruck electric pickup truck, the mass production
                      of which was delayed until 2023 because of the lack of components
                      and a lot of complex technologies that need to be scaled up.
                      According to Musk, the initial production of the electric pickup
                      truck will begin with a four-motor variant with “independent,
                      ultra fast response torque control of each wheel,” the tweet
                      reads. In response, Twitter users asked if the Cybertruck could
                      turn like a tank. Musk said that thanks to both the rear and
                      front wheel steer, the electric truck will not only be able
                      to turn like a tank, but also drive diagonally like a crab.
                      According to Electrek, this change could be Tesla''s reaction
                      to what its competitors do. Since the introduction of Tesla’s
                      novelty, the market for electric pickup trucks has significantly
                      evolved. Currently, one electric pickup on the market can turn
                      like a tank – the Rivian R1T, while GMC''s Hummer EV can drive
                      diagonally. Following the announcement of Tesla Cybertruck in
                      2019, the company announced three configurations of the pickup
                      truck: the entry-level model with one motor, the one with two
                      motors, and the one with three. Rumor has it that the company
                      intends to abandon the single-motor version altogether. In this
                      case, Tesla Cybertruck will be sold with two, three, and four
                      motors. Musk has promised to provide an update on the pickup''s
                      roadmap on the next earnings call. The production of Tesla Cybertruck
                      is expected to begin at the end of 2022, and its mass production
                      is slated to start in 2023.'
                    url: https://internetprotocol.co/hitech/2021/12/07/tesla-to-release-a-four-motor-cybertruck/
                    image: https://internetprotocol.co/content/images/2021/12/Tesla-to-Release-a-Four-Motor-Version-of-Cybertruck.png
                    publish_date: 2022-09-30 01:07:48
                    author: Kay Lee
                    language: en
                    source_country: co
                    sentiment: 0.712523
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
          description: Success
        "401":
          description: Unauthorized
        "402":
          description: Payment Required
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "406":
          description: Not Acceptable
        "429":
          description: Too Many Requests
      summary: Extract News
      tags:
      - News
      x-accepts: application/json
  /search-jokes:
    get:
      deprecated: false
      description: With over 50,000 jokes, you should find something for any occasion.
        There are 27 categories/tags to choose from, but you can also search for very
        specific words within jokes.
      externalDocs:
        description: Read entire docs
        url: https://apileague.com/apis/search-jokes-api
      operationId: searchJokes
      parameters:
      - description: A comma-separated list of words that must occur in the joke.
        explode: false
        in: query
        name: keywords
        required: false
        schema:
          example: horse,man
          maxLength: 300
          pattern: "."
          type: string
        style: form
      - description: A comma-separated list of tags the jokes should have.
        explode: false
        in: query
        name: include-tags
        required: false
        schema:
          example: animal
          maxLength: 300
          pattern: "."
          type: string
        style: form
      - description: A comma-separated list of tags the jokes must not have.
        explode: false
        in: query
        name: exclude-tags
        required: false
        schema:
          example: nsfw,dark
          maxLength: 300
          pattern: "."
          type: string
        style: form
      - description: The minimum rating (0-10) of the jokes.
        explode: false
        in: query
        name: min-rating
        required: false
        schema:
          example: 0
          format: double
          maximum: 1
          minimum: 0
          type: number
        style: form
      - description: The maximum length of the joke in letters.
        explode: false
        in: query
        name: max-length
        required: false
        schema:
          example: 140
          format: double
          maximum: 1
          minimum: 0
          type: number
        style: form
      - description: The number of jokes to skip, between 0 and 1000.
        explode: false
        in: query
        name: offset
        required: false
        schema:
          example: 0
          format: int32
          maximum: 1000
          minimum: 0
          type: integer
        style: form
      - description: The number of jokes, between 1 and 10.
        explode: false
        in: query
        name: number
        required: false
        schema:
          example: 3
          format: int32
          maximum: 10
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Response:
                  value:
                    jokes:
                    - joke: "A retiring farmer in preparation for selling his land,\
                        \ needed to rid his farm of animals. So he went to every house\
                        \ in his town. \nTo the houses where the man is the boss,\
                        \ he gave a horse. To the houses where the woman is the boss,\
                        \ a chicken was given. \nHe got toward the end of the street\
                        \ and saw a couple outside gardening. \"Who's the boss around\
                        \ here?\" he asked. \n\"I am.\" said the man. \n\"I have a\
                        \ black horse and a brown horse,\" the farmer said, \"which\
                        \ one would you like?\" \nThe man thought for a minute and\
                        \ said, \"The black one.\" \n\"No, no, no, get the brown one.\"\
                        \ the man's wife said. \n\"Here's your chicken.\" said the\
                        \ farmer."
                    - joke: "A blonde decides to try horseback riding, even though\
                        \ she has had no\r\nlessons or prior experience. She mounts\
                        \ the horse unassisted and then\r\nhorse immediately springs\
                        \ into motion. It gallops along at a steady and\r\nrhythmic\
                        \ pace, but the blonde begins to slip from the\r\nsaddle.\
                        \ In terror, she grabs for the horse's mane, but cannot seem\
                        \ to get\r\na firm grip.\r\nShe tries to throw her arms around\
                        \ the horse's neck, but she slides down\r\nthe side of the\
                        \ horse anyway. The horse gallops along, seemingly\r\nimpervious\
                        \ to its slipping rider. Finally, giving up her frail grip,\
                        \ she\r\nleaps away from the horse to try and throw herself\
                        \ to safety.\r\nUnfortunately, her foot has become entangled\
                        \ in the stirrup and she is now\r\nat the mercy of the horse's\
                        \ pounding hooves as her head is battered\r\nagainst the ground\
                        \ again and again. She is mere moments away from\r\nunconsciousness\
                        \ when...\r\n ...the Wal-Mart manager runs out to shut the\
                        \ horse off."
                    - joke: Once Chuck Norris met a man on a horse that he did'nt
                        like, now we know him as the headless horseman.
                    available: 169
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
          description: Success
        "401":
          description: Unauthorized
        "402":
          description: Payment Required
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "406":
          description: Not Acceptable
        "429":
          description: Too Many Requests
      summary: Search Jokes
      tags:
      - Humor
      x-accepts: application/json
  /retrieve-random-joke:
    get:
      deprecated: false
      description: This is a simple API that returns a random joke. You can filter
        the jokes by tags and keywords. To make sure they are safe for work, you could
        use the exclude-tags parameter to exclude jokes with certain tags such as
        "nsfw" or "religious".
      externalDocs:
        description: Read entire docs
        url: https://apileague.com/apis/random-joke-api
      operationId: randomJoke
      parameters:
      - description: A comma-separated list of tags the jokes should have.
        explode: false
        in: query
        name: include-tags
        required: false
        schema:
          example: animal
          maxLength: 300
          pattern: "."
          type: string
        style: form
      - description: A comma-separated list of tags the jokes must not have.
        explode: false
        in: query
        name: exclude-tags
        required: false
        schema:
          example: nsfw,dark
          maxLength: 300
          pattern: "."
          type: string
        style: form
      - description: The minimum rating in range [0.0,1.0] of the jokes.
        explode: false
        in: query
        name: min-rating
        required: false
        schema:
          example: 0
          format: double
          maximum: 1
          minimum: 0
          type: number
        style: form
      - description: The maximum length of the joke in letters.
        explode: false
        in: query
        name: max-length
        required: false
        schema:
          example: 140
          format: int32
          maximum: 10000
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Response:
                  value:
                    joke: |-
                      What do you call a boxing match between two aardvarks?
                      A snout bout!
              schema:
                $ref: '#/components/schemas/inline_response_200_4_jokes'
          description: Success
        "401":
          description: Unauthorized
        "402":
          description: Payment Required
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "406":
          description: Not Acceptable
        "429":
          description: Too Many Requests
      summary: Random Joke
      tags:
      - Humor
      x-accepts: application/json
  /search-memes:
    get:
      deprecated: false
      description: With over 200,000 memes, you'll surely find something funny. You
        can even search for text within memes and filter by user ratings.
      externalDocs:
        description: Read entire docs
        url: https://apileague.com/apis/search-memes-api
      operationId: searchMemes
      parameters:
      - description: A comma-separated list of words that must occur in the meme.
        explode: false
        in: query
        name: keywords
        required: false
        schema:
          example: rocket
          maxLength: 300
          pattern: "."
          type: string
        style: form
      - description: Whether the keywords must occur in the image.
        explode: false
        in: query
        name: keywords-in-image
        required: false
        schema:
          example: true
          type: boolean
        style: form
      - description: The media type (either 'image', 'video' or even specific format
          such as 'jpg', 'png', or 'gif').
        explode: false
        in: query
        name: media-type
        required: false
        schema:
          example: image
          maxLength: 10
          pattern: "."
          type: string
        style: form
      - description: The minimum rating in range [0.0,1.0] of the meme.
        explode: false
        in: query
        name: min-rating
        required: false
        schema:
          example: 0
          format: double
          maximum: 1
          minimum: 0
          type: number
        style: form
      - description: The maximum age of the meme in days.
        explode: false
        in: query
        name: max-age-days
        required: false
        schema:
          example: 30
          format: int32
          maximum: 10000
          minimum: 0
          type: integer
        style: form
      - description: The number of memes to skip, between 0 and 1000.
        explode: false
        in: query
        name: offset
        required: false
        schema:
          example: 0
          format: int32
          maximum: 1000
          minimum: 0
          type: integer
        style: form
      - description: The number of memes, between 0 and 10.
        explode: false
        in: query
        name: number
        required: false
        schema:
          example: 3
          format: int32
          maximum: 10
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Response:
                  value:
                    memes:
                    - type: video/mp4
                      description: 'Hey, you want a light show?: Edit: Thank you for
                        getting the joke. I didn’t think a joke about gloving would
                        land, but I appreciate your sense of humor Imgur. Let me know
                        what shows you are going to or went to this year. DM me if
                        you want to team up on Rocket League.'
                      url: https://i.imgur.com/4msjS5E.mp4
                    - type: image/png
                      description: 'Rocket Money is a scam.: Prevented a $30 charge
                        of something I don''t use anymore. Feels good.'
                      url: https://i.imgur.com/q3cZlpv.png
                    - type: image/jpeg
                      description: 'Rocket Money is a scam.: Cat tax.'
                      url: https://i.imgur.com/yaZoCFP.jpg
                    available: 156
              schema:
                $ref: '#/components/schemas/inline_response_200_5'
          description: Success
        "401":
          description: Unauthorized
        "402":
          description: Payment Required
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "406":
          description: Not Acceptable
        "429":
          description: Too Many Requests
      summary: Search Memes
      tags:
      - Humor
      x-accepts: application/json
  /retrieve-random-meme:
    get:
      deprecated: false
      description: Get a random meme out of over 200,000+ memes. To get the latest
        memes, you can use the max-age-days parameter.
      externalDocs:
        description: Read entire docs
        url: https://apileague.com/apis/random-meme-api
      operationId: randomMeme
      parameters:
      - description: A comma-separated list of words that must occur in the meme.
        explode: false
        in: query
        name: keywords
        required: false
        schema:
          example: airplane
          maxLength: 300
          pattern: "."
          type: string
        style: form
      - description: Whether the keywords must occur in the image.
        explode: false
        in: query
        name: keywords-in-image
        required: false
        schema:
          example: true
          type: boolean
        style: form
      - description: The media type (either 'image', 'video' or even specific format
          such as 'jpg', 'png', or 'gif').
        explode: false
        in: query
        name: media-type
        required: false
        schema:
          example: image
          maxLength: 10
          pattern: "."
          type: string
        style: form
      - description: The minimum rating in range [0.0-1.0] of the meme.
        explode: false
        in: query
        name: min-rating
        required: false
        schema:
          example: 0
          format: double
          maximum: 1
          minimum: 0
          type: number
        style: form
      - description: The maximum age of the meme in days.
        explode: false
        in: query
        name: max-age-days
        required: false
        schema:
          example: 30
          format: int32
          maximum: 1000
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Response:
                  value:
                    description: That's totally fine.
                    url: https://preview.redd.it/2wpfufhz8p751.jpg?width=640&crop=smart&auto=webp&s=dab7d5eba791f3a884b0c0614630c99e38c46c4d
                    type: image/jpeg
                    width: 640
                    height: 702
                    ratio: 0.911681
              schema:
                $ref: '#/components/schemas/inline_response_200_6'
          description: Success
        "401":
          description: Unauthorized
        "402":
          description: Payment Required
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "406":
          description: Not Acceptable
        "429":
          description: Too Many Requests
      summary: Random Meme
      tags:
      - Humor
      x-accepts: application/json
  /search-gifs:
    get:
      deprecated: false
      description: Search through hundreds of thousands of gifs to match any reaction
        you want. The gifs are returned in a list with the URL, width, and height
        of the gif.
      externalDocs:
        description: Read entire docs
        url: https://apileague.com/apis/search-gifs-api
      operationId: searchGifs
      parameters:
      - description: The search query.
        explode: false
        in: query
        name: query
        required: true
        schema:
          example: dogs
          maxLength: 300
          pattern: "."
          type: string
        style: form
      - description: The number of gifs to return in range [1,10]
        explode: false
        in: query
        name: number
        required: false
        schema:
          example: 5
          format: int32
          maximum: 10
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Response:
                  value:
                    images:
                    - width: 362
                      url: https://media.tenor.com/xEf4j9pnMywAAAAC/dog-dogs.gif
                      height: 498
                    - width: 248
                      url: https://media.tenor.com/U-g_SmVeq40AAAAC/poodle-dancing-dog-poodle.gif
                      height: 498
                    - width: 498
                      url: https://media.tenor.com/SmFA9ziWpx4AAAAC/dogs-dog.gif
                      height: 374
              schema:
                $ref: '#/components/schemas/inline_response_200_7'
          description: Success
        "401":
          description: Unauthorized
        "402":
          description: Payment Required
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "406":
          description: Not Acceptable
        "429":
          description: Too Many Requests
      summary: Search Gifs
      tags:
      - Humor
      x-accepts: application/json
  /generate-nonsense-word:
    get:
      deprecated: false
      description: Generate a funny sounding nonsense word. This is useful for generating
        random words for games, naming things, or just for fun. The response will
        contain the generated word and a rating of how funny it is.
      externalDocs:
        description: Read entire docs
        url: https://apileague.com/apis/generate-nonsense-word-api
      operationId: generateNonsenseWord
      parameters: []
      responses:
        "200":
          content:
            application/json:
              examples:
                Response:
                  value:
                    word: caboo
                    rating: 0.41
              schema:
                $ref: '#/components/schemas/inline_response_200_8'
          description: Success
        "401":
          description: Unauthorized
        "402":
          description: Payment Required
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "406":
          description: Not Acceptable
        "429":
          description: Too Many Requests
      summary: Generate Nonsense Word
      tags:
      - Humor
      x-accepts: application/json
  /retrieve-random-trivia:
    get:
      deprecated: false
      description: This endpoint returns a random piece of trivia.
      externalDocs:
        description: Read entire docs
        url: https://apileague.com/apis/random-trivia-api
      operationId: randomTrivia
      parameters:
      - description: The maximum length of the trivia in letters.
        explode: false
        in: query
        name: max-length
        required: false
        schema:
          example: 300
          format: int32
          maximum: 10000
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Response:
                  value:
                    trivia: Koalas sleep up to 20 hours a day.
              schema:
                $ref: '#/components/schemas/inline_response_200_9'
          description: Success
        "401":
          description: Unauthorized
        "402":
          description: Payment Required
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "406":
          description: Not Acceptable
        "429":
          description: Too Many Requests
      summary: Random Trivia
      tags:
      - Knowledge
      x-accepts: application/json
  /retrieve-random-quote:
    get:
      deprecated: false
      description: This API returns a random quote from a collection of quotes. The
        quotes are from famous people and are in English.
      externalDocs:
        description: Read entire docs
        url: https://apileague.com/apis/random-quote-api
      operationId: randomQuote
      parameters:
      - description: The minimum length of the quote in letters.
        explode: false
        in: query
        name: min-length
        required: false
        schema:
          example: 120
          format: int32
          maximum: 10000
          minimum: 1
          type: integer
        style: form
      - description: The maximum length of the quote in letters.
        explode: false
        in: query
        name: max-length
        required: false
        schema:
          example: 300
          format: int32
          maximum: 10000
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Response:
                  value:
                    author: Francis Bacon
                    quote: A little philosophy inclineth man's mind to atheism, but
                      depth in philosophy bringeth men's minds about to religion.
              schema:
                $ref: '#/components/schemas/inline_response_200_10'
          description: Success
        "401":
          description: Unauthorized
        "402":
          description: Payment Required
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "406":
          description: Not Acceptable
        "429":
          description: Too Many Requests
      summary: Random Quote
      tags:
      - Knowledge
      x-accepts: application/json
  /retrieve-random-poem:
    get:
      deprecated: false
      description: Retrieve a random poem by many famous authors. You can filter poem's
        by length (number of lines).
      externalDocs:
        description: Read entire docs
        url: https://apileague.com/apis/random-poem-api
      operationId: randomPoem
      parameters:
      - description: The minimum number of lines of the poem.
        explode: false
        in: query
        name: min-lines
        required: false
        schema:
          example: 5
          format: int32
          maximum: 1000
          minimum: 0
          type: integer
        style: form
      - description: The maximum number of lines of the poem.
        explode: false
        in: query
        name: max-lines
        required: false
        schema:
          example: 20
          format: int32
          maximum: 1000
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Response:
                  value:
                    title: Purpose
                    author: Amos Russel Wells
                    poem: |-
                      Deeply and long the sap must flow
                      Ere the merest layer of elm can grow.

                      Many a wave's recurrent shock
                      Is needed to smooth the tiniest rock.

                      Thousands of leaves must fade and fall
                      To make the mold by the garden wall.

                      Thus, as the patient seasons roll,
                      Slowly is fashioned a human soul.

                      Purpose and failure and purpose still,
                      Steadily moved by a quiet will,—

                      Layer on layer in sturdy way,
                      Hardly seen the growth of a day,—

                      Times of failure and fear and fall,
                      But one strong tendency through it all,—

                      God and purpose and sun by sun
                      Reach the stars before they are done!
                      For I know the plans I have for you,” declares the Lord, “plans to prosper you and not to harm you, plans to give you hope and a future
              schema:
                $ref: '#/components/schemas/inline_response_200_11'
          description: Success
        "401":
          description: Unauthorized
        "402":
          description: Payment Required
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "406":
          description: Not Acceptable
        "429":
          description: Too Many Requests
      summary: Random Poem
      tags:
      - Art
      x-accepts: application/json
  /convert-image-to-ascii-txt:
    get:
      deprecated: false
      description: Convert an image to ASCII art. You can pass the image URL as a
        query parameter. The API returns the ASCII art as plain text. This endpoint
        is using the GET method and an image URL as a query parameter.
      externalDocs:
        description: Read entire docs
        url: https://apileague.com/apis/image-to-ascii-art-api
      operationId: imageToAsciiArtByURL
      parameters:
      - description: The URL to the image.
        explode: false
        in: query
        name: url
        required: true
        schema:
          example: https://upload.wikimedia.org/wikipedia/commons/3/35/Basic_human_drawing.png
          maxLength: 1000
          pattern: "."
          type: string
        style: form
      - description: The maximum width of the image (default 400, max. 500).
        explode: false
        in: query
        name: width
        required: false
        schema:
          example: 200
          format: int32
          maximum: 500
          minimum: 1
          type: integer
        style: form
      - description: The maximum height of the image (default 400, max. 500).
        explode: false
        in: query
        name: height
        required: false
        schema:
          example: 200
          format: int32
          maximum: 500
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            text/plain:
              examples:
                Response:
                  value: |-
                    .................................................................................................
                    .................................................................................................
                    .................................................................................................
                    .................................................................................................
                    .................................................................................................
                    .................................................................................................
                    .................................................................................................
                    ..............................................,,,,,,,,...........................................
                    ...........................................:+?%%%%%%%%*;,........................................
                    ........................................,+%###S%????SS##S?;......................................
                    .......................................*S@#*;;:,,,,,::;+%##%;....................................
                    .....................................:%@S+:,............,;?##*,..................................
                    ...................................,+##*,.................,;%#%:.................................
                    ...................................*@S:.....................,*##;................................
                    ..................................*#%:........................;#S;...............................
                    .................................*@%,..........................;#S:..............................
                    ................................;#S:............................+@?,.............................
                    ...............................,%#;..............................?#;.............................
                    ...............................+#+...............................,SS,............................
                    ..............................:S%,................................+@*............................
                    ..............................+#+.................................,S#:...........................
                    .............................,?#:..................................*@*...........................
                    .............................,S?...................................,@%...........................
                    .............................:#+....................................%#,..........................
                    .............................;#;....................................+#:..........................
                    .............................*S,....................................:@+..........................
                    .............................?S,....................................:@*..........................
                    .............................*S,....................................:@+..........................
                    .............................?S,....................................:@*..........................
                    .............................*S,....................................:@+..........................
                    .............................:#;....................................*#:..........................
                    .............................:#*....................................SS,..........................
                    .............................,%%,..................................,@%...........................
                    ..............................*#:..................................?@+...........................
                    ..............................;#*.................................:##,...........................
                    ..............................,%S,................................*@*............................
                    ...............................;#*...............................:S%,............................
                    ...............................,?#+.............................,%#:.............................
                    ................................:##;............................*@*..............................
                    .................................+#S:..........................*#%,..............................
                    ..................................;#S:.......................,*@%:...............................
                    ...................................;SS+,....................:?#%:................................
                    ....................................:%@S+.................,*##*,.................................
                    .....................................,+#@%;.............,*S@S;...................................
                    .......................................:?#@S?+;:,,,,:;*%#@S+,....................................
                    .........................................,+%#@@#####@@@#%;,......................................
                    ............................................:+*?S#@S?*;,.........................................
                    ................................................,%#:.............................................
                    ................................................,%#:.............................................
                    ................................................,%#:.............................................
                    ................................................,%#:.............................................
                    ................................................,%#:.............................................
                    ................................................,%#:.............................................
                    ................................................,%#:.............................................
                    ................................................,%#:.............................................
                    ................................................:S@?,............................................
                    ...............................................,?@@@+............................................
                    ...............................................*#@@@S:...........................................
                    ..............................................*@%%@@@?...........................................
                    .............................................+@S;?S%@#;..........................................
                    ............................................+@#;,%S;%@S,.........................................
                    ...........................................:##;.,%#::#@*.........................................
                    ..........................................:##;..,%#:.*@#;........................................
                    .........................................;##;...,%#:.,%@S,.......................................
                    ........................................:S#+....,%#:..:S@*.......................................
                    .......................................,%#*.....,%#:...+@#;......................................
                    ......................................,%#*......,%#:...,%@S,.....................................
                    .....................................:%@+.......,%#:....:S@*.....................................
                    ....................................,%@*........,%#:.....+@#;....................................
                    ...................................,*@?,........,%#:.....,?@%,...................................
                    ...................................*#?,.........,%#:......:%#+...................................
                    ..................................*@?,..........,%#:.......;#S:..................................
                    ................................,*@%,...........,%#:.......,*@?..................................
                    ................................+@#;............,%#:........:S@+.................................
                    ...............................;##;.............,%#:.........+#S:................................
                    ..............................;S#;..............,%#:.........,?@*,...............................
                    .............................:S#;...............,%#:..........,%#;...............................
                    ............................:#@*................,%#:...........:#%:..............................
                    ...........................:#@*.................,%#:............*@*..............................
                    ..........................,%@?..................,%#:............,SS:.............................
                    .........................,%@?...................,%#:.............;#?,............................
                    ........................:%@?....................,%#:..............?@*............................
                    .......................:%@%,....................,%#:..............,##;...........................
                    ......................,%@%,.....................,%#:...............;#S,..........................
                    ......................*@S:......................,%#:................+@?..........................
                    ....................,*@S:.......................,%#:.................?#;.........................
                    ...................,*@S:........................,%#:.................:SS,........................
                    ...................*@%:.........................,%#:..................+@?........................
                    ..................+@%,..........................,%#:..................,%#;.......................
                    .................;#S:...........................,%#:...................:#S:......................
                    ................:##;............................,%#:....................+@?,.....................
                    ...............:S#;.............................,%#:....................,?#+.....................
                    ..............;##;..............................,%#:.....................:SS:....................
                    .............:S#;...............................,%#:......................+#?,...................
                    ............,%@+................................,%#:......................,?#+...................
                    ...........,%@*.................................,%#:.......................:SS:..................
                    ...........?@*..................................,%#:........................+#*..................
                    ...........+*...................................,%#:........................,*;..................
                    ................................................,%#:.............................................
                    ................................................,%#:.............................................
                    ................................................,%#:.............................................
                    ................................................,%#:.............................................
                    ................................................,%#:.............................................
                    ................................................,%#:.............................................
                    ................................................,%#:.............................................
                    ................................................,%#:.............................................
                    ................................................,%#:.............................................
                    ................................................,%#:.............................................
                    ................................................,%#:.............................................
                    ................................................,%#:.............................................
                    ................................................,%#:.............................................
                    ................................................,%#:.............................................
                    ................................................,%#:.............................................
                    ................................................,%#:.............................................
                    ................................................,%#:.............................................
                    ................................................,%#:.............................................
                    ................................................,%#:.............................................
                    ................................................,%#:.............................................
                    ................................................,%#:.............................................
                    ................................................,%#:.............................................
                    ................................................,%#:.............................................
                    ................................................,%#:.............................................
                    ................................................,%#:.............................................
                    ................................................,%#:.............................................
                    ................................................,%#:.............................................
                    ................................................,%#:.............................................
                    ................................................+#@+.............................................
                    ...............................................;SS##;............................................
                    ..............................................+#%;+#S;...........................................
                    .............................................+#S;..?@S:..........................................
                    ............................................;#S;...,%@%,.........................................
                    ..........................................,*#S:.....,%@?.........................................
                    .........................................,?@S:.......:S@*........................................
                    .........................................?@S:.........:S@+.......................................
                    ........................................?@S:...........:##;......................................
                    .......................................?@S:.............+@#;.....................................
                    ......................................?@S:...............+@S:....................................
                    ....................................,?@S;.................*@%,...................................
                    ...................................,*@S:...................*@*,..................................
                    ..................................,?#%:....................,?#*..................................
                    .................................:%@?,......................,%#+.................................
                    ................................:%@?,........................:S#;................................
                    ...............................:%@?,..........................;##;...............................
                    ..............................:%@?,............................+#S:..............................
                    .............................,%@?,..............................+#%..............................
                    ............................,S@?,...............................,?@?.............................
                    ...........................,S@%,.................................,%@;............................
                    ..........................:S@*,...................................:S@;...........................
                    .........................;S#+......................................;S#:..........................
                    ........................+#S;........................................:#S:.........................
                    .......................;##:..........................................;@%,........................
                    ......................;##;............................................+@*........................
                    .....................;##:.............................................,%@*.......................
                    ....................;##;...............................................,%#+......................
                    ...................;#S;.................................................,S#;.....................
                    ..................;S#;...................................................:#S:....................
                    .................+S#;.....................................................+#%:...................
                    ...............,*#S;.......................................................+#?,..................
                    ..............,*#%,.........................................................*#?,.................
                    .............,*@%,..........................................................,?@*.................
                    .............;@?,............................................................:%#:................
                    .............:*,..............................................................:+,................
                    .................................................................................................
                    .................................................................................................
                    .................................................................................................
                    .................................................................................................
                    .................................................................................................
                    .................................................................................................
                    .................................................................................................
                    .................................................................................................
                    .................................................................................................
                    .................................................................................................
                    .................................................................................................
                    .................................................................................................
                    .................................................................................................
                    .................................................................................................
                    .................................................................................................
                    .................................................................................................
                    .................................................................................................
                    .................................................................................................
              schema:
                type: string
          description: Success
        "401":
          description: Unauthorized
        "402":
          description: Payment Required
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "406":
          description: Not Acceptable
        "429":
          description: Too Many Requests
      summary: Image to Ascii Art by URL
      tags:
      - Art
      x-accepts: text/plain
  /extract-content:
    get:
      deprecated: false
      description: Extract the main content from a web page. This API is useful for
        extracting the main text, title, and images from a web page. It can be used
        to create a summary of the content of a web page, or to extract the main content
        of a web page to display it in a different format.
      externalDocs:
        description: Read entire docs
        url: https://apileague.com/apis/extract-web-content-api
      operationId: extractContentFromAWebPage
      parameters:
      - description: The url for which the content will be extracted.
        explode: false
        in: query
        name: url
        required: true
        schema:
          example: https://www.bbc.com/news/entertainment-arts-68270826
          maxLength: 1000
          pattern: "."
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Response:
                  value:
                    title: Usher joined by Alicia Keys and will.i.am at Super Bowl
                      half-time show
                    main_text: "R&B star Usher delivered a hit-heavy half-time show\
                      \ at Sunday's Super Bowl - with help from will.i.am, Alicia\
                      \ Keys, Ludacris... and a pair of roller skates.\n\nA disclaimer\
                      \ shown before the performance jokingly warned viewers it may\
                      \ cause \"singing, dancing, sweating, gyrating, and possible\
                      \ relationship issues\". It would go on to deliver on all fronts.\
                      \ \n\nDressed in all-white and surrounded by a swarm of energetic\
                      \ dancers, Usher emerged on the stage at the Allegiant Stadium\
                      \ in Las Vegas and launched straight into one of his best-known\
                      \ songs, Caught Up.\n\nIt kicked off a dynamic performance which\
                      \ took advantage of the 45-year-old's dancing skills and sizeable\
                      \ back catalogue. \n\nBefore his half-time show, Usher admitted\
                      \ it had been \"a challenge to squeeze 30 years in to 13 minutes\"\
                      . But the singer did an admirable job of cramming in as many\
                      \ of his most recognisable songs as possible. \n\nThe set featured\
                      \ acrobats and a brass band so large there were enough members\
                      \ to spell out \"USHER\" on the grounds of the stadium as he\
                      \ was performing.\n\nThe singer switched effortlessly between\
                      \ the two apexes of his music: club anthems and sex jams. \n\
                      \nSome songs ran for a full verse and a chorus, others for just\
                      \ a few seconds. A tiny snippet of Superstar appropriately saw\
                      \ him sing only the lyrics: \"Spotlight / big stage / 50,000\
                      \ fans screaming in a rage\" - as if to hammer home the magnitude\
                      \ of his Super Bowl show. \n\nThe dancers who surrounded him\
                      \ - many of whom had only travelled a short distance from his\
                      \ Vegas residency - wore colourful, even outlandish outfits,\
                      \ perfectly complementing his central performance and adding\
                      \ to the sense of spectacle.\n\nOnce Usher was a few songs deep\
                      \ and well into his groove, [...]"
                    main_html: <article>[...]</article>
                    images:
                    - https://ichef.bbci.co.uk/news/976/cpsprodpb/FDEA/production/_132620056_crgettyimages-2003966267.jpg
                    - https://ichef.bbci.co.uk/news/976/cpsprodpb/C802/production/_132620215_crgettyimages-1996271673.jpg
                    - https://ichef.bbci.co.uk/news/976/cpsprodpb/88BA/production/_132620053_crgettyimages-2003935602.jpg
              schema:
                $ref: '#/components/schemas/inline_response_200_12'
          description: Success
        "401":
          description: Unauthorized
        "402":
          description: Payment Required
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "406":
          description: Not Acceptable
        "429":
          description: Too Many Requests
      summary: Extract Content from a Web Page
      tags:
      - Web
      x-accepts: application/json
  /extract-publish-date:
    get:
      deprecated: false
      description: Extract the publish date of an article (news or blog). The API
        will return the publish date of the article if it can be found. The date returned
        is in the format YYYY-MM-DD.
      externalDocs:
        description: Read entire docs
        url: https://apileague.com/apis/extract-publish-date-api
      operationId: extractPublishDate
      parameters:
      - description: The url for which the publish date should be extracted.
        explode: false
        in: query
        name: url
        required: true
        schema:
          example: https://www.bbc.com/news/entertainment-arts-68270826
          maxLength: 1000
          pattern: "."
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Response:
                  value:
                    publish_date: 2023-02-13
              schema:
                $ref: '#/components/schemas/inline_response_200_13'
          description: Success
        "401":
          description: Unauthorized
        "402":
          description: Payment Required
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "406":
          description: Not Acceptable
        "429":
          description: Too Many Requests
      summary: Extract Publish Date
      tags:
      - Web
      x-accepts: application/json
  /extract-authors:
    get:
      deprecated: false
      description: Extracts the authors from a given URL. This API is useful for extracting
        the authors from a blog post or news article. The API will return a list of
        authors with their names and links to their profiles if available.
      externalDocs:
        description: Read entire docs
        url: https://apileague.com/apis/extract-authors-api
      operationId: extractAuthors
      parameters:
      - description: The url with the article from which authors should be extracted.
        explode: false
        in: query
        name: url
        required: true
        schema:
          example: https://www.bbc.com/news/entertainment-arts-68270826
          maxLength: 1000
          pattern: "."
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Response:
                  value:
                    authors:
                    - link: ""
                      name: Steven McIntosh
              schema:
                $ref: '#/components/schemas/inline_response_200_14'
          description: Success
        "401":
          description: Unauthorized
        "402":
          description: Payment Required
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "406":
          description: Not Acceptable
        "429":
          description: Too Many Requests
      summary: Extract Authors
      tags:
      - Web
      x-accepts: application/json
  /search-web:
    get:
      deprecated: false
      description: Search the web for a given query. The API returns a list of results
        with the title, summary, and URL.
      externalDocs:
        description: Read entire docs
        url: https://apileague.com/apis/web-search-api
      operationId: searchWeb
      parameters:
      - description: The search query.
        explode: false
        in: query
        name: query
        required: true
        schema:
          example: penguins
          maxLength: 300
          pattern: "."
          type: string
        style: form
      - description: The number of results to return in range [1,50]
        explode: false
        in: query
        name: number
        required: false
        schema:
          example: 5
          format: int32
          maximum: 50
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Response:
                  value:
                    results:
                    - title: Penguin - Wikipedia
                      summary: 'Penguins are a group of aquatic flightless birds from
                        the family Spheniscidae (/ s f ɪ ˈ n ɪ s ɪ d iː,-d aɪ /) of
                        the order Sphenisciformes (/ s f ɪ ˈ n ɪ s ə f ɔːr m iː z
                        /). They live almost exclusively in the Southern Hemisphere:
                        only one species, the Galápagos penguin, is found north of
                        the Equator.Highly adapted for life in the ocean water, penguins
                        have countershaded dark ...'
                      url: https://en.wikipedia.org/wiki/Penguin
                    - title: Penguin | Features, Habitat, & Facts | Britannica
                      summary: Learn about penguins, the flightless marine birds that
                        live only in the Southern Hemisphere. Find out their general
                        features, habitat, and facts, such as their distribution,
                        diet, behavior, and conservation status. See images and videos
                        of different species of penguins, such as the emperor, the
                        fairy, and the Galapagos penguin.
                      url: https://www.britannica.com/animal/penguin
                    - title: Penguins, facts and photos - National Geographic
                      summary: Learn about the 18 different species of penguins, their
                        adaptations, behavior, and threats. Find out how they live,
                        breed, and feed in the Antarctic and subantarctic regions,
                        and how they cope with the challenges of climate change and
                        predators.
                      url: https://www.nationalgeographic.com/animals/birds/facts/penguins-1
                    - title: Official Pittsburgh Penguins Website | Pittsburgh Penguins
                        - NHL.com
                      summary: The official website of the Pittsburgh Penguins, a
                        professional ice hockey team in the National Hockey League.
                        Find news, tickets, schedule, photos, video, scores, stats,
                        community, and more about the team and its players.
                      url: https://www.nhl.com/penguins/
                    - title: Penguin | Species | WWF - World Wildlife Fund
                      summary: Learn about the 17 to 19 species of penguins that live
                        in the Southern Hemisphere, from the tiny blue penguins of
                        Australia and New Zealand to the majestic emperor penguins
                        of Antarctica. Find out why they matter, what threats they
                        face, and how you can help protect them.
                      url: https://www.worldwildlife.org/species/penguin
              schema:
                $ref: '#/components/schemas/inline_response_200_15'
          description: Success
        "401":
          description: Unauthorized
        "402":
          description: Payment Required
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "406":
          description: Not Acceptable
        "429":
          description: Too Many Requests
      summary: Search Web
      tags:
      - Web
      x-accepts: application/json
  /correct-spelling:
    get:
      deprecated: false
      description: 'The API corrects spelling mistakes in a given text. It returns
        the corrected text or the original text if nothing was corrected. This API
        supports text in the following languages: English (en), French (fr), German
        (de), Italian (it), and Spanish (es).'
      externalDocs:
        description: Read entire docs
        url: https://apileague.com/apis/correct-spelling-api
      operationId: correctSpelling
      parameters:
      - description: The text to be corrected.
        explode: false
        in: query
        name: text
        required: true
        schema:
          example: Driving carss is fun.
          maxLength: 10000
          pattern: "."
          type: string
        style: form
      - description: The language of the text, one of en, de, es, fr, or it.
        explode: false
        in: query
        name: language
        required: true
        schema:
          example: en
          maxLength: 2
          pattern: "."
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Response:
                  value:
                    corrected_text: driving cars is fun
              schema:
                $ref: '#/components/schemas/inline_response_200_16'
          description: Success
        "401":
          description: Unauthorized
        "402":
          description: Payment Required
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "406":
          description: Not Acceptable
        "429":
          description: Too Many Requests
      summary: Correct Spelling
      tags:
      - Text
      x-accepts: application/json
  /detect-language:
    get:
      deprecated: false
      description: Detect the language of the given text. The API returns a list of
        languages and their confidence scores. The confidence score is a value between
        0 and 1, where 1 means the language was detected with 100% confidence. The
        API supports text in 22 languages.
      externalDocs:
        description: Read entire docs
        url: https://apileague.com/apis/detect-language-api
      operationId: detectLanguage
      parameters:
      - description: The text for which the language should be detected.
        explode: false
        in: query
        name: text
        required: true
        schema:
          example: Das ist ein Text.
          maxLength: 10000
          pattern: "."
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Response:
                  value:
                  - language: de
                    confidence: 0.34
                  - language: et
                    confidence: 0.22
                  - language: fi
                    confidence: 0.13
                  - language: sv
                    confidence: 0.11
                  - language: it
                    confidence: 0.11
                  - language: es
                    confidence: 0.05
                  - language: pt
                    confidence: 0.03
                  - language: lt
                    confidence: 0.01
              schema:
                items:
                  $ref: '#/components/schemas/inline_response_200_17'
                type: array
          description: Success
        "401":
          description: Unauthorized
        "402":
          description: Payment Required
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "406":
          description: Not Acceptable
        "429":
          description: Too Many Requests
      summary: Detect Language
      tags:
      - Text
      x-accepts: application/json
  /detect-sentiment:
    get:
      deprecated: false
      description: Detect the sentiment (positive or negative) of a given text. The
        entire document is scored and also each individual sentence.
      externalDocs:
        description: Read entire docs
        url: https://apileague.com/apis/detect-sentiment-api
      operationId: detectSentiment
      parameters:
      - description: The text for which the sentiment should be detected.
        explode: false
        in: query
        name: text
        required: true
        schema:
          example: Happy times feel so good.
          maxLength: 10000
          pattern: "."
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Response:
                  value:
                    document:
                      sentiment: positive
                      confidence: 1
                      average_confidence: 1
                    sentences:
                    - length: 34
                      sentiment: positive
                      offset: 0
                      confidence: 1
              schema:
                $ref: '#/components/schemas/inline_response_200_18'
          description: Success
        "401":
          description: Unauthorized
        "402":
          description: Payment Required
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "406":
          description: Not Acceptable
        "429":
          description: Too Many Requests
      summary: Detect Sentiment
      tags:
      - Text
      x-accepts: application/json
  /score-text:
    get:
      deprecated: false
      description: Score the readability, skimmability, interestingness, and style
        of a text. The readability score is based on the average length of the sentences
        and the average length of the words in the text. The text is scored with multiple
        readability scores such as Flesch, Smog, ARI, LIX, Kincaid, Fog, and Coleman
        Liau. Additionally, information such as the estimated reading time in seconds
        is returned.
      externalDocs:
        description: Read entire docs
        url: https://apileague.com/apis/score-text-api
      operationId: scoreText
      parameters:
      - description: The title of the text to score.
        explode: false
        in: query
        name: title
        required: true
        schema:
          example: A short story
          maxLength: 10000
          pattern: "."
          type: string
        style: form
      - description: The text to score for multiple metrics.
        explode: false
        in: query
        name: text
        required: true
        schema:
          example: A nice short story to be analyzed
          maxLength: 10000
          pattern: "."
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Response:
                  value:
                    number_of_words: 7
                    number_of_sentences: 1
                    readability:
                      mainscores:
                        total_possible: 10
                        total: 10
                      subscores:
                        reading_time_seconds: 1
                        forcast: -0.99
                        flesch: 78.873
                        smog: 8.842
                        ari: 0.237
                        lix: -0.99
                        coleman_liau: 2.633
                        kincaid: 3.997
                        fog: 8.514
                    skimmability:
                      mainscores:
                        total_possible: 10
                        total: 3.076923
                      subscores:
                        bullet_point_ratio_score:
                        - 0
                        - 2
                        image_score:
                        - 0
                        - 3
                        highlighted_word_ratio_score:
                        - 0
                        - 2
                        video_score:
                        - 0
                        - 1
                        paragraph_score:
                        - 4
                        - 3
                        paragraph_headline_ratio_score:
                        - 0
                        - 2
                    interestingness:
                      mainscores:
                        total_possible: 10
                        total: 3.571429
                      subscores:
                        title_rating_score:
                        - 1
                        - 4
                        quote_score:
                        - 0
                        - 1
                        length_score:
                        - 0
                        - 2
                        link_score:
                        - 0
                        - 2
                        google_hits_score:
                        - 4
                        - 4
                    style:
                      mainscores:
                        total_possible: 10
                        total: 10
                      subscores:
                        abbreviation_score:
                        - 3
                        - 3
                        style_score:
                        - 5
                        - 5
                        spelling_score:
                        - 5
                        - 5
                    total_score: 6.662088
              schema:
                $ref: '#/components/schemas/inline_response_200_19'
          description: Success
        "401":
          description: Unauthorized
        "402":
          description: Payment Required
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "406":
          description: Not Acceptable
        "429":
          description: Too Many Requests
      summary: Score Text
      tags:
      - Text
      x-accepts: application/json
  /score-readability:
    get:
      deprecated: false
      description: Score the readability of a text. The readability score is based
        on the average length of the sentences and the average length of the words
        in the text. The text is score with multiple readability scores such as Flesch,
        Smog, ARI, LIX, Kincaid, Fog, and Coleman Liau.
      externalDocs:
        description: Read entire docs
        url: https://apileague.com/apis/score-readability-api
      operationId: scoreReadability
      parameters:
      - description: The text to score for readability.
        explode: false
        in: query
        name: text
        required: true
        schema:
          example: A rather complex text, hard to read, and highly convoluted using
            acronym TERMS.
          maxLength: 10000
          pattern: "."
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Response:
                  value:
                    readability:
                      mainscores:
                        total_possible: 10
                        total: 10
                      subscores:
                        reading_time_seconds: 3
                        forcast: -0.99
                        flesch: 50.471
                        smog: 11.208
                        ari: 8.258
                        lix: -0.99
                        coleman_liau: 10.889
                        kincaid: 9.449
                        fog: 11.354
              schema:
                $ref: '#/components/schemas/inline_response_200_20'
          description: Success
        "401":
          description: Unauthorized
        "402":
          description: Payment Required
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "406":
          description: Not Acceptable
        "429":
          description: Too Many Requests
      summary: Score Readability
      tags:
      - Text
      x-accepts: application/json
  /extract-dates:
    get:
      deprecated: false
      description: Extract dates from a given text. The API will return a list of
        dates with their positions in the text and the normalized form of the date.
        A large list of date formats is supported. For example, the text could contain
        dates in the form of "April 5th, 2035", "04/05/2035", or "05.04.2035". The
        normalized date is the date in the form of a timestamp (milliseconds since
        1970).
      externalDocs:
        description: Read entire docs
        url: https://apileague.com/apis/extract-dates-api
      operationId: extractDates
      parameters:
      - description: The text from which dates should be extracted.
        explode: false
        in: query
        name: text
        required: true
        schema:
          example: On 5th or April, 2035 there will be flying cars - 2023-02-12.
          maxLength: 10000
          pattern: "."
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Response:
                  value:
                    dates:
                    - start_position: 3
                      date: April 5th, 2035
                      normalized_date: 2059336800000
                      tag: DATETIME
                      end_position: 18
              schema:
                $ref: '#/components/schemas/inline_response_200_21'
          description: Success
        "401":
          description: Unauthorized
        "402":
          description: Payment Required
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "406":
          description: Not Acceptable
        "429":
          description: Too Many Requests
      summary: Extract Dates
      tags:
      - Text
      x-accepts: application/json
  /list-synonyms:
    get:
      deprecated: false
[...]
